In [1]:
import pandas as pd

reverse mortgage

In [2]:
#read csv

nyc_all_2018 = pd.read_csv('./all_mortgage_data/nyc_all_2018_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

nyc_all_2019 = pd.read_csv('./all_mortgage_data/nyc_all_2019_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

nyc_all_2020 = pd.read_csv('./all_mortgage_data/nyc_all_2020_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

nyc_all_2021 = pd.read_csv('./all_mortgage_data/nyc_all_2021_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

nyc_all_2022 = pd.read_csv('./all_mortgage_data/nyc_all_2022_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

# filter to reverse mortgage

rm_nyc_all_2018 = nyc_all_2018[(nyc_all_2018['reverse_mortgage'] == 1)]
rm_nyc_all_2019 = nyc_all_2019[(nyc_all_2019['reverse_mortgage'] == 1)]
rm_nyc_all_2020 = nyc_all_2020[(nyc_all_2020['reverse_mortgage'] == 1)]
rm_nyc_all_2021 = nyc_all_2021[(nyc_all_2021['reverse_mortgage'] == 1)]
rm_nyc_all_2022 = nyc_all_2022[(nyc_all_2022['reverse_mortgage'] == 1)]

# concatenate 2018-2022 datasets

rm_nyc_all = pd.concat((rm_nyc_all_2018, rm_nyc_all_2019, rm_nyc_all_2020, rm_nyc_all_2021, rm_nyc_all_2022), axis=0)

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_25581/3877254488.py:13: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,44) have mixed types. Specify dtype option on import or set low_memory=False.
  nyc_all_2020 = pd.read_csv('./all_mortgage_data/nyc_all_2020_originated.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_25581/3877254488.py:18: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,44) have mixed types. Specify dtype option on import or set low_memory=False.
  nyc_all_2021 = pd.read_csv('./all_mortgage_data/nyc_all_2021_originated.csv', dtype={

In [3]:
rm_nyc_all

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
53,2018,549300TINI6CL78UD591,35614,NY,36005,36005035600,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,2367,97.08,78000,95,444,676,58
67,2018,549300U4FBW37LFHW771,35614,NY,36005,36005048400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4377,96.02,78000,104,747,1233,42
68,2018,549300U4FBW37LFHW771,35614,NY,36005,36005036400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2389,100.00,78000,87,445,874,70
240,2018,549300TINI6CL78UD591,35614,NY,36005,36005017701,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,...,NaN,NaN,NaN,4946,98.85,78000,37,85,624,76
596,2018,549300YM15OICCNPH537,35614,NY,36005,36005044400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3576,96.81,78000,102,689,1252,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67784,2022,549300BX448ALT10FI43,35614,NY,36081,36081111300,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2611,59.02,99000,162,605,800,64
67786,2022,549300BX448ALT10FI43,35614,NY,36047,36047006901,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1631,27.10,99000,225,235,459,0
69726,2022,549300VGMMXKSX821O69,35614,NY,36047,36047085400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1962,96.74,99000,78,371,744,0
69727,2022,549300VGMMXKSX821O69,35614,NY,36081,36081018000,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,1365,92.97,99000,97,242,387,0
69745,2022,549300VGMMXKSX821O69,35614,NY,36047,36047050202,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2312,26.47,99000,170,719,483,62

In [4]:
rm_nyc_all.to_csv('./reverse_mortgage_data/rm_nyc_all.csv', index=False)

In [8]:
# group by census tract to see mortgage count

nyc_tract_count = rm_nyc_all.groupby('census_tract').agg({
    'lei':'count',
    'tract_population': 'max',
    'tract_minority_population_percent': 'min'
    }).sort_values(by='lei', ascending=False).reset_index()

# rename columns 

nyc_tract_count.columns = ['census_tract', 'rm_no', 'tract_population', 'minority_pct']

# calculate mortgage count per 1000 people

nyc_tract_count['rm_no_per1000'] = nyc_tract_count['rm_no'] / nyc_tract_count['tract_population'] * 1000 
nyc_tract_count.sort_values(by='rm_no', ascending=False).reset_index(drop=True)

     census_tract  rm_no  tract_population  minority_pct  rm_no_per1000
0     36081033000     16              7365         98.52       2.172437
1     36047027500     11              4346         72.81       2.531063
2     36047037900     11              3851         88.70       2.856401
3     36081088400     10              7578         19.16       1.319609
4     36081035800     10              4508         99.11       2.218279
...           ...    ...               ...           ...            ...
1027  36085027704      1              4357         26.99       0.229516
1028  36005005001      1              4885        100.00       0.204708
1029  36047092200      1              2880         99.27       0.347222
1030  36005003900      1              6614         98.11       0.151194
1031  36047020000      1              2216         46.66       0.451264

[1032 rows x 5 columns]

census

In [10]:
# read census csv

acs2020 = pd.read_csv('./census_data/acs_2020_nyc.csv')

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_25581/143319477.py:3: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,114,115,116,117,118,119,120,121,122,123,124,125,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,361,454,455,470,473,486,489,606,607,634,637,702,703) have mixed types. Specify dtype option on import or set low_memory=False.
  acs2020 = pd.read_csv('./census_data/acs_2020_nyc.csv')

In [11]:
acs2020

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001MA,DP05_0001EA,DP05_0002E,DP05_0002M,DP05_0002MA,DP05_0002EA,...,DP05_0087PMA,DP05_0088PE,DP05_0088PEA,DP05_0088PM,DP05_0088PMA,DP05_0089PE,DP05_0089PM,DP05_0089PMA,DP05_0089PEA,Unnamed: 714
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Annotation of Margin of Error!!SEX AND AGE!!To...,Annotation of Estimate!!SEX AND AGE!!Total pop...,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Annotation of Margin of Error!!SEX AND AGE!!To...,Annotation of Estimate!!SEX AND AGE!!Total pop...,...,Annotation of Percent Margin of Error!!CITIZEN...,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Annotation of Percent!!CITIZEN, VOTING AGE POP...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",Annotation of Percent Margin of Error!!CITIZEN...,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",Annotation of Percent Margin of Error!!CITIZEN...,"Annotation of Percent!!CITIZEN, VOTING AGE POP...",NaN
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",6600,684,NaN,NaN,6145,680,NaN,NaN,...,(X),93.2,NaN,2.3,NaN,6.8,2.3,NaN,NaN,NaN
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",4167,713,NaN,NaN,2155,483,NaN,NaN,...,(X),51.1,NaN,6.4,NaN,48.9,6.4,NaN,NaN,NaN
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",5684,986,NaN,NaN,2917,615,NaN,NaN,...,(X),52.0,NaN,4.6,NaN,48.0,4.6,NaN,NaN,NaN
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",5917,719,NaN,NaN,2479,440,NaN,NaN,...,(X),39.6,NaN,5.4,NaN,60.4,5.4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",6569,838,NaN,NaN,3286,479,NaN,NaN,...,(X),49.8,NaN,4.1,NaN,50.2,4.1,NaN,NaN,NaN
2324,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",3293,681,NaN,NaN,1624,469,NaN,NaN,...,(X),46.5,NaN,9.6,NaN,53.5,9.6,NaN,NaN,NaN
2325,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",4953,739,NaN,NaN,2233,438,NaN,NaN,...,(X),40.1,NaN,6.3,NaN,59.9,6.3,NaN,NaN,NaN
2326,1400000US36085032300,"Census Tract 323, Richmond County, New York",1200,380,NaN,NaN,581,183,NaN,NaN,...,(X),47.2,NaN,7.8,NaN,52.8,7.8,NaN,NaN,NaN
2327,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,12,NaN,NaN,0,12,NaN,NaN,...,(X),-,-,**,**,-,**,**,-,NaN

In [12]:
# drop the second header row

acs2020 = acs2020.drop([0])
acs2020

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001MA,DP05_0001EA,DP05_0002E,DP05_0002M,DP05_0002MA,DP05_0002EA,...,DP05_0087PMA,DP05_0088PE,DP05_0088PEA,DP05_0088PM,DP05_0088PMA,DP05_0089PE,DP05_0089PM,DP05_0089PMA,DP05_0089PEA,Unnamed: 714
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",6600,684,NaN,NaN,6145,680,NaN,NaN,...,(X),93.2,NaN,2.3,NaN,6.8,2.3,NaN,NaN,NaN
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",4167,713,NaN,NaN,2155,483,NaN,NaN,...,(X),51.1,NaN,6.4,NaN,48.9,6.4,NaN,NaN,NaN
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",5684,986,NaN,NaN,2917,615,NaN,NaN,...,(X),52.0,NaN,4.6,NaN,48.0,4.6,NaN,NaN,NaN
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",5917,719,NaN,NaN,2479,440,NaN,NaN,...,(X),39.6,NaN,5.4,NaN,60.4,5.4,NaN,NaN,NaN
5,1400000US36005001901,"Census Tract 19.01, Bronx County, New York",1910,301,NaN,NaN,944,182,NaN,NaN,...,(X),46.1,NaN,6.9,NaN,53.9,6.9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",6569,838,NaN,NaN,3286,479,NaN,NaN,...,(X),49.8,NaN,4.1,NaN,50.2,4.1,NaN,NaN,NaN
2324,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",3293,681,NaN,NaN,1624,469,NaN,NaN,...,(X),46.5,NaN,9.6,NaN,53.5,9.6,NaN,NaN,NaN
2325,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",4953,739,NaN,NaN,2233,438,NaN,NaN,...,(X),40.1,NaN,6.3,NaN,59.9,6.3,NaN,NaN,NaN
2326,1400000US36085032300,"Census Tract 323, Richmond County, New York",1200,380,NaN,NaN,581,183,NaN,NaN,...,(X),47.2,NaN,7.8,NaN,52.8,7.8,NaN,NaN,NaN
2327,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,12,NaN,NaN,0,12,NaN,NaN,...,(X),-,-,**,**,-,**,**,-,NaN

In [13]:

# subset to population data

acs_2020_race = acs2020[['GEO_ID', 'NAME', 'DP05_0001E', 'DP05_0071E', 'DP05_0078E']]

# rename columns

acs_2020_race.columns = ['geo_id', 'tract_name', 'population', 'hispanic_pp', 'black_pp']

In [14]:
acs_2020_race

,geo_id,tract_name,population,hispanic_pp,black_pp
1,1400000US36005000100,"Census Tract 1, Bronx County, New York",6600,2315,3234
2,1400000US36005000200,"Census Tract 2, Bronx County, New York",4167,2943,980
3,1400000US36005000400,"Census Tract 4, Bronx County, New York",5684,4148,965
4,1400000US36005001600,"Census Tract 16, Bronx County, New York",5917,3335,1986
5,1400000US36005001901,"Census Tract 19.01, Bronx County, New York",1910,1029,610
...,...,...,...,...,...
2323,1400000US36085030302,"Census Tract 303.02, Richmond County, New York",6569,2856,1161
2324,1400000US36085031901,"Census Tract 319.01, Richmond County, New York",3293,1057,1654
2325,1400000US36085031902,"Census Tract 319.02, Richmond County, New York",4953,1603,2613
2326,1400000US36085032300,"Census Tract 323, Richmond County, New York",1200,388,411
2327,1400000US36085990100,"Census Tract 9901, Richmond County, New York",0,0,0

In [15]:
# split columns

tract_code = acs_2020_race['geo_id'].str.split(pat='US', expand=True)

# insert the census_tract column

acs_2020_race.insert(loc = 1, column='census_tract', value=tract_code[1])

acs_2020_race

,geo_id,census_tract,tract_name,population,hispanic_pp,black_pp
1,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",6600,2315,3234
2,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",4167,2943,980
3,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",5684,4148,965
4,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",5917,3335,1986
5,1400000US36005001901,36005001901,"Census Tract 19.01, Bronx County, New York",1910,1029,610
...,...,...,...,...,...,...
2323,1400000US36085030302,36085030302,"Census Tract 303.02, Richmond County, New York",6569,2856,1161
2324,1400000US36085031901,36085031901,"Census Tract 319.01, Richmond County, New York",3293,1057,1654
2325,1400000US36085031902,36085031902,"Census Tract 319.02, Richmond County, New York",4953,1603,2613
2326,1400000US36085032300,36085032300,"Census Tract 323, Richmond County, New York",1200,388,411
2327,1400000US36085990100,36085990100,"Census Tract 9901, Richmond County, New York",0,0,0

In [18]:
# correctly type the data 

acs_2020_race = acs_2020_race.astype({
    'population': int,
    'hispanic_pp': int,
    'black_pp': int
})

In [19]:
# calculate black and hispanic population percentage

acs_2020_race['hispanic_pp_pct'] = acs_2020_race['hispanic_pp'] / acs_2020_race['population'] * 100
acs_2020_race['black_pp_pct'] = acs_2020_race['black_pp'] / acs_2020_race['population'] * 100

In [20]:
acs_2020_race

,geo_id,census_tract,tract_name,population,hispanic_pp,black_pp,hispanic_pp_pct,black_pp_pct
1,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",6600,2315,3234,35.075758,49.000000
2,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",4167,2943,980,70.626350,23.518119
3,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",5684,4148,965,72.976777,16.977481
4,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",5917,3335,1986,56.363022,33.564306
5,1400000US36005001901,36005001901,"Census Tract 19.01, Bronx County, New York",1910,1029,610,53.874346,31.937173
...,...,...,...,...,...,...,...,...
2323,1400000US36085030302,36085030302,"Census Tract 303.02, Richmond County, New York",6569,2856,1161,43.476937,17.673923
2324,1400000US36085031901,36085031901,"Census Tract 319.01, Richmond County, New York",3293,1057,1654,32.098391,50.227756
2325,1400000US36085031902,36085031902,"Census Tract 319.02, Richmond County, New York",4953,1603,2613,32.364224,52.755906
2326,1400000US36085032300,36085032300,"Census Tract 323, Richmond County, New York",1200,388,411,32.333333,34.250000
2327,1400000US36085990100,36085990100,"Census Tract 9901, Richmond County, New York",0,0,0,NaN,NaN

In [21]:
# export

acs_2020_race.to_csv('./census_data/nyc_census_2020.csv', index=False)

merge

In [22]:
# merge the census tract info and reverse mortgage info

nyc_rm_census = pd.merge(
    nyc_tract_count,
    acs_2020_race,
    how='left',
    on='census_tract',
    validate='1:1'
)

nyc_rm_census = nyc_rm_census.sort_values(by='rm_no_per1000', ascending=False)

In [23]:
nyc_rm_census

,census_tract,rm_no,tract_population,minority_pct,rm_no_per1000,geo_id,tract_name,population,hispanic_pp,black_pp,hispanic_pp_pct,black_pp_pct
11,36081092200,9,2208,4.26,4.076087,1400000US36081092200,"Census Tract 922, Queens County, New York",1995.0,180.0,0.0,9.022556,0.000000
20,36047083400,7,1733,95.41,4.039238,1400000US36047083400,"Census Tract 834, Kings County, New York",1524.0,47.0,1304.0,3.083990,85.564304
44,36081062000,6,1518,98.45,3.952569,1400000US36081062000,"Census Tract 620, Queens County, New York",1490.0,129.0,1288.0,8.657718,86.442953
134,36081060000,4,1086,98.99,3.683241,1400000US36081060000,"Census Tract 600, Queens County, New York",1126.0,42.0,1020.0,3.730018,90.586146
22,36047020400,7,1947,36.52,3.595275,1400000US36047020400,"Census Tract 204, Kings County, New York",1710.0,49.0,0.0,2.865497,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
761,36081134700,1,10137,80.68,0.098649,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,36061015500,1,10151,20.37,0.098512,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,36005043100,1,10325,95.70,0.096852,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,36061012400,1,10402,29.33,0.096135,1400000US36061012400,"Census Tract 124, New York County, New York",10626.0,767.0,68.0,7.218144,0.639940
822,36061018900,1,12825,77.39,0.077973,1400000US36061018900,"Census Tract 189, New York County, New York",11014.0,5879.0,1248.0,53.377520,11.331033

In [24]:
# export

nyc_rm_census.to_csv('./reverse_mortgage_data/nyc_tract_count_0727.csv', index=False)