In [297]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

# Los Angeles County

## census

In [ ]:
# read census csv

acs2019 = pd.read_csv('./census_data/acs_2019_la.csv')

In [ ]:
acs2019

In [ ]:
# drop the second header row

acs2019 = acs2019.drop([0])

In [ ]:
# subset to population data

acs_2019_race = acs2019[['GEO_ID', 'NAME', 'DP05_0001E', 'DP05_0071E', 'DP05_0078E']]

In [ ]:
acs_2019_race.info()

In [ ]:
# rename columns

acs_2019_race.columns = ['geo_id', 'tract_name', 'population', 'hispanic_pp', 'black_pp']

In [ ]:
acs_2019_race.info()

In [ ]:
tract_code = acs_2019_race['geo_id'].str.split(pat='US', expand=True)

In [ ]:
tract_code

In [ ]:
acs_2019_race

In [ ]:
# insert the census_tract column

acs_2019_race.insert(loc = 1, column='census_tract', value=tract_code[1])

In [ ]:
acs_2019_race = acs_2019_race.astype({
    'population': int,
    'hispanic_pp': int,
    'black_pp': int
})

In [ ]:
acs_2019_race.info()

In [ ]:
acs_2019_race['hispanic_pp_pct'] = acs_2019_race['hispanic_pp'] / acs_2019_race['population'] * 100
acs_2019_race['black_pp_pct'] = acs_2019_race['black_pp'] / acs_2019_race['population'] * 100

In [ ]:
acs_2019_race

In [ ]:
# export

acs_2019_race.to_csv('./census_data/LA_census_2019.csv', index=False)

In [ ]:
#read csv

la_all_2018 = pd.read_csv('./all_mortgage_data/la_all_2018_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2019 = pd.read_csv('./all_mortgage_data/la_all_2019_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2020 = pd.read_csv('./all_mortgage_data/la_all_2020_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2021 = pd.read_csv('./all_mortgage_data/la_all_2021_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2022 = pd.read_csv('./all_mortgage_data/la_all_2022_originated.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

rm_la_all_2018 = la_all_2018[(la_all_2018['reverse_mortgage'] == 1)]
rm_la_all_2019 = la_all_2019[(la_all_2019['reverse_mortgage'] == 1)]
rm_la_all_2020 = la_all_2020[(la_all_2020['reverse_mortgage'] == 1)]
rm_la_all_2021 = la_all_2021[(la_all_2021['reverse_mortgage'] == 1)]
rm_la_all_2022 = la_all_2022[(la_all_2022['reverse_mortgage'] == 1)]

In [ ]:
rm_la_all_2018.info()

In [ ]:
rm_la_all_2019.info()

In [ ]:
rm_la_all_2020.info()

In [ ]:
rm_la_all_2021.info()

In [ ]:
rm_la_all_2022.info()

In [ ]:
# concatenate 2018-2021 datasets

rm_la_all = pd.concat((rm_la_all_2018, rm_la_all_2019, rm_la_all_2020, rm_la_all_2021, rm_la_all_2022), axis=0)

In [ ]:
rm_la_all.info()

In [ ]:
# export to csv

rm_la_all.to_csv('./reverse_mortgage_data/rm_la_all.csv', index=False)

# analyze the LA data

How many reverse mortgages are taken out each year from 2018 to 2022?

In [ ]:
rm_la_all.groupby(by='activity_year').count().sort_values(by='activity_year',ascending=False)

what's the racial distribution of the reverse mortgage borrowers?

In [ ]:
rm_la_all.groupby(by='derived_race').count().sort_values(by='lei',ascending=False)

In [ ]:
# group by census tract to see mortgage count

la_tract_count = rm_la_all.groupby('census_tract').agg({
    'lei':'count',
    'tract_population': 'max',
    'tract_minority_population_percent': 'min'
    }).sort_values(by='lei', ascending=False).reset_index()

In [ ]:
la_tract_count

In [ ]:
# rename columns 

la_tract_count.columns = ['census_tract', 'rm_no', 'tract_population', 'minority_pct']

In [ ]:
la_tract_count

In [ ]:
# calculate mortgage count per 1000 people

la_tract_count['rm_no_per1000'] = la_tract_count['rm_no'] / la_tract_count['tract_population'] * 1000

In [ ]:
# sort by count per 1000 people 

la_tract_count = la_tract_count.sort_values(by='rm_no_per1000', ascending=False).reset_index(drop=True)

In [ ]:
la_tract_count.info()

In [ ]:
acs_2019_race.info()

In [ ]:
# merge the census tract info and reverse mortgage info

la_rm_census = pd.merge(
    la_tract_count,
    acs_2019_race,
    how='left',
    on='census_tract',
    validate='1:1'
)

In [ ]:
la_rm_census.info()

In [ ]:
la_rm_census = la_rm_census.sort_values(by='rm_no_per1000', ascending=False)

In [ ]:
la_rm_census.head(15)

In [ ]:
no_geoid = la_rm_census[la_rm_census['geo_id'].isna()]
no_geoid

In [ ]:
la_rm_census.to_csv('./reverse_mortgage_data/la_tract_count_0710.csv', index=False)

## Alameda County

In [ ]:
# read csv

alameda_all_2018 = pd.read_csv('./all_mortgage_data/sac_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

sac_all_2019 = pd.read_csv('./all_mortgage_data/alameda_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

alameda_all_2020 = pd.read_csv('./all_mortgage_data/alameda_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

alameda_all_2021 = pd.read_csv('./all_mortgage_data/alameda_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

alameda_rm_2018 = alameda_all_2018[(alameda_all_2018['reverse_mortgage'] == 1)]
alameda_rm_2019 = alameda_all_2019[(alameda_all_2019['reverse_mortgage'] == 1)]
alameda_rm_2020 = alameda_all_2020[(alameda_all_2020['reverse_mortgage'] == 1)]
alameda_rm_2021 = alameda_all_2021[(alameda_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

alameda_rm_all = pd.concat((alameda_rm_2018, alameda_rm_2019, alameda_rm_2020, alameda_rm_2021), axis=0)
alameda_rm_all.info()

In [ ]:
# export
alameda_rm_all.to_csv('./reverse_mortgage_data/alameda_rm_all.csv', index=False)

## Sacramento County

In [ ]:
# read csv

sac_all_2018 = pd.read_csv('./all_mortgage_data/sac_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

sac_all_2019 = pd.read_csv('./all_mortgage_data/sac_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

sac_all_2020 = pd.read_csv('./all_mortgage_data/sac_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

sac_all_2021 = pd.read_csv('./all_mortgage_data/sac_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

sac_rm_2018 = sac_all_2018[(sac_all_2018['reverse_mortgage'] == 1)]
sac_rm_2019 = sac_all_2019[(sac_all_2019['reverse_mortgage'] == 1)]
sac_rm_2020 = sac_all_2020[(sac_all_2020['reverse_mortgage'] == 1)]
sac_rm_2021 = sac_all_2021[(sac_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

sac_rm_all = pd.concat((sac_rm_2018, sac_rm_2019, sac_rm_2020, sac_rm_2021), axis=0)
sac_rm_all.info()

In [ ]:
# export
sac_rm_all.to_csv('./reverse_mortgage_data/sac_rm_all.csv', index=False)

## San Bernardino County

In [ ]:
# read csv

san_bernardino_all_2018 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_bernardino_all_2019 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_bernardino_all_2020 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_bernardino_all_2021 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

san_bernardino_rm_2018 = san_bernardino_all_2018[(san_bernardino_all_2018['reverse_mortgage'] == 1)]
san_bernardino_rm_2019 = san_bernardino_all_2019[(san_bernardino_all_2019['reverse_mortgage'] == 1)]
san_bernardino_rm_2020 = san_bernardino_all_2020[(san_bernardino_all_2020['reverse_mortgage'] == 1)]
san_bernardino_rm_2021 = san_bernardino_all_2021[(san_bernardino_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

san_bernardino_rm_all = pd.concat((san_bernardino_rm_2018, san_bernardino_rm_2019, san_bernardino_rm_2020, san_bernardino_rm_2021), axis=0)
san_bernardino_rm_all.info()

In [ ]:
# export
san_bernardino_rm_all.to_csv('./reverse_mortgage_data/san_bernardino_rm_all.csv', index=False)

## Riverside County

In [ ]:
# read csv

riverside_all_2018 = pd.read_csv('./all_mortgage_data/riverside_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

riverside_all_2019 = pd.read_csv('./all_mortgage_data/riverside_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

riverside_all_2020 = pd.read_csv('./all_mortgage_data/riverside_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

riverside_all_2021 = pd.read_csv('./all_mortgage_data/riverside_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

riverside_rm_2018 = riverside_all_2018[(riverside_all_2018['reverse_mortgage'] == 1)]
riverside_rm_2019 = riverside_all_2019[(riverside_all_2019['reverse_mortgage'] == 1)]
riverside_rm_2020 = riverside_all_2020[(riverside_all_2020['reverse_mortgage'] == 1)]
riverside_rm_2021 = riverside_all_2021[(riverside_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

riverside_rm_all = pd.concat((riverside_rm_2018, riverside_rm_2019, riverside_rm_2020, riverside_rm_2021), axis=0)
riverside_rm_all.info()

In [ ]:
# export
riverside_rm_all.to_csv('./reverse_mortgage_data/riverside_rm_all.csv', index=False)

## Imperial County

In [ ]:
# read csv

imperial_all_2018 = pd.read_csv('./all_mortgage_data/imperial_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

imperial_all_2019 = pd.read_csv('./all_mortgage_data/imperial_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

imperial_all_2020 = pd.read_csv('./all_mortgage_data/imperial_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

imperial_all_2021 = pd.read_csv('./all_mortgage_data/imperial_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

imperial_rm_2018 = imperial_all_2018[(imperial_all_2018['reverse_mortgage'] == 1)]
imperial_rm_2019 = imperial_all_2019[(imperial_all_2019['reverse_mortgage'] == 1)]
imperial_rm_2020 = imperial_all_2020[(imperial_all_2020['reverse_mortgage'] == 1)]
imperial_rm_2021 = imperial_all_2021[(imperial_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

imperial_rm_all = pd.concat((imperial_rm_2018, imperial_rm_2019, imperial_rm_2020, imperial_rm_2021), axis=0)
imperial_rm_all.info()

In [ ]:
# export
imperial_rm_all.to_csv('./reverse_mortgage_data/imperial_rm_all.csv', index=False)

## San Diego County

In [ ]:
# read csv

san_diego_all_2018 = pd.read_csv('./all_mortgage_data/san_diego_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_diego_all_2019 = pd.read_csv('./all_mortgage_data/richland_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_diego_all_2020 = pd.read_csv('./all_mortgage_data/san_diego_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_diego_all_2021 = pd.read_csv('./all_mortgage_data/san_diego_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

san_diego_rm_2018 = san_diego_all_2018[(san_diego_all_2018['reverse_mortgage'] == 1)]
san_diego_rm_2019 = san_diego_all_2019[(san_diego_all_2019['reverse_mortgage'] == 1)]
san_diego_rm_2020 = san_diego_all_2020[(san_diego_all_2020['reverse_mortgage'] == 1)]
san_diego_rm_2021 = san_diego_all_2021[(san_diego_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

san_diego_rm_all = pd.concat((san_diego_rm_2018, san_diego_rm_2019, san_diego_rm_2020, san_diego_rm_2021), axis=0)
san_diego_rm_all.info()

In [ ]:
# export
san_diego_rm_all.to_csv('./reverse_mortgage_data/san_diego_rm_all.csv', index=False)

## Richland, SC

In [ ]:
# read csv

richland_all_2018 = pd.read_csv('./all_mortgage_data/richland_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

richland_all_2019 = pd.read_csv('./all_mortgage_data/richland_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

richland_all_2020 = pd.read_csv('./all_mortgage_data/richland_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

richland_all_2021 = pd.read_csv('./all_mortgage_data/richland_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

richland_rm_2018 = richland_all_2018[(richland_all_2018['reverse_mortgage'] == 1)]
richland_rm_2019 = richland_all_2019[(richland_all_2019['reverse_mortgage'] == 1)]
richland_rm_2020 = richland_all_2020[(richland_all_2020['reverse_mortgage'] == 1)]
richland_rm_2021 = richland_all_2021[(richland_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

richland_rm_all = pd.concat((richland_rm_2018, richland_rm_2019, richland_rm_2020, richland_rm_2021), axis=0)
richland_rm_all.info()

In [ ]:
# export
richland_rm_all.to_csv('./reverse_mortgage_data/richland_rm_all.csv', index=False)

## Greenville, SC

In [ ]:
# read csv

greenville_all_2018 = pd.read_csv('./all_mortgage_data/greenville_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

greenville_all_2019 = pd.read_csv('./all_mortgage_data/greenville_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

greenville_all_2020 = pd.read_csv('./all_mortgage_data/greenville_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

greenville_all_2021 = pd.read_csv('./all_mortgage_data/greenville_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

# filter to reverse mortgage

greenville_rm_2018 = greenville_all_2018[(greenville_all_2018['reverse_mortgage'] == 1)]
greenville_rm_2019 = greenville_all_2019[(greenville_all_2019['reverse_mortgage'] == 1)]
greenville_rm_2020 = greenville_all_2020[(greenville_all_2020['reverse_mortgage'] == 1)]
greenville_rm_2021 = greenville_all_2021[(greenville_all_2021['reverse_mortgage'] == 1)]

# concatenate 2018-2021 years

greenville_rm_all = pd.concat((greenville_rm_2018, greenville_rm_2019, greenville_rm_2020, greenville_rm_2021), axis=0)
greenville_rm_all.info()

In [ ]:
# export
greenville_rm_all.to_csv('./reverse_mortgage_data/greenville_rm_all.csv', index=False)

## Florida

In [ ]:
# read csv

florida_all_2018 = pd.read_csv('./all_mortgage_data/florida_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

florida_all_2019 = pd.read_csv('./all_mortgage_data/florida_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

florida_all_2020 = pd.read_csv('./all_mortgage_data/florida_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

florida_all_2021 = pd.read_csv('./all_mortgage_data/florida_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

florida_rm_2018 = florida_all_2018[(florida_all_2018['reverse_mortgage'] == 1)]
florida_rm_2019 = florida_all_2019[(florida_all_2019['reverse_mortgage'] == 1)]
florida_rm_2020 = florida_all_2020[(florida_all_2020['reverse_mortgage'] == 1)]
florida_rm_2021 = florida_all_2021[(florida_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

florida_rm_all = pd.concat((florida_rm_2018, florida_rm_2019, florida_rm_2020, florida_rm_2021), axis=0)
florida_rm_all.info()

In [ ]:
florida_rm_all.sample(10)

In [ ]:
# export
florida_rm_all.to_csv('./reverse_mortgage_data/florida_rm_all.csv', index=False)

## Colorado

In [ ]:
# read csv

colorado_all_2018 = pd.read_csv('./all_mortgage_data/colorado_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

colorado_all_2019 = pd.read_csv('./all_mortgage_data/colorado_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

colorado_all_2020 = pd.read_csv('./all_mortgage_data/colorado_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

colorado_all_2021 = pd.read_csv('./all_mortgage_data/colorado_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

# filter to reverse mortgage

colorado_rm_2018 = colorado_all_2018[(colorado_all_2018['reverse_mortgage'] == 1)]
colorado_rm_2019 = colorado_all_2019[(colorado_all_2019['reverse_mortgage'] == 1)]
colorado_rm_2020 = colorado_all_2020[(colorado_all_2020['reverse_mortgage'] == 1)]
colorado_rm_2021 = colorado_all_2021[(colorado_all_2021['reverse_mortgage'] == 1)]

# concatenate 2018-2021 years

colorado_rm_all = pd.concat((colorado_rm_2018, colorado_rm_2019, colorado_rm_2020, colorado_rm_2021), axis=0)
colorado_rm_all.info()

In [ ]:
colorado_rm_all.to_csv('./reverse_mortgage_data/colorado_rm_all.csv', index=False)

## All places 2020

In [298]:
all_2020 = pd.read_csv('./all_mortgage_data/2020_public_lar_one_year.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_5380/574227209.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44,46,77,78,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  all_2020 = pd.read_csv('./all_mortgage_data/2020_public_lar_one_year.csv', dtype={

In [299]:
all_rm_2020 = all_2020[(all_2020['reverse_mortgage'] == 1) & all_2020['action_taken'] == 1]

In [300]:
# groupby state code

rm_2020_state = all_rm_2020.groupby(['state_code']).count()
rm_2020_state = rm_2020_state.sort_values(by='lei', ascending=False)
rm_2020_state_count = rm_2020_state[['lei']].reset_index()

In [301]:
rm_2020_state_count

   state_code    lei
0          CA  14877
1          FL   4547
2          TX   3669
3          CO   3395
4          AZ   3107
5          WA   2643
6          UT   1830
7          NY   1689
8          OR   1452
9          NV   1167
10         NC   1157
11         PA   1059
12         GA   1053
13         NJ    931
14         VA    931
15         ID    840
16         OH    814
17         TN    753
18         MA    700
19         IL    691
20         SC    677
21         MI    663
22         MD    654
23         IN    477
24         MN    451
25         LA    444
26         AL    382
27         MO    374
28         WI    337
29         CT    333
30         OK    329
31         NM    268
32         KY    252
33         HI    239
34         DC    213
35         MT    210
36         AR    209
37         KS    169
38         MS    156
39         IA    145
40         NH    141
41         ME    137
42         WV    124
43         RI    109
44         NE    105
45         DE    104
46         WY     81
47         AK     51
48         SD     48
49         ND     37
50         VT     36
51         PR     15

In [302]:
population_2020 = pd.read_csv('./census_data/population_2020.csv')

In [303]:
population_2020

                   State state_code  total_population
0                Alabama         AL         4893186.0
1                 Alaska         AK          736990.0
2                Arizona         AZ         7174064.0
3               Arkansas         AR         3011873.0
4             California         CA        39346023.0
5               Colorado         CO         5684926.0
6            Connecticut         CT         3570549.0
7               Delaware         DE          967679.0
8   District of Columbia         DC          701974.0
9                Florida         FL        21216924.0
10               Georgia         GA        10516579.0
11                Hawaii         HI         1420074.0
12                 Idaho         ID         1754367.0
13              Illinois         IL        12716164.0
14               Indiana         IN         6696893.0
15                  Iowa         IA         3150011.0
16                Kansas         KS         2912619.0
17              Kentucky         KY         4461952.0
18             Louisiana         LA         4664616.0
19                 Maine         ME         1340825.0
20              Maryland         MD         6037624.0
21         Massachusetts         MA         6873003.0
22              Michigan         MI         9973907.0
23             Minnesota         MN         5600166.0
24           Mississippi         MS         2981835.0
25              Missouri         MO         6124160.0
26               Montana         MT         1061705.0
27              Nebraska         NE         1923826.0
28                Nevada         NV         3030281.0
29         New Hampshire         NH         1355244.0
30            New Jersey         NJ         8885418.0
31            New Mexico         NM         2097021.0
32              New York         NY        19514849.0
33        North Carolina         NC        10386227.0
34          North Dakota         ND          760394.0
35                  Ohio         OH        11675275.0
36              Oklahoma         OK         3949342.0
37                Oregon         OR         4176346.0
38          Pennsylvania         PA        12794885.0
39           Puerto Rico         PR         3255642.0
40          Rhode Island         RI         1057798.0
41        South Carolina         SC         5091517.0
42          South Dakota         SD          879336.0
43             Tennessee         TN         6772268.0
44                 Texas         TX        28635442.0
45                  Utah         UT         3151239.0
46               Vermont         VT          624340.0
47              Virginia         VA         8509358.0
48            Washington         WA         7512465.0
49         West Virginia         WV         1807426.0
50             Wisconsin         WI         5806975.0
51               Wyoming         WY          581348.0
52                   NaN        NaN               NaN

In [304]:
rm_count_2020 = pd.merge(
    rm_2020_state_count,
    population_2020,
    on='state_code',
    how='left',
    validate='1:1'
)

In [305]:
rm_count_2020

   state_code    lei                 State  total_population
0          CA  14877            California        39346023.0
1          FL   4547               Florida        21216924.0
2          TX   3669                 Texas        28635442.0
3          CO   3395              Colorado         5684926.0
4          AZ   3107               Arizona         7174064.0
5          WA   2643            Washington         7512465.0
6          UT   1830                  Utah         3151239.0
7          NY   1689              New York        19514849.0
8          OR   1452                Oregon         4176346.0
9          NV   1167                Nevada         3030281.0
10         NC   1157        North Carolina        10386227.0
11         PA   1059          Pennsylvania        12794885.0
12         GA   1053               Georgia        10516579.0
13         NJ    931            New Jersey         8885418.0
14         VA    931              Virginia         8509358.0
15         ID    840                 Idaho         1754367.0
16         OH    814                  Ohio        11675275.0
17         TN    753             Tennessee         6772268.0
18         MA    700         Massachusetts         6873003.0
19         IL    691              Illinois        12716164.0
20         SC    677        South Carolina         5091517.0
21         MI    663              Michigan         9973907.0
22         MD    654              Maryland         6037624.0
23         IN    477               Indiana         6696893.0
24         MN    451             Minnesota         5600166.0
25         LA    444             Louisiana         4664616.0
26         AL    382               Alabama         4893186.0
27         MO    374              Missouri         6124160.0
28         WI    337             Wisconsin         5806975.0
29         CT    333           Connecticut         3570549.0
30         OK    329              Oklahoma         3949342.0
31         NM    268            New Mexico         2097021.0
32         KY    252              Kentucky         4461952.0
33         HI    239                Hawaii         1420074.0
34         DC    213  District of Columbia          701974.0
35         MT    210               Montana         1061705.0
36         AR    209              Arkansas         3011873.0
37         KS    169                Kansas         2912619.0
38         MS    156           Mississippi         2981835.0
39         IA    145                  Iowa         3150011.0
40         NH    141         New Hampshire         1355244.0
41         ME    137                 Maine         1340825.0
42         WV    124         West Virginia         1807426.0
43         RI    109          Rhode Island         1057798.0
44         NE    105              Nebraska         1923826.0
45         DE    104              Delaware          967679.0
46         WY     81               Wyoming          581348.0
47         AK     51                Alaska          736990.0
48         SD     48          South Dakota          879336.0
49         ND     37          North Dakota          760394.0
50         VT     36               Vermont          624340.0
51         PR     15           Puerto Rico         3255642.0

In [306]:
rm_count_2020['rm_per_1000'] = rm_count_2020['lei'] / rm_count_2020['total_population'] * 1000

In [307]:
rm_count_2020 = rm_count_2020.sort_values(by='rm_per_1000', ascending=False)

In [308]:
rm_count_2020 = rm_count_2020.reset_index(drop=True)

In [309]:
rm_count_2020

   state_code    lei                 State  total_population  rm_per_1000
0          CO   3395              Colorado         5684926.0     0.597193
1          UT   1830                  Utah         3151239.0     0.580724
2          ID    840                 Idaho         1754367.0     0.478805
3          AZ   3107               Arizona         7174064.0     0.433088
4          NV   1167                Nevada         3030281.0     0.385113
5          CA  14877            California        39346023.0     0.378107
6          WA   2643            Washington         7512465.0     0.351815
7          OR   1452                Oregon         4176346.0     0.347672
8          DC    213  District of Columbia          701974.0     0.303430
9          FL   4547               Florida        21216924.0     0.214310
10         MT    210               Montana         1061705.0     0.197795
11         HI    239                Hawaii         1420074.0     0.168301
12         WY     81               Wyoming          581348.0     0.139331
13         SC    677        South Carolina         5091517.0     0.132966
14         TX   3669                 Texas        28635442.0     0.128128
15         NM    268            New Mexico         2097021.0     0.127800
16         NC   1157        North Carolina        10386227.0     0.111398
17         TN    753             Tennessee         6772268.0     0.111189
18         VA    931              Virginia         8509358.0     0.109409
19         MD    654              Maryland         6037624.0     0.108321
20         DE    104              Delaware          967679.0     0.107474
21         NJ    931            New Jersey         8885418.0     0.104778
22         NH    141         New Hampshire         1355244.0     0.104040
23         RI    109          Rhode Island         1057798.0     0.103044
24         ME    137                 Maine         1340825.0     0.102176
25         MA    700         Massachusetts         6873003.0     0.101848
26         GA   1053               Georgia        10516579.0     0.100128
27         LA    444             Louisiana         4664616.0     0.095185
28         CT    333           Connecticut         3570549.0     0.093263
29         NY   1689              New York        19514849.0     0.086549
30         OK    329              Oklahoma         3949342.0     0.083305
31         PA   1059          Pennsylvania        12794885.0     0.082767
32         MN    451             Minnesota         5600166.0     0.080533
33         AL    382               Alabama         4893186.0     0.078068
34         IN    477               Indiana         6696893.0     0.071227
35         OH    814                  Ohio        11675275.0     0.069720
36         AR    209              Arkansas         3011873.0     0.069392
37         AK     51                Alaska          736990.0     0.069200
38         WV    124         West Virginia         1807426.0     0.068606
39         MI    663              Michigan         9973907.0     0.066473
40         MO    374              Missouri         6124160.0     0.061070
41         WI    337             Wisconsin         5806975.0     0.058034
42         KS    169                Kansas         2912619.0     0.058023
43         VT     36               Vermont          624340.0     0.057661
44         KY    252              Kentucky         4461952.0     0.056478
45         SD     48          South Dakota          879336.0     0.054587
46         NE    105              Nebraska         1923826.0     0.054579
47         IL    691              Illinois        12716164.0     0.054340
48         MS    156           Mississippi         2981835.0     0.052317
49         ND     37          North Dakota          760394.0     0.048659
50         IA    145                  Iowa         3150011.0     0.046032
51         PR     15           Puerto Rico         3255642.0     0.004607

In [ ]:
rm_count_2020.to_csv('./rm_count_2020.csv', index=False)

In [ ]:
# groupby census_tract

rm_2020_tract = all_rm_2020.groupby(['census_tract']).count()
rm_2020_tract = rm_2020_tract.sort_values(by='lei', ascending=False)
rm_2020_tract_count = rm_2020_tract[['lei']].reset_index()

In [ ]:
rm_2020_tract_count