In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

## Los Angeles County

In [ ]:
la_hispanic_2021 = pd.read_csv('https://raw.githubusercontent.com/jyyang7/reverse_mortgage/main/all_mortgage_data/la_hispanic_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
rm_la_hispanic_2021 = la_hispanic_2021[(la_hispanic_2021['reverse_mortgage'] == 1)]
rm_la_hispanic_2021

In [ ]:
rm_la_hispanic_2021.to_csv('./reverse_mortgage_data/rm_la_hispanic_2021.csv', index=False)

In [ ]:
#read csv

la_all_2018 = pd.read_csv('./all_mortgage_data/la_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2019 = pd.read_csv('./all_mortgage_data/la_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2020 = pd.read_csv('./all_mortgage_data/la_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2021 = pd.read_csv('./all_mortgage_data/la_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

rm_la_all_2018 = la_all_2018[(la_all_2018['reverse_mortgage'] == 1)]
rm_la_all_2019 = la_all_2019[(la_all_2019['reverse_mortgage'] == 1)]
rm_la_all_2020 = la_all_2020[(la_all_2020['reverse_mortgage'] == 1)]
rm_la_all_2021 = la_all_2021[(la_all_2021['reverse_mortgage'] == 1)]

In [ ]:
rm_la_all_2018.info()

In [ ]:
rm_la_all_2019.info()

In [ ]:
rm_la_all_2020.info()

In [ ]:
rm_la_all_2021.info()

In [ ]:
# concatenate 2018-2021 datasets

rm_la_all = pd.concat((rm_la_all_2018, rm_la_all_2019, rm_la_all_2020, rm_la_all_2021), axis=0)

In [ ]:
rm_la_all.sample(10)

In [ ]:
# export to csv

rm_la_all.to_csv('./reverse_mortgage_data/rm_la_all.csv', index=False)

## Alameda County

In [ ]:
# read csv

alameda_all_2018 = pd.read_csv('./all_mortgage_data/sac_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

sac_all_2019 = pd.read_csv('./all_mortgage_data/alameda_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

alameda_all_2020 = pd.read_csv('./all_mortgage_data/alameda_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

alameda_all_2021 = pd.read_csv('./all_mortgage_data/alameda_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

alameda_rm_2018 = alameda_all_2018[(alameda_all_2018['reverse_mortgage'] == 1)]
alameda_rm_2019 = alameda_all_2019[(alameda_all_2019['reverse_mortgage'] == 1)]
alameda_rm_2020 = alameda_all_2020[(alameda_all_2020['reverse_mortgage'] == 1)]
alameda_rm_2021 = alameda_all_2021[(alameda_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

alameda_rm_all = pd.concat((alameda_rm_2018, alameda_rm_2019, alameda_rm_2020, alameda_rm_2021), axis=0)
alameda_rm_all.info()

In [ ]:
# export
alameda_rm_all.to_csv('./reverse_mortgage_data/alameda_rm_all.csv', index=False)

## Sacramento County

In [ ]:
# read csv

sac_all_2018 = pd.read_csv('./all_mortgage_data/sac_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

sac_all_2019 = pd.read_csv('./all_mortgage_data/sac_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

sac_all_2020 = pd.read_csv('./all_mortgage_data/sac_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

sac_all_2021 = pd.read_csv('./all_mortgage_data/sac_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [ ]:
# filter to reverse mortgage

sac_rm_2018 = sac_all_2018[(sac_all_2018['reverse_mortgage'] == 1)]
sac_rm_2019 = sac_all_2019[(sac_all_2019['reverse_mortgage'] == 1)]
sac_rm_2020 = sac_all_2020[(sac_all_2020['reverse_mortgage'] == 1)]
sac_rm_2021 = sac_all_2021[(sac_all_2021['reverse_mortgage'] == 1)]

In [ ]:
# concatenate 2018-2021 years

sac_rm_all = pd.concat((sac_rm_2018, sac_rm_2019, sac_rm_2020, sac_rm_2021), axis=0)
sac_rm_all.info()

In [ ]:
# export
sac_rm_all.to_csv('./reverse_mortgage_data/sac_rm_all.csv', index=False)

## San Bernardino County

In [36]:
# read csv

san_bernardino_all_2018 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_bernardino_all_2019 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_bernardino_all_2020 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_bernardino_all_2021 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/1926770866.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,44) have mixed types. Specify dtype option on import or set low_memory=False.
  san_bernardino_all_2018 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2018.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/1926770866.py:8: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  san_bernardino_all_2019 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2019.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/1926770866.py:13: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  san_bernardino_all_2020 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2020.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/1926770866.py:18: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  san_bernardino_all_2021 = pd.read_csv('./all_mortgage_data/san_bernardino_all_2021.csv', dtype={

In [37]:
# filter to reverse mortgage

san_bernardino_rm_2018 = san_bernardino_all_2018[(san_bernardino_all_2018['reverse_mortgage'] == 1)]
san_bernardino_rm_2019 = san_bernardino_all_2019[(san_bernardino_all_2019['reverse_mortgage'] == 1)]
san_bernardino_rm_2020 = san_bernardino_all_2020[(san_bernardino_all_2020['reverse_mortgage'] == 1)]
san_bernardino_rm_2021 = san_bernardino_all_2021[(san_bernardino_all_2021['reverse_mortgage'] == 1)]

In [38]:
# concatenate 2018-2021 years

san_bernardino_rm_all = pd.concat((san_bernardino_rm_2018, san_bernardino_rm_2019, san_bernardino_rm_2020, san_bernardino_rm_2021), axis=0)
san_bernardino_rm_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4027 entries, 7682 to 203687
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             4027 non-null   int64
 1   lei                                       4027 non-null   object
 2   derived_msa-md                            4027 non-null   int64
 3   state_code                                4027 non-null   object
 4   county_code                               4027 non-null   object
 5   census_tract                              4027 non-null   object
 6   conforming_loan_limit                     4027 non-null   object
 7   derived_loan_product_type                 4027 non-null   object
 8   derived_dwelling_category                 4027 non-null   object
 9   derived_ethnicity                         4027 non-null   object
 10  derived_race                              4027 non-null   object
 11  derived_sex                               4027 non-null   object
 12  action_taken                              4027 non-null   int64
 13  purchaser_type                            4027 non-null   int64
 14  preapproval                               4027 non-null   int64
 15  loan_type                                 4027 non-null   int64
 16  loan_purpose                              4027 non-null   int64
 17  lien_status                               4027 non-null   int64
 18  reverse_mortgage                          4027 non-null   int64
 19  open-end_line_of_credit                   4027 non-null   int64
 20  business_or_commercial_purpose            4027 non-null   int64
 21  loan_amount                               4027 non-null   float64
 22  loan_to_value_ratio                       143 non-null    object
 23  interest_rate                             2880 non-null   object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              4027 non-null   int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         2268 non-null   object
 34  negative_amortization                     4027 non-null   int64
 35  interest_only_payment                     4027 non-null   int64
 36  balloon_payment                           4027 non-null   int64
 37  other_nonamortizing_features              4027 non-null   int64
 38  property_value                            3301 non-null   object
 39  construction_method                       4027 non-null   int64
 40  occupancy_type                            4027 non-null   int64
 41  manufactured_home_secured_property_type   4027 non-null   int64
 42  manufactured_home_land_property_interest  4027 non-null   int64
 43  total_units                               4027 non-null   object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    3266 non-null   float64
 46  debt_to_income_ratio                      107 non-null    object
 47  applicant_credit_score_type               4027 non-null   int64
 48  co-applicant_credit_score_type            4027 non-null   int64
 49  applicant_ethnicity-1                     4027 non-null   float64
 50  applicant_ethnicity-2                     237 non-null    float64
 51  applicant_ethnicity-3                     3 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  4027 non-null   float64
 55  co-applicant_ethnicity-2                  108 non-null    float64
 56  co-applicant_ethnicity-3                  0 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              4027 non-null   int64
 60  co-applicant_ethnicity_observed           4027 non-null   int64
 61  applicant_race-1                          4027 non-null   float64
 62  applicant_race-2                          74 non-null     float64
 63  applicant_race-3                          8 non-null      float64
 64  applicant_race-4                          1 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       4027 non-null   float64
 67  co-applicant_race-2                       33 non-null     float64
 68  co-applicant_race-3                       3 non-null      float64
 69  co-applicant_race-4                       1 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   4027 non-null   int64
 72  co-applicant_race_observed                4027 non-null   int64
 73  applicant_sex                             4027 non-null   int64
 74  co-applicant_sex                          4027 non-null   int64
 75  applicant_sex_observed                    4027 non-null   int64
 76  co-applicant_sex_observed                 4027 non-null   int64
 77  applicant_age                             4027 non-null   object
 78  co-applicant_age                          4027 non-null   object
 79  applicant_age_above_62                    3282 non-null   object
 80  co-applicant_age_above_62                 1274 non-null   object
 81  submission_of_application                 4027 non-null   int64
 82  initially_payable_to_institution          4027 non-null   int64
 83  aus-1                                     4027 non-null   int64
 84  aus-2                                     1 non-null      float64
 85  aus-3                                     1 non-null      float64
 86  aus-4                                     1 non-null      float64
 87  aus-5                                     1 non-null      float64
 88  denial_reason-1                           4027 non-null   int64
 89  denial_reason-2                           37 non-null     float64
 90  denial_reason-3                           1 non-null      float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          4027 non-null   int64
 93  tract_minority_population_percent         4027 non-null   float64
 94  ffiec_msa_md_median_family_income         4027 non-null   int64
 95  tract_to_msa_income_percentage            4027 non-null   int64
 96  tract_owner_occupied_units                4027 non-null   int64
 97  tract_one_to_four_family_homes            4027 non-null   int64
 98  tract_median_age_of_housing_units         4027 non-null   int64
dtypes: float64(30), int64(40), object(29)
memory usage: 3.1+ MB

In [48]:
# export
san_bernardino_rm_all.to_csv('./reverse_mortgage_data/san_bernardino_rm_all.csv', index=False)

## Riverside County

In [32]:
# read csv

riverside_all_2018 = pd.read_csv('./all_mortgage_data/riverside_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

riverside_all_2019 = pd.read_csv('./all_mortgage_data/riverside_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

riverside_all_2020 = pd.read_csv('./all_mortgage_data/riverside_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

riverside_all_2021 = pd.read_csv('./all_mortgage_data/riverside_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/437556252.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  riverside_all_2018 = pd.read_csv('./all_mortgage_data/riverside_all_2018.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/437556252.py:8: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  riverside_all_2019 = pd.read_csv('./all_mortgage_data/riverside_all_2019.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/437556252.py:13: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  riverside_all_2020 = pd.read_csv('./all_mortgage_data/riverside_all_2020.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/437556252.py:18: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  riverside_all_2021 = pd.read_csv('./all_mortgage_data/riverside_all_2021.csv', dtype={

In [33]:
# filter to reverse mortgage

riverside_rm_2018 = riverside_all_2018[(riverside_all_2018['reverse_mortgage'] == 1)]
riverside_rm_2019 = riverside_all_2019[(riverside_all_2019['reverse_mortgage'] == 1)]
riverside_rm_2020 = riverside_all_2020[(riverside_all_2020['reverse_mortgage'] == 1)]
riverside_rm_2021 = riverside_all_2021[(riverside_all_2021['reverse_mortgage'] == 1)]

In [34]:
# concatenate 2018-2021 years

riverside_rm_all = pd.concat((riverside_rm_2018, riverside_rm_2019, riverside_rm_2020, riverside_rm_2021), axis=0)
riverside_rm_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6809 entries, 9058 to 266593
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             6809 non-null   int64
 1   lei                                       6809 non-null   object
 2   derived_msa-md                            6809 non-null   int64
 3   state_code                                6809 non-null   object
 4   county_code                               6809 non-null   object
 5   census_tract                              6807 non-null   object
 6   conforming_loan_limit                     6809 non-null   object
 7   derived_loan_product_type                 6809 non-null   object
 8   derived_dwelling_category                 6809 non-null   object
 9   derived_ethnicity                         6809 non-null   object
 10  derived_race                              6809 non-null   object
 11  derived_sex                               6809 non-null   object
 12  action_taken                              6809 non-null   int64
 13  purchaser_type                            6809 non-null   int64
 14  preapproval                               6809 non-null   int64
 15  loan_type                                 6809 non-null   int64
 16  loan_purpose                              6809 non-null   int64
 17  lien_status                               6809 non-null   int64
 18  reverse_mortgage                          6809 non-null   int64
 19  open-end_line_of_credit                   6809 non-null   int64
 20  business_or_commercial_purpose            6809 non-null   int64
 21  loan_amount                               6809 non-null   float64
 22  loan_to_value_ratio                       216 non-null    object
 23  interest_rate                             4926 non-null   object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              6809 non-null   int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         4024 non-null   object
 34  negative_amortization                     6809 non-null   int64
 35  interest_only_payment                     6809 non-null   int64
 36  balloon_payment                           6809 non-null   int64
 37  other_nonamortizing_features              6809 non-null   int64
 38  property_value                            5574 non-null   object
 39  construction_method                       6809 non-null   int64
 40  occupancy_type                            6809 non-null   int64
 41  manufactured_home_secured_property_type   6809 non-null   int64
 42  manufactured_home_land_property_interest  6809 non-null   int64
 43  total_units                               6809 non-null   object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    5546 non-null   float64
 46  debt_to_income_ratio                      180 non-null    object
 47  applicant_credit_score_type               6809 non-null   int64
 48  co-applicant_credit_score_type            6809 non-null   int64
 49  applicant_ethnicity-1                     6808 non-null   float64
 50  applicant_ethnicity-2                     222 non-null    float64
 51  applicant_ethnicity-3                     3 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  6809 non-null   float64
 55  co-applicant_ethnicity-2                  111 non-null    float64
 56  co-applicant_ethnicity-3                  0 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              6809 non-null   int64
 60  co-applicant_ethnicity_observed           6809 non-null   int64
 61  applicant_race-1                          6808 non-null   float64
 62  applicant_race-2                          87 non-null     float64
 63  applicant_race-3                          7 non-null      float64
 64  applicant_race-4                          1 non-null      float64
 65  applicant_race-5                          1 non-null      float64
 66  co-applicant_race-1                       6809 non-null   float64
 67  co-applicant_race-2                       57 non-null     float64
 68  co-applicant_race-3                       4 non-null      float64
 69  co-applicant_race-4                       0 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   6809 non-null   int64
 72  co-applicant_race_observed                6809 non-null   int64
 73  applicant_sex                             6809 non-null   int64
 74  co-applicant_sex                          6809 non-null   int64
 75  applicant_sex_observed                    6809 non-null   int64
 76  co-applicant_sex_observed                 6809 non-null   int64
 77  applicant_age                             6809 non-null   object
 78  co-applicant_age                          6809 non-null   object
 79  applicant_age_above_62                    5425 non-null   object
 80  co-applicant_age_above_62                 2299 non-null   object
 81  submission_of_application                 6809 non-null   int64
 82  initially_payable_to_institution          6809 non-null   int64
 83  aus-1                                     6809 non-null   int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           6809 non-null   int64
 89  denial_reason-2                           44 non-null     float64
 90  denial_reason-3                           8 non-null      float64
 91  denial_reason-4                           2 non-null      float64
 92  tract_population                          6809 non-null   int64
 93  tract_minority_population_percent         6809 non-null   float64
 94  ffiec_msa_md_median_family_income         6809 non-null   int64
 95  tract_to_msa_income_percentage            6809 non-null   int64
 96  tract_owner_occupied_units                6809 non-null   int64
 97  tract_one_to_four_family_homes            6809 non-null   int64
 98  tract_median_age_of_housing_units         6809 non-null   int64
dtypes: float64(30), int64(40), object(29)
memory usage: 5.2+ MB

In [35]:
# export
riverside_rm_all.to_csv('./reverse_mortgage_data/riverside_rm_all.csv', index=False)

## Imperial County

In [39]:
# read csv

imperial_all_2018 = pd.read_csv('./all_mortgage_data/imperial_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

imperial_all_2019 = pd.read_csv('./all_mortgage_data/imperial_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

imperial_all_2020 = pd.read_csv('./all_mortgage_data/imperial_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

imperial_all_2021 = pd.read_csv('./all_mortgage_data/imperial_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/2793598265.py:13: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  imperial_all_2020 = pd.read_csv('./all_mortgage_data/imperial_all_2020.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/2793598265.py:18: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  imperial_all_2021 = pd.read_csv('./all_mortgage_data/imperial_all_2021.csv', dtype={

In [40]:
# filter to reverse mortgage

imperial_rm_2018 = imperial_all_2018[(imperial_all_2018['reverse_mortgage'] == 1)]
imperial_rm_2019 = imperial_all_2019[(imperial_all_2019['reverse_mortgage'] == 1)]
imperial_rm_2020 = imperial_all_2020[(imperial_all_2020['reverse_mortgage'] == 1)]
imperial_rm_2021 = imperial_all_2021[(imperial_all_2021['reverse_mortgage'] == 1)]

In [41]:
# concatenate 2018-2021 years

imperial_rm_all = pd.concat((imperial_rm_2018, imperial_rm_2019, imperial_rm_2020, imperial_rm_2021), axis=0)
imperial_rm_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 1657 to 7996
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             112 non-null    int64
 1   lei                                       112 non-null    object
 2   derived_msa-md                            112 non-null    int64
 3   state_code                                112 non-null    object
 4   county_code                               112 non-null    object
 5   census_tract                              112 non-null    object
 6   conforming_loan_limit                     112 non-null    object
 7   derived_loan_product_type                 112 non-null    object
 8   derived_dwelling_category                 112 non-null    object
 9   derived_ethnicity                         112 non-null    object
 10  derived_race                              112 non-null    object
 11  derived_sex                               112 non-null    object
 12  action_taken                              112 non-null    int64
 13  purchaser_type                            112 non-null    int64
 14  preapproval                               112 non-null    int64
 15  loan_type                                 112 non-null    int64
 16  loan_purpose                              112 non-null    int64
 17  lien_status                               112 non-null    int64
 18  reverse_mortgage                          112 non-null    int64
 19  open-end_line_of_credit                   112 non-null    int64
 20  business_or_commercial_purpose            112 non-null    int64
 21  loan_amount                               112 non-null    float64
 22  loan_to_value_ratio                       4 non-null      object
 23  interest_rate                             47 non-null     object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              112 non-null    int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         38 non-null     object
 34  negative_amortization                     112 non-null    int64
 35  interest_only_payment                     112 non-null    int64
 36  balloon_payment                           112 non-null    int64
 37  other_nonamortizing_features              112 non-null    int64
 38  property_value                            64 non-null     object
 39  construction_method                       112 non-null    int64
 40  occupancy_type                            112 non-null    int64
 41  manufactured_home_secured_property_type   112 non-null    int64
 42  manufactured_home_land_property_interest  112 non-null    int64
 43  total_units                               112 non-null    object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    95 non-null     float64
 46  debt_to_income_ratio                      2 non-null      object
 47  applicant_credit_score_type               112 non-null    int64
 48  co-applicant_credit_score_type            112 non-null    int64
 49  applicant_ethnicity-1                     112 non-null    float64
 50  applicant_ethnicity-2                     14 non-null     float64
 51  applicant_ethnicity-3                     0 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  112 non-null    float64
 55  co-applicant_ethnicity-2                  7 non-null      float64
 56  co-applicant_ethnicity-3                  0 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              112 non-null    int64
 60  co-applicant_ethnicity_observed           112 non-null    int64
 61  applicant_race-1                          112 non-null    float64
 62  applicant_race-2                          0 non-null      float64
 63  applicant_race-3                          0 non-null      float64
 64  applicant_race-4                          0 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       112 non-null    float64
 67  co-applicant_race-2                       0 non-null      float64
 68  co-applicant_race-3                       0 non-null      float64
 69  co-applicant_race-4                       0 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   112 non-null    int64
 72  co-applicant_race_observed                112 non-null    int64
 73  applicant_sex                             112 non-null    int64
 74  co-applicant_sex                          112 non-null    int64
 75  applicant_sex_observed                    112 non-null    int64
 76  co-applicant_sex_observed                 112 non-null    int64
 77  applicant_age                             112 non-null    object
 78  co-applicant_age                          112 non-null    object
 79  applicant_age_above_62                    59 non-null     object
 80  co-applicant_age_above_62                 24 non-null     object
 81  submission_of_application                 112 non-null    int64
 82  initially_payable_to_institution          112 non-null    int64
 83  aus-1                                     112 non-null    int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           112 non-null    int64
 89  denial_reason-2                           0 non-null      float64
 90  denial_reason-3                           0 non-null      float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          112 non-null    int64
 93  tract_minority_population_percent         112 non-null    float64
 94  ffiec_msa_md_median_family_income         112 non-null    int64
 95  tract_to_msa_income_percentage            112 non-null    int64
 96  tract_owner_occupied_units                112 non-null    int64
 97  tract_one_to_four_family_homes            112 non-null    int64
 98  tract_median_age_of_housing_units         112 non-null    int64
dtypes: float64(30), int64(40), object(29)
memory usage: 87.5+ KB

In [43]:
# export
imperial_rm_all.to_csv('./reverse_mortgage_data/imperial_rm_all.csv', index=False)

## San Diego County

In [44]:
# read csv

san_diego_all_2018 = pd.read_csv('./all_mortgage_data/san_diego_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_diego_all_2019 = pd.read_csv('./all_mortgage_data/richland_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_diego_all_2020 = pd.read_csv('./all_mortgage_data/san_diego_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

san_diego_all_2021 = pd.read_csv('./all_mortgage_data/san_diego_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/1313171944.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  san_diego_all_2018 = pd.read_csv('./all_mortgage_data/san_diego_all_2018.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/1313171944.py:8: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  san_diego_all_2019 = pd.read_csv('./all_mortgage_data/san_diego_all_2019.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/1313171944.py:13: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  san_diego_all_2020 = pd.read_csv('./all_mortgage_data/san_diego_all_2020.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/1313171944.py:18: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  san_diego_all_2021 = pd.read_csv('./all_mortgage_data/san_diego_all_2021.csv', dtype={

In [45]:
# filter to reverse mortgage

san_diego_rm_2018 = san_diego_all_2018[(san_diego_all_2018['reverse_mortgage'] == 1)]
san_diego_rm_2019 = san_diego_all_2019[(san_diego_all_2019['reverse_mortgage'] == 1)]
san_diego_rm_2020 = san_diego_all_2020[(san_diego_all_2020['reverse_mortgage'] == 1)]
san_diego_rm_2021 = san_diego_all_2021[(san_diego_all_2021['reverse_mortgage'] == 1)]

In [46]:
# concatenate 2018-2021 years

san_diego_rm_all = pd.concat((san_diego_rm_2018, san_diego_rm_2019, san_diego_rm_2020, san_diego_rm_2021), axis=0)
san_diego_rm_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8741 entries, 12502 to 298149
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             8741 non-null   int64
 1   lei                                       8741 non-null   object
 2   derived_msa-md                            8741 non-null   int64
 3   state_code                                8741 non-null   object
 4   county_code                               8741 non-null   object
 5   census_tract                              8741 non-null   object
 6   conforming_loan_limit                     8741 non-null   object
 7   derived_loan_product_type                 8741 non-null   object
 8   derived_dwelling_category                 8741 non-null   object
 9   derived_ethnicity                         8741 non-null   object
 10  derived_race                              8741 non-null   object
 11  derived_sex                               8741 non-null   object
 12  action_taken                              8741 non-null   int64
 13  purchaser_type                            8741 non-null   int64
 14  preapproval                               8741 non-null   int64
 15  loan_type                                 8741 non-null   int64
 16  loan_purpose                              8741 non-null   int64
 17  lien_status                               8741 non-null   int64
 18  reverse_mortgage                          8741 non-null   int64
 19  open-end_line_of_credit                   8741 non-null   int64
 20  business_or_commercial_purpose            8741 non-null   int64
 21  loan_amount                               8741 non-null   float64
 22  loan_to_value_ratio                       185 non-null    object
 23  interest_rate                             6255 non-null   object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              8741 non-null   int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         4605 non-null   object
 34  negative_amortization                     8741 non-null   int64
 35  interest_only_payment                     8741 non-null   int64
 36  balloon_payment                           8741 non-null   int64
 37  other_nonamortizing_features              8741 non-null   int64
 38  property_value                            6963 non-null   object
 39  construction_method                       8741 non-null   int64
 40  occupancy_type                            8741 non-null   int64
 41  manufactured_home_secured_property_type   8741 non-null   int64
 42  manufactured_home_land_property_interest  8741 non-null   int64
 43  total_units                               8741 non-null   object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    7394 non-null   float64
 46  debt_to_income_ratio                      133 non-null    object
 47  applicant_credit_score_type               8741 non-null   int64
 48  co-applicant_credit_score_type            8741 non-null   int64
 49  applicant_ethnicity-1                     8741 non-null   float64
 50  applicant_ethnicity-2                     196 non-null    float64
 51  applicant_ethnicity-3                     3 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  8741 non-null   float64
 55  co-applicant_ethnicity-2                  86 non-null     float64
 56  co-applicant_ethnicity-3                  1 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              8741 non-null   int64
 60  co-applicant_ethnicity_observed           8741 non-null   int64
 61  applicant_race-1                          8740 non-null   float64
 62  applicant_race-2                          142 non-null    float64
 63  applicant_race-3                          16 non-null     float64
 64  applicant_race-4                          2 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       8741 non-null   float64
 67  co-applicant_race-2                       57 non-null     float64
 68  co-applicant_race-3                       6 non-null      float64
 69  co-applicant_race-4                       0 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   8741 non-null   int64
 72  co-applicant_race_observed                8741 non-null   int64
 73  applicant_sex                             8741 non-null   int64
 74  co-applicant_sex                          8741 non-null   int64
 75  applicant_sex_observed                    8741 non-null   int64
 76  co-applicant_sex_observed                 8741 non-null   int64
 77  applicant_age                             8741 non-null   object
 78  co-applicant_age                          8741 non-null   object
 79  applicant_age_above_62                    6705 non-null   object
 80  co-applicant_age_above_62                 2588 non-null   object
 81  submission_of_application                 8741 non-null   int64
 82  initially_payable_to_institution          8741 non-null   int64
 83  aus-1                                     8741 non-null   int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           8741 non-null   int64
 89  denial_reason-2                           65 non-null     float64
 90  denial_reason-3                           5 non-null      float64
 91  denial_reason-4                           1 non-null      float64
 92  tract_population                          8741 non-null   int64
 93  tract_minority_population_percent         8741 non-null   float64
 94  ffiec_msa_md_median_family_income         8741 non-null   int64
 95  tract_to_msa_income_percentage            8741 non-null   int64
 96  tract_owner_occupied_units                8741 non-null   int64
 97  tract_one_to_four_family_homes            8741 non-null   int64
 98  tract_median_age_of_housing_units         8741 non-null   int64
dtypes: float64(30), int64(40), object(29)
memory usage: 6.7+ MB

In [47]:
# export
san_diego_rm_all.to_csv('./reverse_mortgage_data/san_diego_rm_all.csv', index=False)

## Richland, SC

In [2]:
# read csv

richland_all_2018 = pd.read_csv('./all_mortgage_data/richland_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

richland_all_2019 = pd.read_csv('./all_mortgage_data/richland_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

richland_all_2020 = pd.read_csv('./all_mortgage_data/richland_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

richland_all_2021 = pd.read_csv('./all_mortgage_data/richland_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_43713/3429943524.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,44) have mixed types. Specify dtype option on import or set low_memory=False.
  richland_all_2018 = pd.read_csv('./all_mortgage_data/richland_all_2018.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_43713/3429943524.py:18: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  richland_all_2021 = pd.read_csv('./all_mortgage_data/richland_all_2021.csv', dtype={

In [3]:
# filter to reverse mortgage

richland_rm_2018 = richland_all_2018[(richland_all_2018['reverse_mortgage'] == 1)]
richland_rm_2019 = richland_all_2019[(richland_all_2019['reverse_mortgage'] == 1)]
richland_rm_2020 = richland_all_2020[(richland_all_2020['reverse_mortgage'] == 1)]
richland_rm_2021 = richland_all_2021[(richland_all_2021['reverse_mortgage'] == 1)]

In [4]:
# concatenate 2018-2021 years

richland_rm_all = pd.concat((richland_rm_2018, richland_rm_2019, richland_rm_2020, richland_rm_2021), axis=0)
richland_rm_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 2095 to 27430
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             173 non-null    int64
 1   lei                                       173 non-null    object
 2   derived_msa-md                            173 non-null    int64
 3   state_code                                173 non-null    object
 4   county_code                               173 non-null    object
 5   census_tract                              173 non-null    object
 6   conforming_loan_limit                     173 non-null    object
 7   derived_loan_product_type                 173 non-null    object
 8   derived_dwelling_category                 173 non-null    object
 9   derived_ethnicity                         173 non-null    object
 10  derived_race                              173 non-null    object
 11  derived_sex                               173 non-null    object
 12  action_taken                              173 non-null    int64
 13  purchaser_type                            173 non-null    int64
 14  preapproval                               173 non-null    int64
 15  loan_type                                 173 non-null    int64
 16  loan_purpose                              173 non-null    int64
 17  lien_status                               173 non-null    int64
 18  reverse_mortgage                          173 non-null    int64
 19  open-end_line_of_credit                   173 non-null    int64
 20  business_or_commercial_purpose            173 non-null    int64
 21  loan_amount                               173 non-null    float64
 22  loan_to_value_ratio                       3 non-null      object
 23  interest_rate                             117 non-null    object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              173 non-null    int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         81 non-null     object
 34  negative_amortization                     173 non-null    int64
 35  interest_only_payment                     173 non-null    int64
 36  balloon_payment                           173 non-null    int64
 37  other_nonamortizing_features              173 non-null    int64
 38  property_value                            128 non-null    object
 39  construction_method                       173 non-null    int64
 40  occupancy_type                            173 non-null    int64
 41  manufactured_home_secured_property_type   173 non-null    int64
 42  manufactured_home_land_property_interest  173 non-null    int64
 43  total_units                               173 non-null    object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    138 non-null    float64
 46  debt_to_income_ratio                      1 non-null      object
 47  applicant_credit_score_type               173 non-null    int64
 48  co-applicant_credit_score_type            173 non-null    int64
 49  applicant_ethnicity-1                     173 non-null    float64
 50  applicant_ethnicity-2                     0 non-null      float64
 51  applicant_ethnicity-3                     0 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  173 non-null    float64
 55  co-applicant_ethnicity-2                  0 non-null      float64
 56  co-applicant_ethnicity-3                  0 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              173 non-null    int64
 60  co-applicant_ethnicity_observed           173 non-null    int64
 61  applicant_race-1                          173 non-null    float64
 62  applicant_race-2                          3 non-null      float64
 63  applicant_race-3                          0 non-null      float64
 64  applicant_race-4                          0 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       173 non-null    int64
 67  co-applicant_race-2                       0 non-null      float64
 68  co-applicant_race-3                       0 non-null      float64
 69  co-applicant_race-4                       0 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   173 non-null    int64
 72  co-applicant_race_observed                173 non-null    int64
 73  applicant_sex                             173 non-null    int64
 74  co-applicant_sex                          173 non-null    int64
 75  applicant_sex_observed                    173 non-null    int64
 76  co-applicant_sex_observed                 173 non-null    int64
 77  applicant_age                             173 non-null    object
 78  co-applicant_age                          173 non-null    object
 79  applicant_age_above_62                    140 non-null    object
 80  co-applicant_age_above_62                 38 non-null     object
 81  submission_of_application                 173 non-null    int64
 82  initially_payable_to_institution          173 non-null    int64
 83  aus-1                                     173 non-null    int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           173 non-null    int64
 89  denial_reason-2                           3 non-null      float64
 90  denial_reason-3                           2 non-null      float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          173 non-null    int64
 93  tract_minority_population_percent         173 non-null    float64
 94  ffiec_msa_md_median_family_income         173 non-null    int64
 95  tract_to_msa_income_percentage            173 non-null    int64
 96  tract_owner_occupied_units                173 non-null    int64
 97  tract_one_to_four_family_homes            173 non-null    int64
 98  tract_median_age_of_housing_units         173 non-null    int64
dtypes: float64(29), int64(41), object(29)
memory usage: 135.2+ KB

In [8]:
# export
richland_rm_all.to_csv('./reverse_mortgage_data/richland_rm_all.csv', index=False)

## Greenville, SC

In [34]:
# read csv

greenville_all_2018 = pd.read_csv('./all_mortgage_data/greenville_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

greenville_all_2019 = pd.read_csv('./all_mortgage_data/greenville_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

greenville_all_2020 = pd.read_csv('./all_mortgage_data/greenville_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

greenville_all_2021 = pd.read_csv('./all_mortgage_data/greenville_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

# filter to reverse mortgage

greenville_rm_2018 = greenville_all_2018[(greenville_all_2018['reverse_mortgage'] == 1)]
greenville_rm_2019 = greenville_all_2019[(greenville_all_2019['reverse_mortgage'] == 1)]
greenville_rm_2020 = greenville_all_2020[(greenville_all_2020['reverse_mortgage'] == 1)]
greenville_rm_2021 = greenville_all_2021[(greenville_all_2021['reverse_mortgage'] == 1)]

# concatenate 2018-2021 years

greenville_rm_all = pd.concat((greenville_rm_2018, greenville_rm_2019, greenville_rm_2020, greenville_rm_2021), axis=0)
greenville_rm_all.info()

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_43713/1281187055.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,44) have mixed types. Specify dtype option on import or set low_memory=False.
  greenville_all_2018 = pd.read_csv('./all_mortgage_data/greenville_all_2018.csv', dtype={

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 3140 to 33372
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             501 non-null    int64
 1   lei                                       501 non-null    object
 2   derived_msa-md                            501 non-null    int64
 3   state_code                                501 non-null    object
 4   county_code                               501 non-null    object
 5   census_tract                              501 non-null    object
 6   conforming_loan_limit                     501 non-null    object
 7   derived_loan_product_type                 501 non-null    object
 8   derived_dwelling_category                 501 non-null    object
 9   derived_ethnicity                         501 non-null    object
 10  derived_race                              501 non-null    object
 11  derived_sex                               501 non-null    object
 12  action_taken                              501 non-null    int64
 13  purchaser_type                            501 non-null    int64
 14  preapproval                               501 non-null    int64
 15  loan_type                                 501 non-null    int64
 16  loan_purpose                              501 non-null    int64
 17  lien_status                               501 non-null    int64
 18  reverse_mortgage                          501 non-null    int64
 19  open-end_line_of_credit                   501 non-null    int64
 20  business_or_commercial_purpose            501 non-null    int64
 21  loan_amount                               501 non-null    float64
 22  loan_to_value_ratio                       5 non-null      object
 23  interest_rate                             341 non-null    object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              501 non-null    int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         269 non-null    object
 34  negative_amortization                     501 non-null    int64
 35  interest_only_payment                     501 non-null    int64
 36  balloon_payment                           501 non-null    int64
 37  other_nonamortizing_features              501 non-null    int64
 38  property_value                            396 non-null    object
 39  construction_method                       501 non-null    int64
 40  occupancy_type                            501 non-null    int64
 41  manufactured_home_secured_property_type   501 non-null    int64
 42  manufactured_home_land_property_interest  501 non-null    int64
 43  total_units                               501 non-null    object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    386 non-null    float64
 46  debt_to_income_ratio                      4 non-null      object
 47  applicant_credit_score_type               501 non-null    int64
 48  co-applicant_credit_score_type            501 non-null    int64
 49  applicant_ethnicity-1                     501 non-null    float64
 50  applicant_ethnicity-2                     1 non-null      float64
 51  applicant_ethnicity-3                     0 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  501 non-null    float64
 55  co-applicant_ethnicity-2                  2 non-null      float64
 56  co-applicant_ethnicity-3                  0 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              501 non-null    int64
 60  co-applicant_ethnicity_observed           501 non-null    int64
 61  applicant_race-1                          501 non-null    float64
 62  applicant_race-2                          0 non-null      float64
 63  applicant_race-3                          0 non-null      float64
 64  applicant_race-4                          0 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       501 non-null    float64
 67  co-applicant_race-2                       0 non-null      float64
 68  co-applicant_race-3                       0 non-null      float64
 69  co-applicant_race-4                       0 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   501 non-null    int64
 72  co-applicant_race_observed                501 non-null    int64
 73  applicant_sex                             501 non-null    int64
 74  co-applicant_sex                          501 non-null    int64
 75  applicant_sex_observed                    501 non-null    int64
 76  co-applicant_sex_observed                 501 non-null    int64
 77  applicant_age                             501 non-null    object
 78  co-applicant_age                          501 non-null    object
 79  applicant_age_above_62                    392 non-null    object
 80  co-applicant_age_above_62                 156 non-null    object
 81  submission_of_application                 501 non-null    int64
 82  initially_payable_to_institution          501 non-null    int64
 83  aus-1                                     501 non-null    int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           501 non-null    int64
 89  denial_reason-2                           7 non-null      float64
 90  denial_reason-3                           2 non-null      float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          501 non-null    int64
 93  tract_minority_population_percent         501 non-null    float64
 94  ffiec_msa_md_median_family_income         501 non-null    int64
 95  tract_to_msa_income_percentage            501 non-null    int64
 96  tract_owner_occupied_units                501 non-null    int64
 97  tract_one_to_four_family_homes            501 non-null    int64
 98  tract_median_age_of_housing_units         501 non-null    int64
dtypes: float64(30), int64(40), object(29)
memory usage: 391.4+ KB

In [35]:
# export
greenville_rm_all.to_csv('./reverse_mortgage_data/greenville_rm_all.csv', index=False)

## Florida

In [4]:
# read csv

florida_all_2018 = pd.read_csv('./all_mortgage_data/florida_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

florida_all_2019 = pd.read_csv('./all_mortgage_data/florida_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

florida_all_2020 = pd.read_csv('./all_mortgage_data/florida_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

florida_all_2021 = pd.read_csv('./all_mortgage_data/florida_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/6z/6gtwqj6d3vg7r1l6x70_qx_hvwszbk/T/ipykernel_30550/2319788081.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44,46,77,78,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  florida_all_2018 = pd.read_csv('./all_mortgage_data/florida_all_2018.csv', dtype={
/var/folders/6z/6gtwqj6d3vg7r1l6x70_qx_hvwszbk/T/ipykernel_30550/2319788081.py:8: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44,46) have mixed types. Specify dtype option on import or set low_memory=False.
  florida_all_2019 = pd.read_csv('./all_mortgage_data/florida_all_2019.csv', dtype={
/var/folders/6z/6gtwqj6d3vg7r1l6x70_qx_hvwszbk/T/ipykernel_30550/2319788081.py:13: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  florida_all_2020 = pd.read_csv('./all_mortgage_data/florida_all_2020.csv', dtype={
/var/folders/6z/6gtwqj6d3vg7r1l6x70_qx_hvwszbk/T/ipykernel_30550/2319788081.py:18: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  florida_all_2021 = pd.read_csv('./all_mortgage_data/florida_all_2021.csv', dtype={

In [5]:
# filter to reverse mortgage

florida_rm_2018 = florida_all_2018[(florida_all_2018['reverse_mortgage'] == 1)]
florida_rm_2019 = florida_all_2019[(florida_all_2019['reverse_mortgage'] == 1)]
florida_rm_2020 = florida_all_2020[(florida_all_2020['reverse_mortgage'] == 1)]
florida_rm_2021 = florida_all_2021[(florida_all_2021['reverse_mortgage'] == 1)]

In [6]:
# concatenate 2018-2021 years

florida_rm_all = pd.concat((florida_rm_2018, florida_rm_2019, florida_rm_2020, florida_rm_2021), axis=0)
florida_rm_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30955 entries, 59228 to 1899242
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             30955 non-null  int64
 1   lei                                       30955 non-null  object
 2   derived_msa-md                            30955 non-null  int64
 3   state_code                                30955 non-null  object
 4   county_code                               30922 non-null  object
 5   census_tract                              30918 non-null  object
 6   conforming_loan_limit                     30953 non-null  object
 7   derived_loan_product_type                 30955 non-null  object
 8   derived_dwelling_category                 30955 non-null  object
 9   derived_ethnicity                         30955 non-null  object
 10  derived_race                              30955 non-null  object
 11  derived_sex                               30955 non-null  object
 12  action_taken                              30955 non-null  int64
 13  purchaser_type                            30955 non-null  int64
 14  preapproval                               30955 non-null  int64
 15  loan_type                                 30955 non-null  int64
 16  loan_purpose                              30955 non-null  int64
 17  lien_status                               30955 non-null  int64
 18  reverse_mortgage                          30955 non-null  int64
 19  open-end_line_of_credit                   30955 non-null  int64
 20  business_or_commercial_purpose            30955 non-null  int64
 21  loan_amount                               30955 non-null  float64
 22  loan_to_value_ratio                       645 non-null    object
 23  interest_rate                             18784 non-null  object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              30955 non-null  int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         17219 non-null  object
 34  negative_amortization                     30955 non-null  int64
 35  interest_only_payment                     30955 non-null  int64
 36  balloon_payment                           30955 non-null  int64
 37  other_nonamortizing_features              30955 non-null  int64
 38  property_value                            23903 non-null  object
 39  construction_method                       30955 non-null  int64
 40  occupancy_type                            30955 non-null  int64
 41  manufactured_home_secured_property_type   30955 non-null  int64
 42  manufactured_home_land_property_interest  30955 non-null  int64
 43  total_units                               30955 non-null  object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    23501 non-null  float64
 46  debt_to_income_ratio                      399 non-null    object
 47  applicant_credit_score_type               30955 non-null  int64
 48  co-applicant_credit_score_type            30955 non-null  int64
 49  applicant_ethnicity-1                     30952 non-null  float64
 50  applicant_ethnicity-2                     1144 non-null   float64
 51  applicant_ethnicity-3                     15 non-null     float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  30953 non-null  float64
 55  co-applicant_ethnicity-2                  473 non-null    float64
 56  co-applicant_ethnicity-3                  4 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              30955 non-null  int64
 60  co-applicant_ethnicity_observed           30955 non-null  int64
 61  applicant_race-1                          30955 non-null  float64
 62  applicant_race-2                          156 non-null    float64
 63  applicant_race-3                          10 non-null     float64
 64  applicant_race-4                          0 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       30954 non-null  float64
 67  co-applicant_race-2                       69 non-null     float64
 68  co-applicant_race-3                       12 non-null     float64
 69  co-applicant_race-4                       1 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   30955 non-null  int64
 72  co-applicant_race_observed                30955 non-null  int64
 73  applicant_sex                             30955 non-null  int64
 74  co-applicant_sex                          30955 non-null  int64
 75  applicant_sex_observed                    30955 non-null  int64
 76  co-applicant_sex_observed                 30955 non-null  int64
 77  applicant_age                             30955 non-null  object
 78  co-applicant_age                          30955 non-null  object
 79  applicant_age_above_62                    23308 non-null  object
 80  co-applicant_age_above_62                 9014 non-null   object
 81  submission_of_application                 30955 non-null  int64
 82  initially_payable_to_institution          30955 non-null  int64
 83  aus-1                                     30955 non-null  int64
 84  aus-2                                     4 non-null      float64
 85  aus-3                                     4 non-null      float64
 86  aus-4                                     4 non-null      float64
 87  aus-5                                     4 non-null      float64
 88  denial_reason-1                           30955 non-null  int64
 89  denial_reason-2                           342 non-null    float64
 90  denial_reason-3                           33 non-null     float64
 91  denial_reason-4                           6 non-null      float64
 92  tract_population                          30955 non-null  int64
 93  tract_minority_population_percent         30955 non-null  float64
 94  ffiec_msa_md_median_family_income         30955 non-null  int64
 95  tract_to_msa_income_percentage            30955 non-null  int64
 96  tract_owner_occupied_units                30955 non-null  int64
 97  tract_one_to_four_family_homes            30955 non-null  int64
 98  tract_median_age_of_housing_units         30955 non-null  int64
dtypes: float64(30), int64(40), object(29)
memory usage: 23.6+ MB

In [7]:
florida_rm_all.sample(10)

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
774082,2020,549300S5YL3OH0IVCS62,36740,FL,12069,12069031307,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,2,2,2,1,1,1,2,2,185000.0,NaN,4.18,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,305000,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,7.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,4,5,3,4,8888,9999,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,18162,38.92,68100,121,4493,5371,12
323274,2020,549300TINI6CL78UD591,37340,FL,12009,12009062104,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,2,2,2,31,1,1,1,2,65000.0,NaN,3.164,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,165000,1,1,3,5,1,NaN,52.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,2,1,2,2,65-74,>74,Yes,Yes,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,6834,18.42,69200,108,2109,2688,26
256521,2018,5493001FXF3J5C0QWQ87,45300,FL,12101,12101031605,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,2,2,2,31,1,1,1,2,135000.0,NaN,5.135,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2,2,2,2,385000,1,1,3,5,1,NaN,54.0,NaN,9,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2927,10.11,63900,128,992,1514,28
259081,2018,5493001FXF3J5C0QWQ87,36740,FL,12097,12097042601,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,0,2,2,31,1,1,1,2,265000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2,2,2,2,275000,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3,3,7.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,3,3,4,4,3,3,8888,8888,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3695,92.26,62900,68,814,1049,18
428294,2021,5493007BX4I89K17ZM64,38940,FL,12085,12085001601,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,1,2,2,2,32,1,1,2,2,445000.0,NaN,2.205,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,775000,1,1,3,5,1,NaN,70.0,NaN,7,7,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,65-74,65-74,Yes,Yes,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4359,7.69,71500,164,1738,1773,36
73340,2021,5493001FXF3J5C0QWQ87,35840,FL,12115,12115002508,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,2,0,2,2,2,1,1,1,2,125000.0,NaN,2.285,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2,2,2,215000,1,1,3,5,1,NaN,17.0,NaN,9,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3239,7.44,77200,78,993,1540,36
321555,2020,549300TINI6CL78UD591,37340,FL,12009,12009071322,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Joint,1,2,2,2,31,1,1,1,2,125000.0,NaN,2.965,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,215000,1,1,3,5,1,NaN,47.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2,2,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,65-74,65-74,Yes,Yes,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,9742,42.20,69200,79,2300,3587,28
787587,2020,549300MHH03ICJYEPE85,35840,FL,12115,12115002716,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,6,2,2,2,1,1,1,1,2,175000.0,NaN,2.858,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,2,2,2,2,315000,1,1,3,5,1,NaN,42.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,65-74,9999,Yes,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,7564,1.84,76700,129,2441,3349,14
1668192,2020,549300CR5XDK0TP7I727,15980,FL,12071,12071040116,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,1,2,2,2,32,1,1,1,2,155000.0,NaN,2.712,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,245000,1,1,3,5,1,NaN,20.0,NaN,2,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,>74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,6233,22.43,68700,210,1682,2470,12
1001329,2018,B4TYDEB6GKMZO031MB27,36740,FL,12069,12069031102,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,0,2,2,5,1,1,2,2,365000.0,NaN,4.99,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,375000.0,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3,3,7.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,3,3,4,4,3,3,8888,8888,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,7282,8.32,62900,100,3639,4508,20

In [8]:
# export
florida_rm_all.to_csv('./reverse_mortgage_data/florida_rm_all.csv', index=False)

## Colorado

In [2]:
# read csv

colorado_all_2018 = pd.read_csv('./all_mortgage_data/colorado_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

colorado_all_2019 = pd.read_csv('./all_mortgage_data/colorado_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

colorado_all_2020 = pd.read_csv('./all_mortgage_data/colorado_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

colorado_all_2021 = pd.read_csv('./all_mortgage_data/colorado_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

# filter to reverse mortgage

colorado_rm_2018 = colorado_all_2018[(colorado_all_2018['reverse_mortgage'] == 1)]
colorado_rm_2019 = colorado_all_2019[(colorado_all_2019['reverse_mortgage'] == 1)]
colorado_rm_2020 = colorado_all_2020[(colorado_all_2020['reverse_mortgage'] == 1)]
colorado_rm_2021 = colorado_all_2021[(colorado_all_2021['reverse_mortgage'] == 1)]

# concatenate 2018-2021 years

colorado_rm_all = pd.concat((colorado_rm_2018, colorado_rm_2019, colorado_rm_2020, colorado_rm_2021), axis=0)
colorado_rm_all.info()

/var/folders/6z/6gtwqj6d3vg7r1l6x70_qx_hvwszbk/T/ipykernel_1709/3977923728.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  colorado_all_2018 = pd.read_csv('./all_mortgage_data/colorado_all_2018.csv', dtype={
/var/folders/6z/6gtwqj6d3vg7r1l6x70_qx_hvwszbk/T/ipykernel_1709/3977923728.py:8: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  colorado_all_2019 = pd.read_csv('./all_mortgage_data/colorado_all_2019.csv', dtype={
/var/folders/6z/6gtwqj6d3vg7r1l6x70_qx_hvwszbk/T/ipykernel_1709/3977923728.py:13: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  colorado_all_2020 = pd.read_csv('./all_mortgage_data/colorado_all_2020.csv', dtype={
/var/folders/6z/6gtwqj6d3vg7r1l6x70_qx_hvwszbk/T/ipykernel_1709/3977923728.py:18: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  colorado_all_2021 = pd.read_csv('./all_mortgage_data/colorado_all_2021.csv', dtype={

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18330 entries, 22892 to 704327
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             18330 non-null  int64
 1   lei                                       18330 non-null  object
 2   derived_msa-md                            18330 non-null  int64
 3   state_code                                18330 non-null  object
 4   county_code                               18313 non-null  object
 5   census_tract                              18312 non-null  object
 6   conforming_loan_limit                     18329 non-null  object
 7   derived_loan_product_type                 18330 non-null  object
 8   derived_dwelling_category                 18330 non-null  object
 9   derived_ethnicity                         18330 non-null  object
 10  derived_race                              18330 non-null  object
 11  derived_sex                               18330 non-null  object
 12  action_taken                              18330 non-null  int64
 13  purchaser_type                            18330 non-null  int64
 14  preapproval                               18330 non-null  int64
 15  loan_type                                 18330 non-null  int64
 16  loan_purpose                              18330 non-null  int64
 17  lien_status                               18330 non-null  int64
 18  reverse_mortgage                          18330 non-null  int64
 19  open-end_line_of_credit                   18330 non-null  int64
 20  business_or_commercial_purpose            18330 non-null  int64
 21  loan_amount                               18330 non-null  float64
 22  loan_to_value_ratio                       1434 non-null   object
 23  interest_rate                             14464 non-null  object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              18330 non-null  int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         11041 non-null  object
 34  negative_amortization                     18330 non-null  int64
 35  interest_only_payment                     18330 non-null  int64
 36  balloon_payment                           18330 non-null  int64
 37  other_nonamortizing_features              18330 non-null  int64
 38  property_value                            15804 non-null  object
 39  construction_method                       18330 non-null  int64
 40  occupancy_type                            18330 non-null  int64
 41  manufactured_home_secured_property_type   18330 non-null  int64
 42  manufactured_home_land_property_interest  18330 non-null  int64
 43  total_units                               18330 non-null  object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    14296 non-null  float64
 46  debt_to_income_ratio                      411 non-null    object
 47  applicant_credit_score_type               18330 non-null  int64
 48  co-applicant_credit_score_type            18330 non-null  int64
 49  applicant_ethnicity-1                     18329 non-null  float64
 50  applicant_ethnicity-2                     279 non-null    float64
 51  applicant_ethnicity-3                     4 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  18330 non-null  float64
 55  co-applicant_ethnicity-2                  122 non-null    float64
 56  co-applicant_ethnicity-3                  4 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              18330 non-null  int64
 60  co-applicant_ethnicity_observed           18330 non-null  int64
 61  applicant_race-1                          18329 non-null  float64
 62  applicant_race-2                          105 non-null    float64
 63  applicant_race-3                          12 non-null     float64
 64  applicant_race-4                          0 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       18329 non-null  float64
 67  co-applicant_race-2                       40 non-null     float64
 68  co-applicant_race-3                       9 non-null      float64
 69  co-applicant_race-4                       0 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   18330 non-null  int64
 72  co-applicant_race_observed                18330 non-null  int64
 73  applicant_sex                             18330 non-null  int64
 74  co-applicant_sex                          18330 non-null  int64
 75  applicant_sex_observed                    18330 non-null  int64
 76  co-applicant_sex_observed                 18330 non-null  int64
 77  applicant_age                             18330 non-null  object
 78  co-applicant_age                          18330 non-null  object
 79  applicant_age_above_62                    15172 non-null  object
 80  co-applicant_age_above_62                 6315 non-null   object
 81  submission_of_application                 18330 non-null  int64
 82  initially_payable_to_institution          18330 non-null  int64
 83  aus-1                                     18330 non-null  int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           18330 non-null  int64
 89  denial_reason-2                           147 non-null    float64
 90  denial_reason-3                           18 non-null     float64
 91  denial_reason-4                           6 non-null      float64
 92  tract_population                          18330 non-null  int64
 93  tract_minority_population_percent         18330 non-null  float64
 94  ffiec_msa_md_median_family_income         18330 non-null  int64
 95  tract_to_msa_income_percentage            18330 non-null  int64
 96  tract_owner_occupied_units                18330 non-null  int64
 97  tract_one_to_four_family_homes            18330 non-null  int64
 98  tract_median_age_of_housing_units         18330 non-null  int64
dtypes: float64(30), int64(40), object(29)
memory usage: 14.0+ MB

In [4]:
colorado_rm_all.to_csv('./reverse_mortgage_data/colorado_rm_all.csv', index=False)

## All places 2020

In [9]:
all_2020 = pd.read_csv('./all_mortgage_data/2020_public_lar_one_year.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_43713/574227209.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44,46,77,78,79,80) have mixed types. Specify dtype option on import or set low_memory=False.
  all_2020 = pd.read_csv('./all_mortgage_data/2020_public_lar_one_year.csv', dtype={

In [10]:
all_2020.sample()

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_1,applicant_ethnicity_2,applicant_ethnicity_3,applicant_ethnicity_4,applicant_ethnicity_5,co_applicant_ethnicity_1,co_applicant_ethnicity_2,co_applicant_ethnicity_3,co_applicant_ethnicity_4,co_applicant_ethnicity_5,applicant_ethnicity_observed,co_applicant_ethnicity_observed,applicant_race_1,applicant_race_2,applicant_race_3,applicant_race_4,applicant_race_5,co_applicant_race_1,co_applicant_race_2,co_applicant_race_3,co_applicant_race_4,co_applicant_race_5,applicant_race_observed,co_applicant_race_observed,applicant_sex,co_applicant_sex,applicant_sex_observed,co_applicant_sex_observed,applicant_age,co_applicant_age,applicant_age_above_62,co_applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
11322514,2020,549300LYRWPSYPK6S325,47260,VA,51093,51093280105,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,2,2,2,1,1,2,2,2,195000,NaN,2.75,NaN,2,6517.51,NaN,1095.0,NaN,897.93,360,NaN,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3,3,7.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,3,3,4,4,3,3,8888,8888,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4140,50.24,78800,90.0,1124,1555,36

In [11]:
all_rm_2020 = all_2020[(all_2020['reverse_mortgage'] == 1)]

In [19]:
# groupby state code

rm_2020_state = all_rm_2020.groupby(['state_code']).count()
rm_2020_state = rm_2020_state.sort_values(by='lei', ascending=False)
rm_2020_state_count = rm_2020_state[['lei']].reset_index()

In [20]:
rm_2020_state_count

   state_code    lei
0          CA  21111
1          FL   6858
2          TX   5254
3          CO   4834
4          AZ   4575
5          WA   3739
6          NY   2462
7          UT   2334
8          OR   1949
9          NC   1715
10         NV   1546
11         GA   1523
12         PA   1493
13         VA   1391
14         NJ   1293
15         ID   1249
16         OH   1171
17         SC   1043
18         TN   1040
19         IL   1003
20         MD    987
21         MI    977
22         MA    956
23         IN    671
24         LA    638
25         MN    634
26         AL    584
27         MO    530
28         CT    475
29         WI    464
30         OK    436
31         HI    372
32         NM    363
33         KY    331
34         DC    312
35         AR    287
36         MT    271
37         MS    229
38         KS    225
39         IA    216
40         ME    202
41         NH    177
42         WV    159
43         NE    144
44         RI    142
45         DE    137
46         WY    105
47         AK     65
48         VT     64
49         SD     56
50         ND     47
51         PR     46

In [23]:
population_2020 = pd.read_csv('./census_data/population_2020.csv')

In [24]:
population_2020

                   State state_code  total_population
0                Alabama         AL         4893186.0
1                 Alaska         AK          736990.0
2                Arizona         AZ         7174064.0
3               Arkansas         AR         3011873.0
4             California         CA        39346023.0
5               Colorado         CO         5684926.0
6            Connecticut         CT         3570549.0
7               Delaware         DE          967679.0
8   District of Columbia         DC          701974.0
9                Florida         FL        21216924.0
10               Georgia         GA        10516579.0
11                Hawaii         HI         1420074.0
12                 Idaho         ID         1754367.0
13              Illinois         IL        12716164.0
14               Indiana         IN         6696893.0
15                  Iowa         IA         3150011.0
16                Kansas         KS         2912619.0
17              Kentucky         KY         4461952.0
18             Louisiana         LA         4664616.0
19                 Maine         ME         1340825.0
20              Maryland         MD         6037624.0
21         Massachusetts         MA         6873003.0
22              Michigan         MI         9973907.0
23             Minnesota         MN         5600166.0
24           Mississippi         MS         2981835.0
25              Missouri         MO         6124160.0
26               Montana         MT         1061705.0
27              Nebraska         NE         1923826.0
28                Nevada         NV         3030281.0
29         New Hampshire         NH         1355244.0
30            New Jersey         NJ         8885418.0
31            New Mexico         NM         2097021.0
32              New York         NY        19514849.0
33        North Carolina         NC        10386227.0
34          North Dakota         ND          760394.0
35                  Ohio         OH        11675275.0
36              Oklahoma         OK         3949342.0
37                Oregon         OR         4176346.0
38          Pennsylvania         PA        12794885.0
39           Puerto Rico         PR         3255642.0
40          Rhode Island         RI         1057798.0
41        South Carolina         SC         5091517.0
42          South Dakota         SD          879336.0
43             Tennessee         TN         6772268.0
44                 Texas         TX        28635442.0
45                  Utah         UT         3151239.0
46               Vermont         VT          624340.0
47              Virginia         VA         8509358.0
48            Washington         WA         7512465.0
49         West Virginia         WV         1807426.0
50             Wisconsin         WI         5806975.0
51               Wyoming         WY          581348.0
52                   NaN        NaN               NaN

In [25]:
rm_count_2020 = pd.merge(
    rm_2020_state_count,
    population_2020,
    on='state_code',
    how='left',
    validate='1:1'
)

In [26]:
rm_count_2020

   state_code    lei                 State  total_population
0          CA  21111            California        39346023.0
1          FL   6858               Florida        21216924.0
2          TX   5254                 Texas        28635442.0
3          CO   4834              Colorado         5684926.0
4          AZ   4575               Arizona         7174064.0
5          WA   3739            Washington         7512465.0
6          NY   2462              New York        19514849.0
7          UT   2334                  Utah         3151239.0
8          OR   1949                Oregon         4176346.0
9          NC   1715        North Carolina        10386227.0
10         NV   1546                Nevada         3030281.0
11         GA   1523               Georgia        10516579.0
12         PA   1493          Pennsylvania        12794885.0
13         VA   1391              Virginia         8509358.0
14         NJ   1293            New Jersey         8885418.0
15         ID   1249                 Idaho         1754367.0
16         OH   1171                  Ohio        11675275.0
17         SC   1043        South Carolina         5091517.0
18         TN   1040             Tennessee         6772268.0
19         IL   1003              Illinois        12716164.0
20         MD    987              Maryland         6037624.0
21         MI    977              Michigan         9973907.0
22         MA    956         Massachusetts         6873003.0
23         IN    671               Indiana         6696893.0
24         LA    638             Louisiana         4664616.0
25         MN    634             Minnesota         5600166.0
26         AL    584               Alabama         4893186.0
27         MO    530              Missouri         6124160.0
28         CT    475           Connecticut         3570549.0
29         WI    464             Wisconsin         5806975.0
30         OK    436              Oklahoma         3949342.0
31         HI    372                Hawaii         1420074.0
32         NM    363            New Mexico         2097021.0
33         KY    331              Kentucky         4461952.0
34         DC    312  District of Columbia          701974.0
35         AR    287              Arkansas         3011873.0
36         MT    271               Montana         1061705.0
37         MS    229           Mississippi         2981835.0
38         KS    225                Kansas         2912619.0
39         IA    216                  Iowa         3150011.0
40         ME    202                 Maine         1340825.0
41         NH    177         New Hampshire         1355244.0
42         WV    159         West Virginia         1807426.0
43         NE    144              Nebraska         1923826.0
44         RI    142          Rhode Island         1057798.0
45         DE    137              Delaware          967679.0
46         WY    105               Wyoming          581348.0
47         AK     65                Alaska          736990.0
48         VT     64               Vermont          624340.0
49         SD     56          South Dakota          879336.0
50         ND     47          North Dakota          760394.0
51         PR     46           Puerto Rico         3255642.0

In [31]:
rm_count_2020['rm_per_1000'] = rm_count_2020['lei'] / rm_count_2020['total_population'] * 1000

In [32]:
rm_count_2020 = rm_count_2020.sort_values(by='rm_per_1000', ascending=False)

In [40]:
rm_count_2020 = rm_count_2020.reset_index(drop=True)

In [41]:
rm_count_2020

   state_code    lei                 State  total_population  rm_per_1000
0          CO   4834              Colorado         5684926.0     0.850319
1          UT   2334                  Utah         3151239.0     0.740661
2          ID   1249                 Idaho         1754367.0     0.711938
3          AZ   4575               Arizona         7174064.0     0.637714
4          CA  21111            California        39346023.0     0.536547
5          NV   1546                Nevada         3030281.0     0.510184
6          WA   3739            Washington         7512465.0     0.497706
7          OR   1949                Oregon         4176346.0     0.466676
8          DC    312  District of Columbia          701974.0     0.444461
9          FL   6858               Florida        21216924.0     0.323233
10         HI    372                Hawaii         1420074.0     0.261958
11         MT    271               Montana         1061705.0     0.255250
12         SC   1043        South Carolina         5091517.0     0.204851
13         TX   5254                 Texas        28635442.0     0.183479
14         WY    105               Wyoming          581348.0     0.180615
15         NM    363            New Mexico         2097021.0     0.173103
16         NC   1715        North Carolina        10386227.0     0.165123
17         MD    987              Maryland         6037624.0     0.163475
18         VA   1391              Virginia         8509358.0     0.163467
19         TN   1040             Tennessee         6772268.0     0.153567
20         ME    202                 Maine         1340825.0     0.150654
21         NJ   1293            New Jersey         8885418.0     0.145519
22         GA   1523               Georgia        10516579.0     0.144819
23         DE    137              Delaware          967679.0     0.141576
24         MA    956         Massachusetts         6873003.0     0.139095
25         LA    638             Louisiana         4664616.0     0.136774
26         RI    142          Rhode Island         1057798.0     0.134241
27         CT    475           Connecticut         3570549.0     0.133033
28         NH    177         New Hampshire         1355244.0     0.130604
29         NY   2462              New York        19514849.0     0.126160
30         AL    584               Alabama         4893186.0     0.119350
31         PA   1493          Pennsylvania        12794885.0     0.116687
32         MN    634             Minnesota         5600166.0     0.113211
33         OK    436              Oklahoma         3949342.0     0.110398
34         VT     64               Vermont          624340.0     0.102508
35         OH   1171                  Ohio        11675275.0     0.100297
36         IN    671               Indiana         6696893.0     0.100196
37         MI    977              Michigan         9973907.0     0.097956
38         AR    287              Arkansas         3011873.0     0.095290
39         AK     65                Alaska          736990.0     0.088197
40         WV    159         West Virginia         1807426.0     0.087970
41         MO    530              Missouri         6124160.0     0.086542
42         WI    464             Wisconsin         5806975.0     0.079904
43         IL   1003              Illinois        12716164.0     0.078876
44         KS    225                Kansas         2912619.0     0.077250
45         MS    229           Mississippi         2981835.0     0.076798
46         NE    144              Nebraska         1923826.0     0.074851
47         KY    331              Kentucky         4461952.0     0.074183
48         IA    216                  Iowa         3150011.0     0.068571
49         SD     56          South Dakota          879336.0     0.063684
50         ND     47          North Dakota          760394.0     0.061810
51         PR     46           Puerto Rico         3255642.0     0.014129

In [42]:
rm_count_2020.to_csv('./rm_count_2020.csv', index=False)

In [45]:
# groupby census_tract

rm_2020_tract = all_rm_2020.groupby(['census_tract']).count()
rm_2020_tract = rm_2020_tract.sort_values(by='lei', ascending=False)
rm_2020_tract_count = rm_2020_tract[['lei']].reset_index()

In [46]:
rm_2020_tract_count

      census_tract  lei
0      49053271600  106
1      49053270902   65
2      49053270300   62
3      04025001900   58
4      49053270801   57
...            ...  ...
31469  26065003400    1
31470  26063950800    1
31471  26063950700    1
31472  26063950500    1
31473  72153750102    1

[31474 rows x 2 columns]