In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [26]:
la_hispanic_2021 = pd.read_csv('https://raw.githubusercontent.com/jyyang7/reverse_mortgage/main/all_mortgage_data/la_hispanic_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

In [27]:
rm_la_hispanic_2021 = la_hispanic_2021[(la_hispanic_2021['reverse_mortgage'] == 1)]
rm_la_hispanic_2021

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
408,2021,5493001FXF3J5C0QWQ87,31084,CA,06037,06037900102,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,5,0,2,2,31,1,1,1,2,105000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2,2,2,2,NaN,1,1,3,5,1,NaN,31.0,NaN,9,9,1,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,55-64,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,691,55.72,80000,38,155,487,51
563,2021,549300TINI6CL78UD591,31084,CA,06037,06037201302,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Female,1,2,2,2,31,1,1,1,2,105000.0,NaN,2.83,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,675000,1,1,3,5,1,NaN,11.0,NaN,9,9,1,11.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3652,78.59,80000,104,1161,484,32
564,2021,549300TINI6CL78UD591,31084,CA,06037,06037900501,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Joint,4,0,2,2,31,1,1,1,2,105000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,12.0,NaN,9,9,1,14.0,NaN,NaN,NaN,1.0,14.0,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,65-74,65-74,Yes,Yes,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,6429,78.16,80000,61,1046,2105,34
565,2021,549300TINI6CL78UD591,31084,CA,06037,06037901205,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Joint,1,2,2,2,31,1,1,1,2,105000.0,NaN,2.66,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,385000,1,1,3,5,1,NaN,79.0,NaN,9,9,1,14.0,NaN,NaN,NaN,1.0,14.0,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,2,1,2,2,2,55-64,55-64,Yes,Yes,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,11642,44.89,80000,137,2536,3460,21
797,2021,2549001SI0EMFPT39035,31084,CA,06037,06037402903,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Female,1,6,2,1,2,1,1,1,2,105000.0,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,1,1,3,5,1,NaN,2794.0,NaN,9,9,1,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,8888,8888,NaN,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4517,96.70,80000,79,525,956,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128626,2021,5493001FXF3J5C0QWQ87,31084,CA,06037,06037620800,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Female,1,5,2,1,31,1,1,1,2,865000.0,NaN,0.0,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,2,2,2,1605000,1,1,3,5,1,NaN,21.0,NaN,1,10,1,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,2,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,8351,35.42,80000,264,2099,2669,47
128629,2021,549300TINI6CL78UD591,31084,CA,06037,06037651201,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Joint,3,0,2,1,31,1,1,2,2,865000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2005000,1,1,3,5,1,NaN,41.0,NaN,9,9,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,2,2,5.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,2,2,2,1,2,2,65-74,65-74,Yes,Yes,2,1,6,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,4739,29.61,80000,231,1459,1761,60
129009,2021,549300S5YL3OH0IVCS62,31084,CA,06037,06037211420,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,Asian,Joint,1,5,2,1,31,1,1,1,2,915000.0,NaN,5.5,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,2,2,2,1565000,1,1,3,5,1,NaN,47.0,NaN,9,9,1,14.0,NaN,NaN,NaN,1.0,14.0,NaN,NaN,NaN,2,2,2.0,23.0,NaN,NaN,NaN,2.0,23.0,NaN,NaN,NaN,2,2,1,2,2,2,>74,>74,Yes,Yes,2,2,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3356,88.74,80000,59,236,412,76
129010,2021,549300OPCWU6E72WUT29,31084,CA,06037,06037211420,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,Asian,Joint,1,71,2,1,31,1,1,1,2,915000.0,NaN,5.187,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,2,2,2,1565000,1,1,3,5,1,NaN,47.0,NaN,9,9,14,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,2,2,2.0,NaN,NaN,NaN,NaN,2.0,23.0,NaN,NaN,NaN,2,2,1,2,2,2,>74,>74,Yes,Yes,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3356,88.74,80000,59,236,412,76
129566,2021,549300S5YL3OH0IVCS62,31084,CA,06037,06037405400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Female,1,2,2,2,1,1,1,1,2,95000.0,NaN,2.6,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2,2,2,575000,1,1,3,5,1,NaN,8.0,NaN,9,10,1,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,2,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5569,79.26,80000,129,1100,1330,59

In [28]:
rm_la_hispanic_2021.to_csv('./reverse_mortgage_data/rm_la_hispanic_2021.csv', index=False)

In [3]:
#read csv

la_all_2018 = pd.read_csv('./all_mortgage_data/la_all_2018.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2019 = pd.read_csv('./all_mortgage_data/la_all_2019.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2020 = pd.read_csv('./all_mortgage_data/la_all_2020.csv', dtype={
    'county_code': str,
    'census_tract': str
})

la_all_2021 = pd.read_csv('./all_mortgage_data/la_all_2021.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/4072308321.py:3: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  la_all_2018 = pd.read_csv('./all_mortgage_data/la_all_2018.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/4072308321.py:8: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  la_all_2019 = pd.read_csv('./all_mortgage_data/la_all_2019.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/4072308321.py:13: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  la_all_2020 = pd.read_csv('./all_mortgage_data/la_all_2020.csv', dtype={
/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_1600/4072308321.py:18: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  la_all_2021 = pd.read_csv('./all_mortgage_data/la_all_2021.csv', dtype={

In [4]:
# filter to reverse mortgage

rm_la_all_2018 = la_all_2018[(la_all_2018['reverse_mortgage'] == 1)]
rm_la_all_2019 = la_all_2019[(la_all_2019['reverse_mortgage'] == 1)]
rm_la_all_2020 = la_all_2020[(la_all_2020['reverse_mortgage'] == 1)]
rm_la_all_2021 = la_all_2021[(la_all_2021['reverse_mortgage'] == 1)]

In [6]:
rm_la_all_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4213 entries, 33720 to 321170
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             4213 non-null   int64
 1   lei                                       4213 non-null   object
 2   derived_msa-md                            4213 non-null   int64
 3   state_code                                4213 non-null   object
 4   county_code                               4213 non-null   object
 5   census_tract                              4213 non-null   object
 6   conforming_loan_limit                     4213 non-null   object
 7   derived_loan_product_type                 4213 non-null   object
 8   derived_dwelling_category                 4213 non-null   object
 9   derived_ethnicity                         4213 non-null   object
 10  derived_race                              4213 non-null   object
 11  derived_sex                               4213 non-null   object
 12  action_taken                              4213 non-null   int64
 13  purchaser_type                            4213 non-null   int64
 14  preapproval                               4213 non-null   int64
 15  loan_type                                 4213 non-null   int64
 16  loan_purpose                              4213 non-null   int64
 17  lien_status                               4213 non-null   int64
 18  reverse_mortgage                          4213 non-null   int64
 19  open-end_line_of_credit                   4213 non-null   int64
 20  business_or_commercial_purpose            4213 non-null   int64
 21  loan_amount                               4213 non-null   float64
 22  loan_to_value_ratio                       309 non-null    object
 23  interest_rate                             2765 non-null   object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              4213 non-null   int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         1975 non-null   object
 34  negative_amortization                     4213 non-null   int64
 35  interest_only_payment                     4213 non-null   int64
 36  balloon_payment                           4213 non-null   int64
 37  other_nonamortizing_features              4213 non-null   int64
 38  property_value                            3539 non-null   object
 39  construction_method                       4213 non-null   int64
 40  occupancy_type                            4213 non-null   int64
 41  manufactured_home_secured_property_type   4213 non-null   int64
 42  manufactured_home_land_property_interest  4213 non-null   int64
 43  total_units                               4213 non-null   object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    3102 non-null   float64
 46  debt_to_income_ratio                      179 non-null    object
 47  applicant_credit_score_type               4213 non-null   int64
 48  co-applicant_credit_score_type            4213 non-null   int64
 49  applicant_ethnicity-1                     4213 non-null   float64
 50  applicant_ethnicity-2                     162 non-null    float64
 51  applicant_ethnicity-3                     2 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  4213 non-null   float64
 55  co-applicant_ethnicity-2                  69 non-null     float64
 56  co-applicant_ethnicity-3                  2 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              4213 non-null   int64
 60  co-applicant_ethnicity_observed           4213 non-null   int64
 61  applicant_race-1                          4213 non-null   float64
 62  applicant_race-2                          55 non-null     float64
 63  applicant_race-3                          10 non-null     float64
 64  applicant_race-4                          2 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       4213 non-null   float64
 67  co-applicant_race-2                       22 non-null     float64
 68  co-applicant_race-3                       6 non-null      float64
 69  co-applicant_race-4                       0 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   4213 non-null   int64
 72  co-applicant_race_observed                4213 non-null   int64
 73  applicant_sex                             4213 non-null   int64
 74  co-applicant_sex                          4213 non-null   int64
 75  applicant_sex_observed                    4213 non-null   int64
 76  co-applicant_sex_observed                 4213 non-null   int64
 77  applicant_age                             4213 non-null   object
 78  co-applicant_age                          4213 non-null   object
 79  applicant_age_above_62                    3196 non-null   object
 80  co-applicant_age_above_62                 970 non-null    object
 81  submission_of_application                 4213 non-null   int64
 82  initially_payable_to_institution          4213 non-null   int64
 83  aus-1                                     4213 non-null   int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           4213 non-null   int64
 89  denial_reason-2                           46 non-null     float64
 90  denial_reason-3                           2 non-null      float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          4213 non-null   int64
 93  tract_minority_population_percent         4213 non-null   float64
 94  ffiec_msa_md_median_family_income         4213 non-null   int64
 95  tract_to_msa_income_percentage            4213 non-null   int64
 96  tract_owner_occupied_units                4213 non-null   int64
 97  tract_one_to_four_family_homes            4213 non-null   int64
 98  tract_median_age_of_housing_units         4213 non-null   int64
dtypes: float64(30), int64(40), object(29)
memory usage: 3.2+ MB

In [7]:
rm_la_all_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4936 entries, 24235 to 423032
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             4936 non-null   int64
 1   lei                                       4936 non-null   object
 2   derived_msa-md                            4936 non-null   int64
 3   state_code                                4936 non-null   object
 4   county_code                               4936 non-null   object
 5   census_tract                              4935 non-null   object
 6   conforming_loan_limit                     4936 non-null   object
 7   derived_loan_product_type                 4936 non-null   object
 8   derived_dwelling_category                 4936 non-null   object
 9   derived_ethnicity                         4936 non-null   object
 10  derived_race                              4936 non-null   object
 11  derived_sex                               4936 non-null   object
 12  action_taken                              4936 non-null   int64
 13  purchaser_type                            4936 non-null   int64
 14  preapproval                               4936 non-null   int64
 15  loan_type                                 4936 non-null   int64
 16  loan_purpose                              4936 non-null   int64
 17  lien_status                               4936 non-null   int64
 18  reverse_mortgage                          4936 non-null   int64
 19  open-end_line_of_credit                   4936 non-null   int64
 20  business_or_commercial_purpose            4936 non-null   int64
 21  loan_amount                               4936 non-null   float64
 22  loan_to_value_ratio                       113 non-null    object
 23  interest_rate                             3710 non-null   object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              4936 non-null   int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         2580 non-null   object
 34  negative_amortization                     4936 non-null   int64
 35  interest_only_payment                     4936 non-null   int64
 36  balloon_payment                           4936 non-null   int64
 37  other_nonamortizing_features              4936 non-null   int64
 38  property_value                            4117 non-null   object
 39  construction_method                       4936 non-null   int64
 40  occupancy_type                            4936 non-null   int64
 41  manufactured_home_secured_property_type   4936 non-null   int64
 42  manufactured_home_land_property_interest  4936 non-null   int64
 43  total_units                               4936 non-null   object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    4007 non-null   float64
 46  debt_to_income_ratio                      131 non-null    object
 47  applicant_credit_score_type               4936 non-null   int64
 48  co-applicant_credit_score_type            4936 non-null   int64
 49  applicant_ethnicity-1                     4935 non-null   float64
 50  applicant_ethnicity-2                     252 non-null    float64
 51  applicant_ethnicity-3                     2 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  4936 non-null   float64
 55  co-applicant_ethnicity-2                  113 non-null    float64
 56  co-applicant_ethnicity-3                  1 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              4936 non-null   int64
 60  co-applicant_ethnicity_observed           4936 non-null   int64
 61  applicant_race-1                          4935 non-null   float64
 62  applicant_race-2                          120 non-null    float64
 63  applicant_race-3                          11 non-null     float64
 64  applicant_race-4                          0 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       4935 non-null   float64
 67  co-applicant_race-2                       34 non-null     float64
 68  co-applicant_race-3                       1 non-null      float64
 69  co-applicant_race-4                       0 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   4936 non-null   int64
 72  co-applicant_race_observed                4936 non-null   int64
 73  applicant_sex                             4936 non-null   int64
 74  co-applicant_sex                          4936 non-null   int64
 75  applicant_sex_observed                    4936 non-null   int64
 76  co-applicant_sex_observed                 4936 non-null   int64
 77  applicant_age                             4936 non-null   object
 78  co-applicant_age                          4936 non-null   object
 79  applicant_age_above_62                    3999 non-null   object
 80  co-applicant_age_above_62                 1237 non-null   object
 81  submission_of_application                 4936 non-null   int64
 82  initially_payable_to_institution          4936 non-null   int64
 83  aus-1                                     4936 non-null   int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           4936 non-null   int64
 89  denial_reason-2                           67 non-null     float64
 90  denial_reason-3                           5 non-null      float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          4936 non-null   int64
 93  tract_minority_population_percent         4936 non-null   float64
 94  ffiec_msa_md_median_family_income         4936 non-null   int64
 95  tract_to_msa_income_percentage            4936 non-null   int64
 96  tract_owner_occupied_units                4936 non-null   int64
 97  tract_one_to_four_family_homes            4936 non-null   int64
 98  tract_median_age_of_housing_units         4936 non-null   int64
dtypes: float64(30), int64(40), object(29)
memory usage: 3.8+ MB

In [8]:
rm_la_all_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5707 entries, 65648 to 663701
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             5707 non-null   int64
 1   lei                                       5707 non-null   object
 2   derived_msa-md                            5707 non-null   int64
 3   state_code                                5707 non-null   object
 4   county_code                               5707 non-null   object
 5   census_tract                              5706 non-null   object
 6   conforming_loan_limit                     5706 non-null   object
 7   derived_loan_product_type                 5707 non-null   object
 8   derived_dwelling_category                 5707 non-null   object
 9   derived_ethnicity                         5707 non-null   object
 10  derived_race                              5707 non-null   object
 11  derived_sex                               5707 non-null   object
 12  action_taken                              5707 non-null   int64
 13  purchaser_type                            5707 non-null   int64
 14  preapproval                               5707 non-null   int64
 15  loan_type                                 5707 non-null   int64
 16  loan_purpose                              5707 non-null   int64
 17  lien_status                               5707 non-null   int64
 18  reverse_mortgage                          5707 non-null   int64
 19  open-end_line_of_credit                   5707 non-null   int64
 20  business_or_commercial_purpose            5707 non-null   int64
 21  loan_amount                               5707 non-null   float64
 22  loan_to_value_ratio                       79 non-null     object
 23  interest_rate                             4204 non-null   object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              5707 non-null   int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         3152 non-null   object
 34  negative_amortization                     5707 non-null   int64
 35  interest_only_payment                     5707 non-null   int64
 36  balloon_payment                           5707 non-null   int64
 37  other_nonamortizing_features              5707 non-null   int64
 38  property_value                            4705 non-null   object
 39  construction_method                       5707 non-null   int64
 40  occupancy_type                            5707 non-null   int64
 41  manufactured_home_secured_property_type   5707 non-null   int64
 42  manufactured_home_land_property_interest  5707 non-null   int64
 43  total_units                               5707 non-null   object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    5030 non-null   float64
 46  debt_to_income_ratio                      103 non-null    object
 47  applicant_credit_score_type               5707 non-null   int64
 48  co-applicant_credit_score_type            5707 non-null   int64
 49  applicant_ethnicity-1                     5707 non-null   float64
 50  applicant_ethnicity-2                     349 non-null    float64
 51  applicant_ethnicity-3                     4 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  5707 non-null   float64
 55  co-applicant_ethnicity-2                  129 non-null    float64
 56  co-applicant_ethnicity-3                  1 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              5707 non-null   int64
 60  co-applicant_ethnicity_observed           5707 non-null   int64
 61  applicant_race-1                          5707 non-null   float64
 62  applicant_race-2                          161 non-null    float64
 63  applicant_race-3                          13 non-null     float64
 64  applicant_race-4                          3 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       5707 non-null   float64
 67  co-applicant_race-2                       64 non-null     float64
 68  co-applicant_race-3                       6 non-null      float64
 69  co-applicant_race-4                       2 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   5707 non-null   int64
 72  co-applicant_race_observed                5707 non-null   int64
 73  applicant_sex                             5707 non-null   int64
 74  co-applicant_sex                          5707 non-null   int64
 75  applicant_sex_observed                    5707 non-null   int64
 76  co-applicant_sex_observed                 5707 non-null   int64
 77  applicant_age                             5707 non-null   object
 78  co-applicant_age                          5707 non-null   object
 79  applicant_age_above_62                    4987 non-null   object
 80  co-applicant_age_above_62                 1443 non-null   object
 81  submission_of_application                 5707 non-null   int64
 82  initially_payable_to_institution          5707 non-null   int64
 83  aus-1                                     5707 non-null   int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           5707 non-null   int64
 89  denial_reason-2                           25 non-null     float64
 90  denial_reason-3                           2 non-null      float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          5707 non-null   int64
 93  tract_minority_population_percent         5707 non-null   float64
 94  ffiec_msa_md_median_family_income         5707 non-null   int64
 95  tract_to_msa_income_percentage            5707 non-null   int64
 96  tract_owner_occupied_units                5707 non-null   int64
 97  tract_one_to_four_family_homes            5707 non-null   int64
 98  tract_median_age_of_housing_units         5707 non-null   int64
dtypes: float64(30), int64(40), object(29)
memory usage: 4.4+ MB

In [14]:
rm_la_all_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6683 entries, 63750 to 646228
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             6683 non-null   int64
 1   lei                                       6683 non-null   object
 2   derived_msa-md                            6683 non-null   int64
 3   state_code                                6683 non-null   object
 4   county_code                               6683 non-null   object
 5   census_tract                              6683 non-null   object
 6   conforming_loan_limit                     6682 non-null   object
 7   derived_loan_product_type                 6683 non-null   object
 8   derived_dwelling_category                 6683 non-null   object
 9   derived_ethnicity                         6683 non-null   object
 10  derived_race                              6683 non-null   object
 11  derived_sex                               6683 non-null   object
 12  action_taken                              6683 non-null   int64
 13  purchaser_type                            6683 non-null   int64
 14  preapproval                               6683 non-null   int64
 15  loan_type                                 6683 non-null   int64
 16  loan_purpose                              6683 non-null   int64
 17  lien_status                               6683 non-null   int64
 18  reverse_mortgage                          6683 non-null   int64
 19  open-end_line_of_credit                   6683 non-null   int64
 20  business_or_commercial_purpose            6683 non-null   int64
 21  loan_amount                               6683 non-null   float64
 22  loan_to_value_ratio                       127 non-null    object
 23  interest_rate                             4957 non-null   object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              6683 non-null   int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         3825 non-null   object
 34  negative_amortization                     6683 non-null   int64
 35  interest_only_payment                     6683 non-null   int64
 36  balloon_payment                           6683 non-null   int64
 37  other_nonamortizing_features              6683 non-null   int64
 38  property_value                            5473 non-null   object
 39  construction_method                       6683 non-null   int64
 40  occupancy_type                            6683 non-null   int64
 41  manufactured_home_secured_property_type   6683 non-null   int64
 42  manufactured_home_land_property_interest  6683 non-null   int64
 43  total_units                               6683 non-null   object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    5559 non-null   float64
 46  debt_to_income_ratio                      93 non-null     object
 47  applicant_credit_score_type               6683 non-null   int64
 48  co-applicant_credit_score_type            6683 non-null   int64
 49  applicant_ethnicity-1                     6683 non-null   float64
 50  applicant_ethnicity-2                     385 non-null    float64
 51  applicant_ethnicity-3                     2 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  6683 non-null   float64
 55  co-applicant_ethnicity-2                  158 non-null    float64
 56  co-applicant_ethnicity-3                  2 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              6683 non-null   int64
 60  co-applicant_ethnicity_observed           6683 non-null   int64
 61  applicant_race-1                          6683 non-null   float64
 62  applicant_race-2                          173 non-null    float64
 63  applicant_race-3                          16 non-null     float64
 64  applicant_race-4                          1 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       6683 non-null   float64
 67  co-applicant_race-2                       66 non-null     float64
 68  co-applicant_race-3                       8 non-null      float64
 69  co-applicant_race-4                       1 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   6683 non-null   int64
 72  co-applicant_race_observed                6683 non-null   int64
 73  applicant_sex                             6683 non-null   int64
 74  co-applicant_sex                          6683 non-null   int64
 75  applicant_sex_observed                    6683 non-null   int64
 76  co-applicant_sex_observed                 6683 non-null   int64
 77  applicant_age                             6683 non-null   object
 78  co-applicant_age                          6683 non-null   object
 79  applicant_age_above_62                    5490 non-null   object
 80  co-applicant_age_above_62                 1677 non-null   object
 81  submission_of_application                 6683 non-null   int64
 82  initially_payable_to_institution          6683 non-null   int64
 83  aus-1                                     6683 non-null   int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           6683 non-null   int64
 89  denial_reason-2                           54 non-null     float64
 90  denial_reason-3                           14 non-null     float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          6683 non-null   int64
 93  tract_minority_population_percent         6683 non-null   float64
 94  ffiec_msa_md_median_family_income         6683 non-null   int64
 95  tract_to_msa_income_percentage            6683 non-null   int64
 96  tract_owner_occupied_units                6683 non-null   int64
 97  tract_one_to_four_family_homes            6683 non-null   int64
 98  tract_median_age_of_housing_units         6683 non-null   int64
dtypes: float64(30), int64(40), object(29)
memory usage: 5.1+ MB

In [15]:
# concatenate 2018-2021 datasets

rm_la_all = pd.concat((rm_la_all_2018, rm_la_all_2019, rm_la_all_2020, rm_la_all_2021), axis=0)

In [17]:
rm_la_all.sample(10)

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
419797,2019,549300TINI6CL78UD591,31084,CA,06037,06037137201,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Female,1,2,2,2,31,1,1,1,2,65000.0,NaN,4.489,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,565000,1,1,3,5,1,NaN,26.0,NaN,9,9,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,6.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5842,45.45,73100,109,1041,1343,48
646224,2021,B4TYDEB6GKMZO031MB27,31084,CA,06037,06037403325,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,0,2,2,5,1,1,1,2,425000.0,NaN,2.731,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2,2,2,2,NaN,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3,3,7.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,3,3,4,4,3,3,8888,8888,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4852,67.48,80000,177,1221,1496,41
521849,2021,549300S5YL3OH0IVCS62,31084,CA,06037,06037576601,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,1,5,2,1,31,1,1,2,2,715000.0,NaN,6.99,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,1185000,1,1,3,5,1,NaN,48.0,NaN,9,10,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,6.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,3,5,2,4,>74,9999,Yes,NaN,2,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4464,49.80,80000,131,695,374,67
155942,2020,549300TINI6CL78UD591,31084,CA,06037,06037620701,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Female,5,0,2,1,31,1,1,2,2,355000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,29.0,NaN,9,9,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,6.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,6736,36.97,77300,191,1328,2154,43
521773,2021,549300S5YL3OH0IVCS62,31084,CA,06037,06037531301,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Male,1,2,2,2,2,1,1,2,2,265000.0,NaN,2.55,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,2,2,2,575000,1,1,3,5,1,NaN,38.0,NaN,9,10,1.0,11.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,65-74,9999,Yes,NaN,2,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5586,98.78,80000,52,273,1058,68
100329,2019,B4TYDEB6GKMZO031MB27,31084,CA,06037,06037481605,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,0,2,2,5,1,1,2,2,475000.0,NaN,5.56,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3,3,7.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,3,3,4,4,3,3,8888,8888,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3039,90.19,73100,93,272,1007,65
145459,2019,549300S5YL3OH0IVCS62,31084,CA,06037,06037139301,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,1,0,2,2,4,1,1,1,2,125000.0,NaN,4.322,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2,2,2,2,735000,1,1,3,5,1,NaN,16.0,NaN,9,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,2,2,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,4902,25.95,73100,133,1355,1648,57
294756,2021,549300CR5XDK0TP7I727,31084,CA,06037,06037543703,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Female,1,2,2,2,32,1,1,1,2,315000.0,NaN,2.715,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,595000,1,1,3,5,1,NaN,14.0,NaN,1,10,1.0,13.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,2,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3515,89.47,80000,140,777,910,51
83680,2020,5493001FXF3J5C0QWQ87,31084,CA,06037,06037137201,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,2,2,2,31,1,1,1,2,435000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,2,2,2,2,755000.0,1,1,3,5,1,NaN,0.0,NaN,9,9,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3,3,7.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,3,3,4,4,3,3,8888,8888,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5842,45.45,77300,109,1041,1343,48
301785,2020,549300EHC6INE5XY6I44,31084,CA,06037,06037550500,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,White,Female,3,0,2,2,32,1,1,1,2,355000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,2,2,2,1,645000,1,1,3,5,1,NaN,32.0,NaN,9,10,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,65-74,9999,Yes,NaN,2,3,6,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,8369,81.42,77300,163,1645,1846,57

In [18]:
# export to csv

rm_la_all.to_csv('./reverse_mortgage_data/rm_la_all.csv', index=False)