In [35]:
import pandas as pd
pd.set_option('display.max_columns', None)

## read reverse mortgage data

In [36]:
alameda_rm_all = pd.read_csv('./reverse_mortgage_data/alameda_rm_all.csv', dtype={
    'county_code': str,
    'census_tract': str
})
alameda_rm_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3753 entries, 0 to 3752
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             3753 non-null   int64
 1   lei                                       3753 non-null   object
 2   derived_msa-md                            3753 non-null   int64
 3   state_code                                3753 non-null   object
 4   county_code                               3753 non-null   object
 5   census_tract                              3752 non-null   object
 6   conforming_loan_limit                     3753 non-null   object
 7   derived_loan_product_type                 3753 non-null   object
 8   derived_dwelling_category                 3753 non-null   object
 9   derived_ethnicity                         3753 non-null   object
 10  derived_race                              3753 non-null   object
 11  derived_sex                               3753 non-null   object
 12  action_taken                              3753 non-null   int64
 13  purchaser_type                            3753 non-null   int64
 14  preapproval                               3753 non-null   int64
 15  loan_type                                 3753 non-null   int64
 16  loan_purpose                              3753 non-null   int64
 17  lien_status                               3753 non-null   int64
 18  reverse_mortgage                          3753 non-null   int64
 19  open-end_line_of_credit                   3753 non-null   int64
 20  business_or_commercial_purpose            3753 non-null   int64
 21  loan_amount                               3753 non-null   float64
 22  loan_to_value_ratio                       74 non-null     float64
 23  interest_rate                             2803 non-null   float64
 24  rate_spread                               0 non-null      float64
 25  hoepa_status                              3753 non-null   int64
 26  total_loan_costs                          0 non-null      float64
 27  total_points_and_fees                     0 non-null      float64
 28  origination_charges                       0 non-null      float64
 29  discount_points                           0 non-null      float64
 30  lender_credits                            0 non-null      float64
 31  loan_term                                 0 non-null      float64
 32  prepayment_penalty_term                   0 non-null      float64
 33  intro_rate_period                         2017 non-null   float64
 34  negative_amortization                     3753 non-null   int64
 35  interest_only_payment                     3753 non-null   int64
 36  balloon_payment                           3753 non-null   int64
 37  other_nonamortizing_features              3753 non-null   int64
 38  property_value                            3174 non-null   float64
 39  construction_method                       3753 non-null   int64
 40  occupancy_type                            3753 non-null   int64
 41  manufactured_home_secured_property_type   3753 non-null   int64
 42  manufactured_home_land_property_interest  3753 non-null   int64
 43  total_units                               3753 non-null   int64
 44  multifamily_affordable_units              0 non-null      float64
 45  income                                    3079 non-null   float64
 46  debt_to_income_ratio                      33 non-null     object
 47  applicant_credit_score_type               3753 non-null   int64
 48  co-applicant_credit_score_type            3753 non-null   int64
 49  applicant_ethnicity-1                     3753 non-null   float64
 50  applicant_ethnicity-2                     85 non-null     float64
 51  applicant_ethnicity-3                     1 non-null      float64
 52  applicant_ethnicity-4                     0 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  3753 non-null   float64
 55  co-applicant_ethnicity-2                  39 non-null     float64
 56  co-applicant_ethnicity-3                  1 non-null      float64
 57  co-applicant_ethnicity-4                  1 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              3753 non-null   int64
 60  co-applicant_ethnicity_observed           3753 non-null   int64
 61  applicant_race-1                          3753 non-null   float64
 62  applicant_race-2                          111 non-null    float64
 63  applicant_race-3                          9 non-null      float64
 64  applicant_race-4                          0 non-null      float64
 65  applicant_race-5                          0 non-null      float64
 66  co-applicant_race-1                       3753 non-null   float64
 67  co-applicant_race-2                       51 non-null     float64
 68  co-applicant_race-3                       3 non-null      float64
 69  co-applicant_race-4                       1 non-null      float64
 70  co-applicant_race-5                       0 non-null      float64
 71  applicant_race_observed                   3753 non-null   int64
 72  co-applicant_race_observed                3753 non-null   int64
 73  applicant_sex                             3753 non-null   int64
 74  co-applicant_sex                          3753 non-null   int64
 75  applicant_sex_observed                    3753 non-null   int64
 76  co-applicant_sex_observed                 3753 non-null   int64
 77  applicant_age                             3753 non-null   object
 78  co-applicant_age                          3753 non-null   object
 79  applicant_age_above_62                    3088 non-null   object
 80  co-applicant_age_above_62                 886 non-null    object
 81  submission_of_application                 3753 non-null   int64
 82  initially_payable_to_institution          3753 non-null   int64
 83  aus-1                                     3753 non-null   int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           3753 non-null   int64
 89  denial_reason-2                           40 non-null     float64
 90  denial_reason-3                           6 non-null      float64
 91  denial_reason-4                           1 non-null      float64
 92  tract_population                          3753 non-null   int64
 93  tract_minority_population_percent         3753 non-null   float64
 94  ffiec_msa_md_median_family_income         3753 non-null   int64
 95  tract_to_msa_income_percentage            3753 non-null   int64
 96  tract_owner_occupied_units                3753 non-null   int64
 97  tract_one_to_four_family_homes            3753 non-null   int64
 98  tract_median_age_of_housing_units         3753 non-null   int64
dtypes: float64(43), int64(41), object(15)
memory usage: 2.8+ MB

## read census data and filter to county

In [37]:
census_all = pd.read_csv('./census_data/ACS2019_filtered0623.csv', dtype={
    'census_tract': str,
    'county_code': str,
    'census_tract_np': str,
    'census_tract_period': str
})
census_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Columns: 208 entries, census_tract to Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female
dtypes: float64(3), int64(105), object(100)
memory usage: 7.1+ MB

In [38]:
census_alameda = census_all[census_all['county_code'] == '06001'].copy()

In [39]:
census_alameda.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361 entries, 0 to 360
Columns: 208 entries, census_tract to Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female
dtypes: float64(3), int64(105), object(100)
memory usage: 589.4+ KB

## merge lender list

In [40]:
# read lender list

lender_list_2018 = pd.read_csv('./raw_data/lei_agency_name_2018.csv')

In [41]:
lender_list_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5735 entries, 0 to 5734
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   lei                  5735 non-null   object
 1   activity_year        5735 non-null   int64
 2   calendar_quarter     5735 non-null   int64
 3   tax_id               5735 non-null   object
 4   agency_code          5735 non-null   int64
 5   respondent_name      5735 non-null   object
 6   respondent_state     5735 non-null   object
 7   respondent_city      5735 non-null   object
 8   respondent_zip_code  5735 non-null   object
 9   lar_count            5735 non-null   int64
dtypes: int64(4), object(6)
memory usage: 448.2+ KB

In [42]:
# merge by lei

alameda_rm_all

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001408500,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Female,4,0,2,2,31,1,1,2,2,235000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,0.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,3.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5660,98.80,104400,53,560,1656,63
1,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001400900,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,4,0,2,2,31,1,1,1,2,355000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,2,2,2,2,NaN,1,1,3,5,1,NaN,13.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,3.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,1,5,3,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2175,57.84,104400,80,296,1050,76
2,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001425101,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,5,0,2,2,31,1,1,1,2,175000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,2,2,2,2,NaN,1,1,3,5,1,NaN,0.0,NaN,9,9,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,6.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,3,5,3,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,1582,39.25,104400,87,686,150,40
3,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001433400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,4,0,2,2,31,1,1,2,2,305000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,24.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,2,5,3,4,>74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,6593,80.48,104400,92,1737,2238,32
4,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001441921,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,White,Female,1,71,2,2,31,1,1,1,2,285000.0,NaN,5.291,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,2,2,2,2,785000.0,1,1,3,5,1,NaN,35.0,NaN,9,10,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3767,80.65,104400,114,375,667,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3748,2021,PAOOWF3GUFM46FBSP561,36084,CA,06001,06001408700,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Female,5,0,2,2,31,1,1,1,2,275000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,2,2,2,NaN,1,1,3,5,1,NaN,12.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,3.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,7527,97.09,125600,40,834,2127,73
3749,2021,PAOOWF3GUFM46FBSP561,36084,CA,06001,06001404300,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,1,8,2,2,31,1,1,1,2,455000.0,NaN,2.435,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,2,2,2,2145000.0,1,1,3,5,1,NaN,20.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,2.0,24.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,1,5,2,4,>74,9999,Yes,NaN,2,2,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3397,33.21,125600,205,1050,1182,47
3750,2021,PAOOWF3GUFM46FBSP561,36084,CA,06001,06001451701,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,1,8,2,2,31,1,1,1,2,475000.0,NaN,2.125,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2,2,2,2,985000.0,1,1,3,5,1,NaN,17.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,65-74,9999,Yes,NaN,2,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2904,30.41,125600,112,780,1081,51
3751,2021,549300VGMMXKSX821O69,36084,CA,06001,06001430102,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,1,71,2,2,31,1,1,2,2,765000.0,49.0,4.900,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,1575000.0,1,1,3,5,1,NaN,103.0,NaN,9,10,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,1,2,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2139,41.28,125600,143,761,875,43
3752,2021,B4TYDEB6GKMZO031MB27,36084,CA,06001,06001404502,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,6,0,2,2,5,1,1,1,2,595000.0,NaN,3.063,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2,2,2,2,NaN,1,1,3,5,1,NaN,NaN,NaN,9,9,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,3,3,7.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,3,3,4,4,3,3,8888,8888,NaN,NaN,3,3,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5433,30.63,125600,160,2060,2287,56

In [43]:
lender_list_2018

,lei,activity_year,calendar_quarter,tax_id,agency_code,respondent_name,respondent_state,respondent_city,respondent_zip_code,lar_count
0,213800QUAI2VH5YM6310,2018,4,05-0402708,7,"Embrace Home Loans, Inc.",RI,Middletown,02842,38810
1,5493001SXWZ4OFP8Z903,2018,4,74-2853239,7,DHI Mortgage Company Limited,TX,Austin,78750,45691
2,549300YHR41F57LS0R28,2018,4,39-0273630,3,Farmers and Merchants Union Bank,WI,Columbus,53925,131
3,549300SX6THT96LFD245,2018,4,26-1866970,3,Oakworth Capital Bank,AL,Birmingham,35209,29
4,2549000UUHZDEKIZ2Z84,2018,4,34-0144365,1,The Citizens National Bank,OH,Woodsfield,43793,97
...,...,...,...,...,...,...,...,...,...,...
5730,Z867SNMO7WGY8TTGQG78,2018,4,55-0744997,3,SUMMIT COMMUNITY BANK,WV,MOOREFIELD,26836,1035
5731,ZF85QS7OXKPBG52R7N18,2018,4,39-1941673,9,Associated Bank NA,WI,Green Bay,54301,20022
5732,ZXMJHJK466PBZTM5F379,2018,4,59-3244348,9,Raymond James Bank National Association,FL,SAINT PETERSBURG,33716,2067
5733,ZXZDWBXF4U47HEP2EO46,2018,4,33-0244449,2,Silvergate Bank,CA,La Jolla,92037,298
5734,SS1TRMSN6BRNMOREEV51,2018,4,38-2734984,9,Flagstar Bank,MI,Troy,48098,149977

In [44]:
alameda_rm_full = pd.merge(
    alameda_rm_all,
    lender_list_2018,
    on='lei',
    how='left',
    validate='m:1'
)

In [56]:
alameda_rm_full.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3753 entries, 0 to 3752
Data columns (total 108 columns):
 #    Column                                    Non-Null Count  Dtype
---   ------                                    --------------  -----
 0    activity_year_x                           3753 non-null   int64
 1    lei                                       3753 non-null   object
 2    derived_msa-md                            3753 non-null   int64
 3    state_code                                3753 non-null   object
 4    county_code                               3753 non-null   object
 5    census_tract                              3752 non-null   object
 6    conforming_loan_limit                     3753 non-null   object
 7    derived_loan_product_type                 3753 non-null   object
 8    derived_dwelling_category                 3753 non-null   object
 9    derived_ethnicity                         3753 non-null   object
 10   derived_race                              3753 non-null   object
 11   derived_sex                               3753 non-null   object
 12   action_taken                              3753 non-null   int64
 13   purchaser_type                            3753 non-null   int64
 14   preapproval                               3753 non-null   int64
 15   loan_type                                 3753 non-null   int64
 16   loan_purpose                              3753 non-null   int64
 17   lien_status                               3753 non-null   int64
 18   reverse_mortgage                          3753 non-null   int64
 19   open-end_line_of_credit                   3753 non-null   int64
 20   business_or_commercial_purpose            3753 non-null   int64
 21   loan_amount                               3753 non-null   float64
 22   loan_to_value_ratio                       74 non-null     float64
 23   interest_rate                             2803 non-null   float64
 24   rate_spread                               0 non-null      float64
 25   hoepa_status                              3753 non-null   int64
 26   total_loan_costs                          0 non-null      float64
 27   total_points_and_fees                     0 non-null      float64
 28   origination_charges                       0 non-null      float64
 29   discount_points                           0 non-null      float64
 30   lender_credits                            0 non-null      float64
 31   loan_term                                 0 non-null      float64
 32   prepayment_penalty_term                   0 non-null      float64
 33   intro_rate_period                         2017 non-null   float64
 34   negative_amortization                     3753 non-null   int64
 35   interest_only_payment                     3753 non-null   int64
 36   balloon_payment                           3753 non-null   int64
 37   other_nonamortizing_features              3753 non-null   int64
 38   property_value                            3174 non-null   float64
 39   construction_method                       3753 non-null   int64
 40   occupancy_type                            3753 non-null   int64
 41   manufactured_home_secured_property_type   3753 non-null   int64
 42   manufactured_home_land_property_interest  3753 non-null   int64
 43   total_units                               3753 non-null   int64
 44   multifamily_affordable_units              0 non-null      float64
 45   income                                    3079 non-null   float64
 46   debt_to_income_ratio                      33 non-null     object
 47   applicant_credit_score_type               3753 non-null   int64
 48   co-applicant_credit_score_type            3753 non-null   int64
 49   applicant_ethnicity-1                     3753 non-null   float64
 50   applicant_ethnicity-2                     85 non-null     float64
 51   applicant_ethnicity-3                     1 non-null      float64
 52   applicant_ethnicity-4                     0 non-null      float64
 53   applicant_ethnicity-5                     0 non-null      float64
 54   co-applicant_ethnicity-1                  3753 non-null   float64
 55   co-applicant_ethnicity-2                  39 non-null     float64
 56   co-applicant_ethnicity-3                  1 non-null      float64
 57   co-applicant_ethnicity-4                  1 non-null      float64
 58   co-applicant_ethnicity-5                  0 non-null      float64
 59   applicant_ethnicity_observed              3753 non-null   int64
 60   co-applicant_ethnicity_observed           3753 non-null   int64
 61   applicant_race-1                          3753 non-null   float64
 62   applicant_race-2                          111 non-null    float64
 63   applicant_race-3                          9 non-null      float64
 64   applicant_race-4                          0 non-null      float64
 65   applicant_race-5                          0 non-null      float64
 66   co-applicant_race-1                       3753 non-null   float64
 67   co-applicant_race-2                       51 non-null     float64
 68   co-applicant_race-3                       3 non-null      float64
 69   co-applicant_race-4                       1 non-null      float64
 70   co-applicant_race-5                       0 non-null      float64
 71   applicant_race_observed                   3753 non-null   int64
 72   co-applicant_race_observed                3753 non-null   int64
 73   applicant_sex                             3753 non-null   int64
 74   co-applicant_sex                          3753 non-null   int64
 75   applicant_sex_observed                    3753 non-null   int64
 76   co-applicant_sex_observed                 3753 non-null   int64
 77   applicant_age                             3753 non-null   object
 78   co-applicant_age                          3753 non-null   object
 79   applicant_age_above_62                    3088 non-null   object
 80   co-applicant_age_above_62                 886 non-null    object
 81   submission_of_application                 3753 non-null   int64
 82   initially_payable_to_institution          3753 non-null   int64
 83   aus-1                                     3753 non-null   int64
 84   aus-2                                     0 non-null      float64
 85   aus-3                                     0 non-null      float64
 86   aus-4                                     0 non-null      float64
 87   aus-5                                     0 non-null      float64
 88   denial_reason-1                           3753 non-null   int64
 89   denial_reason-2                           40 non-null     float64
 90   denial_reason-3                           6 non-null      float64
 91   denial_reason-4                           1 non-null      float64
 92   tract_population                          3753 non-null   int64
 93   tract_minority_population_percent         3753 non-null   float64
 94   ffiec_msa_md_median_family_income         3753 non-null   int64
 95   tract_to_msa_income_percentage            3753 non-null   int64
 96   tract_owner_occupied_units                3753 non-null   int64
 97   tract_one_to_four_family_homes            3753 non-null   int64
 98   tract_median_age_of_housing_units         3753 non-null   int64
 99   activity_year_y                           3753 non-null   int64
 100  calendar_quarter                          3753 non-null   int64
 101  tax_id                                    3753 non-null   object
 102  agency_code                               3753 non-null   int64
 103  respondent_name                           3753 non-null   object
 104  respondent_state                          3753 non-null   object
 105  respondent_city                           3753 non-null   object
 106  respondent_zip_code                       3753 non-null   object
 107  lar_count                                 3753 non-null   int64
dtypes: float64(43), int64(45), object(20)
memory usage: 3.1+ MB

In [51]:
alameda_rm_name = alameda_rm_full.drop(columns= ['activity_year_y', 'calendar_quarter', 'lar_count']).copy()

In [52]:
alameda_rm_name.head()

,activity_year_x,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,business_or_commercial_purpose,loan_amount,loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co-applicant_credit_score_type,applicant_ethnicity-1,applicant_ethnicity-2,applicant_ethnicity-3,applicant_ethnicity-4,applicant_ethnicity-5,co-applicant_ethnicity-1,co-applicant_ethnicity-2,co-applicant_ethnicity-3,co-applicant_ethnicity-4,co-applicant_ethnicity-5,applicant_ethnicity_observed,co-applicant_ethnicity_observed,applicant_race-1,applicant_race-2,applicant_race-3,applicant_race-4,applicant_race-5,co-applicant_race-1,co-applicant_race-2,co-applicant_race-3,co-applicant_race-4,co-applicant_race-5,applicant_race_observed,co-applicant_race_observed,applicant_sex,co-applicant_sex,applicant_sex_observed,co-applicant_sex_observed,applicant_age,co-applicant_age,applicant_age_above_62,co-applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2,aus-3,aus-4,aus-5,denial_reason-1,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,tax_id,agency_code,respondent_name,respondent_state,respondent_city,respondent_zip_code
0,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001408500,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Female,4,0,2,2,31,1,1,2,2,235000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,0.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,3.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,>74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,5660,98.80,104400,53,560,1656,63,11-3469077,7,Nationwide Equities Corporation,NJ,Mahwah,07495
1,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001400900,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,4,0,2,2,31,1,1,1,2,355000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,2,2,2,2,NaN,1,1,3,5,1,NaN,13.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,3.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,1,5,3,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,2175,57.84,104400,80,296,1050,76,11-3469077,7,Nationwide Equities Corporation,NJ,Mahwah,07495
2,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001425101,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,5,0,2,2,31,1,1,1,2,175000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,2,2,2,2,NaN,1,1,3,5,1,NaN,0.0,NaN,9,9,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,6.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,3,5,3,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,1582,39.25,104400,87,686,150,40,11-3469077,7,Nationwide Equities Corporation,NJ,Mahwah,07495
3,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001433400,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Female,4,0,2,2,31,1,1,2,2,305000.0,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,NaN,1,1,3,5,1,NaN,24.0,NaN,9,9,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,3,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,3,4,2,5,3,4,>74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,6593,80.48,104400,92,1737,2238,32,11-3469077,7,Nationwide Equities Corporation,NJ,Mahwah,07495
4,2018,549300WH9FMXOC63ZV77,36084,CA,06001,06001441921,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,White,Female,1,71,2,2,31,1,1,1,2,285000.0,NaN,5.291,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,2,2,2,2,785000.0,1,1,3,5,1,NaN,35.0,NaN,9,10,3.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,2,4,5.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,2,4,2,5,2,4,65-74,9999,Yes,NaN,1,1,6,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,3767,80.65,104400,114,375,667,33,11-3469077,7,Nationwide Equities Corporation,NJ,Mahwah,07495

## group by census tracts

In [53]:
# filter by action_taken = 1

alameda_rm_originated = alameda_rm_name[alameda_rm_name['action_taken'] == 1]

In [55]:
alameda_rm_originated.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2078 entries, 4 to 3751
Data columns (total 105 columns):
 #    Column                                    Non-Null Count  Dtype
---   ------                                    --------------  -----
 0    activity_year_x                           2078 non-null   int64
 1    lei                                       2078 non-null   object
 2    derived_msa-md                            2078 non-null   int64
 3    state_code                                2078 non-null   object
 4    county_code                               2078 non-null   object
 5    census_tract                              2078 non-null   object
 6    conforming_loan_limit                     2078 non-null   object
 7    derived_loan_product_type                 2078 non-null   object
 8    derived_dwelling_category                 2078 non-null   object
 9    derived_ethnicity                         2078 non-null   object
 10   derived_race                              2078 non-null   object
 11   derived_sex                               2078 non-null   object
 12   action_taken                              2078 non-null   int64
 13   purchaser_type                            2078 non-null   int64
 14   preapproval                               2078 non-null   int64
 15   loan_type                                 2078 non-null   int64
 16   loan_purpose                              2078 non-null   int64
 17   lien_status                               2078 non-null   int64
 18   reverse_mortgage                          2078 non-null   int64
 19   open-end_line_of_credit                   2078 non-null   int64
 20   business_or_commercial_purpose            2078 non-null   int64
 21   loan_amount                               2078 non-null   float64
 22   loan_to_value_ratio                       57 non-null     float64
 23   interest_rate                             2053 non-null   float64
 24   rate_spread                               0 non-null      float64
 25   hoepa_status                              2078 non-null   int64
 26   total_loan_costs                          0 non-null      float64
 27   total_points_and_fees                     0 non-null      float64
 28   origination_charges                       0 non-null      float64
 29   discount_points                           0 non-null      float64
 30   lender_credits                            0 non-null      float64
 31   loan_term                                 0 non-null      float64
 32   prepayment_penalty_term                   0 non-null      float64
 33   intro_rate_period                         1052 non-null   float64
 34   negative_amortization                     2078 non-null   int64
 35   interest_only_payment                     2078 non-null   int64
 36   balloon_payment                           2078 non-null   int64
 37   other_nonamortizing_features              2078 non-null   int64
 38   property_value                            2065 non-null   float64
 39   construction_method                       2078 non-null   int64
 40   occupancy_type                            2078 non-null   int64
 41   manufactured_home_secured_property_type   2078 non-null   int64
 42   manufactured_home_land_property_interest  2078 non-null   int64
 43   total_units                               2078 non-null   int64
 44   multifamily_affordable_units              0 non-null      float64
 45   income                                    2057 non-null   float64
 46   debt_to_income_ratio                      22 non-null     object
 47   applicant_credit_score_type               2078 non-null   int64
 48   co-applicant_credit_score_type            2078 non-null   int64
 49   applicant_ethnicity-1                     2078 non-null   float64
 50   applicant_ethnicity-2                     60 non-null     float64
 51   applicant_ethnicity-3                     0 non-null      float64
 52   applicant_ethnicity-4                     0 non-null      float64
 53   applicant_ethnicity-5                     0 non-null      float64
 54   co-applicant_ethnicity-1                  2078 non-null   float64
 55   co-applicant_ethnicity-2                  27 non-null     float64
 56   co-applicant_ethnicity-3                  1 non-null      float64
 57   co-applicant_ethnicity-4                  1 non-null      float64
 58   co-applicant_ethnicity-5                  0 non-null      float64
 59   applicant_ethnicity_observed              2078 non-null   int64
 60   co-applicant_ethnicity_observed           2078 non-null   int64
 61   applicant_race-1                          2078 non-null   float64
 62   applicant_race-2                          77 non-null     float64
 63   applicant_race-3                          7 non-null      float64
 64   applicant_race-4                          0 non-null      float64
 65   applicant_race-5                          0 non-null      float64
 66   co-applicant_race-1                       2078 non-null   float64
 67   co-applicant_race-2                       35 non-null     float64
 68   co-applicant_race-3                       2 non-null      float64
 69   co-applicant_race-4                       1 non-null      float64
 70   co-applicant_race-5                       0 non-null      float64
 71   applicant_race_observed                   2078 non-null   int64
 72   co-applicant_race_observed                2078 non-null   int64
 73   applicant_sex                             2078 non-null   int64
 74   co-applicant_sex                          2078 non-null   int64
 75   applicant_sex_observed                    2078 non-null   int64
 76   co-applicant_sex_observed                 2078 non-null   int64
 77   applicant_age                             2078 non-null   object
 78   co-applicant_age                          2078 non-null   object
 79   applicant_age_above_62                    2056 non-null   object
 80   co-applicant_age_above_62                 619 non-null    object
 81   submission_of_application                 2078 non-null   int64
 82   initially_payable_to_institution          2078 non-null   int64
 83   aus-1                                     2078 non-null   int64
 84   aus-2                                     0 non-null      float64
 85   aus-3                                     0 non-null      float64
 86   aus-4                                     0 non-null      float64
 87   aus-5                                     0 non-null      float64
 88   denial_reason-1                           2078 non-null   int64
 89   denial_reason-2                           0 non-null      float64
 90   denial_reason-3                           0 non-null      float64
 91   denial_reason-4                           0 non-null      float64
 92   tract_population                          2078 non-null   int64
 93   tract_minority_population_percent         2078 non-null   float64
 94   ffiec_msa_md_median_family_income         2078 non-null   int64
 95   tract_to_msa_income_percentage            2078 non-null   int64
 96   tract_owner_occupied_units                2078 non-null   int64
 97   tract_one_to_four_family_homes            2078 non-null   int64
 98   tract_median_age_of_housing_units         2078 non-null   int64
 99   tax_id                                    2078 non-null   object
 100  agency_code                               2078 non-null   int64
 101  respondent_name                           2078 non-null   object
 102  respondent_state                          2078 non-null   object
 103  respondent_city                           2078 non-null   object
 104  respondent_zip_code                       2078 non-null   object
dtypes: float64(43), int64(42), object(20)
memory usage: 1.7+ MB

In [57]:
# group by census_tract

alameda_census_counts = alameda_rm_originated.groupby(['census_tract']).count()

In [60]:
alameda_census_counts = alameda_census_counts[['lei']].copy()

In [61]:
alameda_census_counts = alameda_census_counts.reset_index()

In [64]:
alameda_census_counts = alameda_census_counts.sort_values(by=['lei'], ascending=False).copy()
alameda_census_counts.rename(columns={'lei': 'rm_no'}, inplace=True)

In [66]:
alameda_census_counts = alameda_census_counts.reset_index(drop=True)

In [67]:
alameda_census_counts

    census_tract  rm_no
0    06001450602     25
1    06001433300     24
2    06001407700     21
3    06001408100     21
4    06001444100     20
..           ...    ...
308  06001435104      1
309  06001431000      1
310  06001450743      1
311  06001401300      1
312  06001435601      1

[313 rows x 2 columns]

## merge with census data

In [70]:
census_alameda

,census_tract,county_code,county,state_code,census_tract_np,census_tract_period,total_population,62yr_population,62yr_pp_pct,median_age,hispanic_population,non_hispanic_population,non_hispanic_white_population,non_hispanic_black_population,non_hispanic_asian_population,other_races_population,hispanic_pp_pct,non_hispanic_pp_pct,non_hispanic_white_pp_pct,non_hispanic_black_pp_pct,non_hispanic_asian_pp_pct,other_races_pp_pct,Unnamed: 22,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races,Unnamed: 27,asian_1_population,black_1_population,Unnamed: 30,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!Under 5 years,Estimate!!SEX AND AGE!!Total population!!5 to 9 years,Estimate!!SEX AND AGE!!Total population!!10 to 14 years,Estimate!!SEX AND AGE!!Total population!!15 to 19 years,Estimate!!SEX AND AGE!!Total population!!20 to 24 years,Estimate!!SEX AND AGE!!Total population!!25 to 34 years,Estimate!!SEX AND AGE!!Total population!!35 to 44 years,Estimate!!SEX AND AGE!!Total population!!45 to 54 years,Estimate!!SEX AND AGE!!Total population!!55 to 59 years,Estimate!!SEX AND AGE!!Total population!!60 to 64 years,Estimate!!SEX AND AGE!!Total population!!65 to 74 years,Estimate!!SEX AND AGE!!Total population!!75 to 84 years,Estimate!!SEX AND AGE!!Total population!!85 years and over,Estimate!!SEX AND AGE!!Total population!!Median age (years),Estimate!!SEX AND AGE!!Total population!!Under 18 years,Estimate!!SEX AND AGE!!Total population!!16 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping,Estimate!!RACE!!Total population!!One race!!Asian,Estimate!!RACE!!Total population!!One race!!Asian!!Asian Indian,Estimate!!RACE!!Total population!!One race!!Asian!!Chinese,Estimate!!RACE!!Total population!!One race!!Asian!!Filipino,Estimate!!RACE!!Total population!!One race!!Asian!!Japanese,Estimate!!RACE!!Total population!!One race!!Asian!!Korean,Estimate!!RACE!!Total population!!One race!!Asian!!Vietnamese,Estimate!!RACE!!Total population!!One race!!Asian!!Other Asian,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Guamanian or Chamorro,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Pacific Islander,Estimate!!RACE!!Total population!!One race!!Some other race,Estimate!!RACE!!Total population!!Two or more races.1,Estimate!!RACE!!Total population!!Two or more races!!White and Black or African American,Estimate!!RACE!!Total population!!Two or more races!!White and American Indian and Alaska Native,Estimate!!RACE!!Total population!!Two or more races!!White and Asian,Estimate!!RACE!!Total population!!Two or more races!!Black or African American and American Indian and Alaska Native,Estimate!!Race alone or in combination with one or more other races!!Total population,Estimate!!Race alone or in combination with one or more other races!!Total population!!White,Estimate!!Race alone or in combination with one or more other races!!Total population!!Black or African American,Estimate!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native,Estimate!!Race alone or in combination with one or more other races!!Total population!!Asian,Estimate!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander,Estimate!!Race alone or in combination with one or more other races!!Total population!!Some other race,Estimate!!HISPANIC OR LATINO AND RACE!!Total population,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race),Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone.1,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone.1,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone.1,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races.1,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race,"Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races",Estimate!!Total housing units,"Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female",Percent!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population!!Male,Percent!!SEX AND AGE!!Total population!!Female,Percent!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females),Percent!!SEX AND AGE!!Total population!!Under 5 years,Percent!!SEX AND AGE!!Total population!!5 to 9 years,Percent!!SEX AND AGE!!Total population!!10 to 14 years,Percent!!SEX AND AGE!!Total population!!15 to 19 years,Percent!!SEX AND AGE!!Total population!!20 to 24 years,Percent!!SEX AND AGE!!Total population!!25 to 34 years,Percent!!SEX AND AGE!!Total population!!35 to 44 years,Percent!!SEX AND AGE!!Total population!!45 to 54 years,Percent!!SEX AND AGE!!Total population!!55 to 59 years,Percent!!SEX AND AGE!!Total population!!60 to 64 years,Percent!!SEX AND AGE!!Total population!!65 to 74 years,Percent!!SEX AND AGE!!Total population!!75 to 84 years,Percent!!SEX AND AGE!!Total population!!85 years and over,Percent!!SEX AND AGE!!Total population!!Median age (years),Percent!!SEX AND AGE!!Total population!!Under 18 years,Percent!!SEX AND AGE!!Total population!!16 years and over,Percent!!SEX AND AGE!!Total population!!18 years and over,Percent!!SEX AND AGE!!Total population!!21 years and over,Percent!!SEX AND AGE!!Total population!!62 years and over,Percent!!SEX AND AGE!!Total population!!65 years and over,Percent!!SEX AND AGE!!Total population!!18 years and over.1,Percent!!SEX AND AGE!!Total population!!18 years and over!!Male,Percent!!SEX AND AGE!!Total population!!18 years and over!!Female,Percent!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Percent!!SEX AND AGE!!Total population!!65 years and over.1,Percent!!SEX AND AGE!!Total population!!65 years and over!!Male,Percent!!SEX AND AGE!!Total population!!65 years and over!!Female,Percent!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent!!RACE!!Total population,Percent!!RACE!!Total population!!One race,Percent!!RACE!!Total population!!Two or more races,Percent!!RACE!!Total population!!One race.1,Percent!!RACE!!Total population!!One race!!White,Percent!!RACE!!Total population!!One race!!Black or African American,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping,Percent!!RACE!!Total population!!One race!!Asian,Percent!!RACE!!Total population!!One race!!Asian!!Asian Indian,Percent!!RACE!!Total population!!One race!!Asian!!Chinese,Percent!!RACE!!Total population!!One race!!Asian!!Filipino,Percent!!RACE!!Total population!!One race!!Asian!!Japanese,Percent!!RACE!!Total population!!One race!!Asian!!Korean,Percent!!RACE!!Total population!!One race!!Asian!!Vietnamese,Percent!!RACE!!Total population!!One race!!Asian!!Other Asian,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Guamanian or Chamorro,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Pacific Islander,Percent!!RACE!!Total population!!One race!!Some other race,Percent!!RACE!!Total population!!Two or more races.1,Percent!!RACE!!Total population!!Two or more races!!White and Black or African American,Percent!!RACE!!Total population!!Two or more races!!White and American Indian and Alaska Native,Percent!!RACE!!Total population!!Two or more races!!White and Asian,Percent!!RACE!!Total population!!Two or more races!!Black or African American and American Indian and Alaska Native,Percent!!Race alone or in combination with one or more other races!!Total population,Percent!!Race alone or in combination with one or more other races!!Total population!!White,Percent!!Race alone or in combination with one or more other races!!Total population!!Black or African American,Percent!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native,Percent!!Race alone or in combination with one or more other races!!Total population!!Asian,Percent!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander,Percent!!Race alone or in combination with one or more other races!!Total population!!Some other race,Percent!!HISPANIC OR LATINO AND RACE!!Total population,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race),Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race,"Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races",Percent!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female"
0,06001400100,06001,Alameda County,CA,400100,4001,3120,982,31.5%,52.2,118,3002,2317,107,391,187,3.8%,96.2%,74.3%,3.4%,12.5%,6.0%,NaN,0,0,0,187,NaN,398,107,NaN,1489,1631,91.3,188,56,168,161,38,335,309,387,381,284,472,241,100,52.2,487,2668,2633,2547,982,813,2633,1308,1325,98.7,813,414,399,103.8,3120,2933,187,2933,2394,107,0,0,0,0,0,398,65,137,0,38,27,30,101,0,0,0,0,0,34,187,18,4,118,47,3120,2534,172,51,516,0,34,3120,118,95,13,0,10,3002,2317,107,0,391,0,0,187,0,187,1354,2435,1210,1225,3120,47.7,52.3,(X),6,1.8,5.4,5.2,1.2,10.7,9.9,12.4,12.2,9.1,15.1,7.7,3.2,(X),15.6,85.5,84.4,81.6,31.5,26.1,2633,49.7,50.3,(X),813,50.9,49.1,(X),3120,94,6,94,76.7,3.4,0,0,0,0,0,12.8,2.1,4.4,0,1.2,0.9,1,3.2,0,0,0,0,0,1.1,6,0.6,0.1,3.8,1.5,3120,81.2,5.5,1.6,16.5,0,1.1,3120,3.8,3,0.4,0,0.3,96.2,74.3,3.4,0,12.5,0,0,6,0,6,(X),2435,49.7,50.3
1,06001400200,06001,Alameda County,CA,400200,4002,2007,532,26.5%,43.7,174,1833,1475,52,171,135,8.7%,91.3%,73.5%,2.6%,8.5%,6.7%,NaN,4,0,0,131,NaN,171,52,NaN,956,1051,91,142,68,122,44,66,379,224,309,90,97,298,144,24,43.7,369,1654,1638,1631,532,466,1638,781,857,91.1,466,208,258,80.6,2007,1821,186,1821,1577,52,4,0,0,0,0,171,0,71,29,6,22,13,30,0,0,0,0,0,17,186,28,23,115,0,2007,1763,86,27,292,0,31,2007,174,75,21,0,78,1833,1475,52,4,171,0,0,131,0,131,860,1541,729,812,2007,47.6,52.4,(X),7.1,3.4,6.1,2.2,3.3,18.9,11.2,15.4,4.5,4.8,14.8,7.2,1.2,(X),18.4,82.4,81.6,81.3,26.5,23.2,1638,47.7,52.3,(X),466,44.6,55.4,(X),2007,90.7,9.3,90.7,78.6,2.6,0.2,0,0,0,0,8.5,0,3.5,1.4,0.3,1.1,0.6,1.5,0,0,0,0,0,0.8,9.3,1.4,1.1,5.7,0,2007,87.8,4.3,1.3,14.5,0,1.5,2007,8.7,3.7,1,0,3.9,91.3,73.5,2.6,0.2,8.5,0,0,6.5,0,6.5,(X),1541,47.3,52.7
2,06001400300,06001,Alameda County,CA,400300,4003,5051,828,16.4%,41.4,351,4700,3434,459,590,217,6.9%,93.1%,68.0%,9.1%,11.7%,4.3%,NaN,0,23,97,97,NaN,590,459,NaN,2396,2655,90.2,204,373,104,154,159,1026,746,983,392,125,444,195,146,41.4,790,4302,4261,4162,828,785,4261,2025,2236,90.6,785,378,407,92.9,5051,4954,97,4954,3748,459,0,0,0,0,0,590,262,172,34,44,47,0,31,23,23,0,0,0,134,97,50,0,21,0,5051,3845,535,26,611,23,134,5051,351,72,16,15,248,4700,3434,459,0,590,23,97,97,0,97,2672,3946,1956,1990,5051,47.4,52.6,(X),4,7.4,2.1,3,3.1,20.3,14.8,19.5,7.8,2.5,8.8,3.9,2.9,(X),15.6,85.2,84.4,82.4,16.4,15.5,4261,47.5,52.5,(X),785,48.2,51.8,(X),5051,98.1,1.9,98.1,74.2,9.1,0,0,0,0,0,11.7,5.2,3.4,0.7,0.9,0.9,0,0.6,0.5,0.5,0,0,0,2.7,1.9,1,0,0.4,0,5051,76.1,10.6,0.5,12.1,0.5,2.7,5051,6.9,1.4,0.3,0.3,4.9,93.1,68,9.1,0,11.7,0.5,1.9,1.9,0,1.9,(X),3946,49.6,50.4
3,06001400400,06001,Alameda County,CA,400400,4004,4007,596,14.9%,35.6,485,3522,2554,266,420,282,12.1%,87.9%,63.7%,6.6%,10.5%,7.0%,NaN,35,0,0,247,NaN,420,291,NaN,1760,2247,78.3,180,196,271,134,128,1056,636,565,133,234,287,138,49,35.6,747,3306,3260,3209,596,474,3260,1350,1910,70.7,474,158,316,50,4007,3702,305,3702,2748,291,44,0,0,0,0,420,95,134,38,32,51,18,52,0,0,0,0,0,199,305,32,12,206,0,4007,3029,372,98,626,0,229,4007,485,315,28,0,142,3522,2554,266,35,420,0,0,247,0,247,1931,2979,1271,1708,4007,43.9,56.1,(X),4.5,4.9,6.8,3.3,3.2,26.4,15.9,14.1,3.3,5.8,7.2,3.4,1.2,(X),18.6,82.5,81.4,80.1,14.9,11.8,3260,41.4,58.6,(X),474,33.3,66.7,(X),4007,92.4,7.6,92.4,68.6,7.3,1.1,0,0,0,0,10.5,2.4,3.3,0.9,0.8,1.3,0.4,1.3,0,0,0,0,0,5,7.6,0.8,0.3,5.1,0,4007,75.6,9.3,2.4,15.6,0,5.7,4007,12.1,7.9,0.7,0,3.5,87.9,63.7,6.6,0.9,10.5,0,0,6.2,0,6.2,(X),2979,42.7,57.3
4,06001400500,06001,Alameda County,CA,400500,4005,4124,411,10.0%,35.1,390,3734,1874,882,446,532,9.5%,90.5%,45.4%,21.4%,10.8%,12.9%,NaN,0,22,6,504,NaN,446,882,NaN,2014,2110,95.5,254,122,168,61,510,928,878,595,169,71,213,122,33,35.1,596,3548,3528,3499,411,368,3528,1633,1895,86.2,368,88,280,31.4,4124,3496,628,3496,2036,882,0,0,0,0,0,446,142,168,16,36,55,19,10,22,0,0,0,22,110,628,44,95,212,0,4124,2471,991,160,851,195,149,4124,390,216,13,30,131,3734,1874,882,0,446,22,6,504,20,484,1709,3116,1451,1665,4124,48.8,51.2,(X),6.2,3,4.1,1.5,12.4,22.5,21.3,14.4,4.1,1.7,5.2,3,0.8,(X),14.5,86,85.5,84.8,10,8.9,3528,46.3,53.7,(X),368,23.9,76.1,(X),4124,84.8,15.2,84.8,49.4,21.4,0,0,0,0,0,10.8,3.4,4.1,0.4,0.9,1.3,0.5,0.2,0.5,0,0,0,0.5,2.7,15.2,1.1,2.3,5.1,0,4124,59.9,24,3.9,20.6,4.7,3.6,4124,9.5,5.2,0.3,0.7,3.2,90.5,45.4,21.4,0,10.8,0.5,0.1,12.2,0.5,11.7,(X),3116,46.6,53.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

In [71]:
alameda_census_rm = pd.merge(
    alameda_census_counts,
    census_alameda,
    on='census_tract',
    how='left',
    validate='1:1'
)

In [75]:
alameda_census_rm.sample(10)

,census_tract,rm_no,county_code,county,state_code,census_tract_np,census_tract_period,total_population,62yr_population,62yr_pp_pct,median_age,hispanic_population,non_hispanic_population,non_hispanic_white_population,non_hispanic_black_population,non_hispanic_asian_population,other_races_population,hispanic_pp_pct,non_hispanic_pp_pct,non_hispanic_white_pp_pct,non_hispanic_black_pp_pct,non_hispanic_asian_pp_pct,other_races_pp_pct,Unnamed: 22,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races,Unnamed: 27,asian_1_population,black_1_population,Unnamed: 30,Estimate!!SEX AND AGE!!Total population!!Male,Estimate!!SEX AND AGE!!Total population!!Female,Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!Under 5 years,Estimate!!SEX AND AGE!!Total population!!5 to 9 years,Estimate!!SEX AND AGE!!Total population!!10 to 14 years,Estimate!!SEX AND AGE!!Total population!!15 to 19 years,Estimate!!SEX AND AGE!!Total population!!20 to 24 years,Estimate!!SEX AND AGE!!Total population!!25 to 34 years,Estimate!!SEX AND AGE!!Total population!!35 to 44 years,Estimate!!SEX AND AGE!!Total population!!45 to 54 years,Estimate!!SEX AND AGE!!Total population!!55 to 59 years,Estimate!!SEX AND AGE!!Total population!!60 to 64 years,Estimate!!SEX AND AGE!!Total population!!65 to 74 years,Estimate!!SEX AND AGE!!Total population!!75 to 84 years,Estimate!!SEX AND AGE!!Total population!!85 years and over,Estimate!!SEX AND AGE!!Total population!!Median age (years),Estimate!!SEX AND AGE!!Total population!!Under 18 years,Estimate!!SEX AND AGE!!Total population!!16 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over,Estimate!!SEX AND AGE!!Total population!!21 years and over,Estimate!!SEX AND AGE!!Total population!!62 years and over,Estimate!!SEX AND AGE!!Total population!!65 years and over,Estimate!!SEX AND AGE!!Total population!!18 years and over.1,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Estimate!!SEX AND AGE!!Total population!!65 years and over.1,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female,Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Estimate!!RACE!!Total population,Estimate!!RACE!!Total population!!One race,Estimate!!RACE!!Total population!!Two or more races,Estimate!!RACE!!Total population!!One race.1,Estimate!!RACE!!Total population!!One race!!White,Estimate!!RACE!!Total population!!One race!!Black or African American,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping,Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping,Estimate!!RACE!!Total population!!One race!!Asian,Estimate!!RACE!!Total population!!One race!!Asian!!Asian Indian,Estimate!!RACE!!Total population!!One race!!Asian!!Chinese,Estimate!!RACE!!Total population!!One race!!Asian!!Filipino,Estimate!!RACE!!Total population!!One race!!Asian!!Japanese,Estimate!!RACE!!Total population!!One race!!Asian!!Korean,Estimate!!RACE!!Total population!!One race!!Asian!!Vietnamese,Estimate!!RACE!!Total population!!One race!!Asian!!Other Asian,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Guamanian or Chamorro,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan,Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Pacific Islander,Estimate!!RACE!!Total population!!One race!!Some other race,Estimate!!RACE!!Total population!!Two or more races.1,Estimate!!RACE!!Total population!!Two or more races!!White and Black or African American,Estimate!!RACE!!Total population!!Two or more races!!White and American Indian and Alaska Native,Estimate!!RACE!!Total population!!Two or more races!!White and Asian,Estimate!!RACE!!Total population!!Two or more races!!Black or African American and American Indian and Alaska Native,Estimate!!Race alone or in combination with one or more other races!!Total population,Estimate!!Race alone or in combination with one or more other races!!Total population!!White,Estimate!!Race alone or in combination with one or more other races!!Total population!!Black or African American,Estimate!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native,Estimate!!Race alone or in combination with one or more other races!!Total population!!Asian,Estimate!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander,Estimate!!Race alone or in combination with one or more other races!!Total population!!Some other race,Estimate!!HISPANIC OR LATINO AND RACE!!Total population,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race),Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone.1,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone.1,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone.1,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races.1,Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race,"Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races",Estimate!!Total housing units,"Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Estimate!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female",Percent!!SEX AND AGE!!Total population,Percent!!SEX AND AGE!!Total population!!Male,Percent!!SEX AND AGE!!Total population!!Female,Percent!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females),Percent!!SEX AND AGE!!Total population!!Under 5 years,Percent!!SEX AND AGE!!Total population!!5 to 9 years,Percent!!SEX AND AGE!!Total population!!10 to 14 years,Percent!!SEX AND AGE!!Total population!!15 to 19 years,Percent!!SEX AND AGE!!Total population!!20 to 24 years,Percent!!SEX AND AGE!!Total population!!25 to 34 years,Percent!!SEX AND AGE!!Total population!!35 to 44 years,Percent!!SEX AND AGE!!Total population!!45 to 54 years,Percent!!SEX AND AGE!!Total population!!55 to 59 years,Percent!!SEX AND AGE!!Total population!!60 to 64 years,Percent!!SEX AND AGE!!Total population!!65 to 74 years,Percent!!SEX AND AGE!!Total population!!75 to 84 years,Percent!!SEX AND AGE!!Total population!!85 years and over,Percent!!SEX AND AGE!!Total population!!Median age (years),Percent!!SEX AND AGE!!Total population!!Under 18 years,Percent!!SEX AND AGE!!Total population!!16 years and over,Percent!!SEX AND AGE!!Total population!!18 years and over,Percent!!SEX AND AGE!!Total population!!21 years and over,Percent!!SEX AND AGE!!Total population!!62 years and over,Percent!!SEX AND AGE!!Total population!!65 years and over,Percent!!SEX AND AGE!!Total population!!18 years and over.1,Percent!!SEX AND AGE!!Total population!!18 years and over!!Male,Percent!!SEX AND AGE!!Total population!!18 years and over!!Female,Percent!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females),Percent!!SEX AND AGE!!Total population!!65 years and over.1,Percent!!SEX AND AGE!!Total population!!65 years and over!!Male,Percent!!SEX AND AGE!!Total population!!65 years and over!!Female,Percent!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females),Percent!!RACE!!Total population,Percent!!RACE!!Total population!!One race,Percent!!RACE!!Total population!!Two or more races,Percent!!RACE!!Total population!!One race.1,Percent!!RACE!!Total population!!One race!!White,Percent!!RACE!!Total population!!One race!!Black or African American,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping,Percent!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping,Percent!!RACE!!Total population!!One race!!Asian,Percent!!RACE!!Total population!!One race!!Asian!!Asian Indian,Percent!!RACE!!Total population!!One race!!Asian!!Chinese,Percent!!RACE!!Total population!!One race!!Asian!!Filipino,Percent!!RACE!!Total population!!One race!!Asian!!Japanese,Percent!!RACE!!Total population!!One race!!Asian!!Korean,Percent!!RACE!!Total population!!One race!!Asian!!Vietnamese,Percent!!RACE!!Total population!!One race!!Asian!!Other Asian,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Guamanian or Chamorro,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan,Percent!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Pacific Islander,Percent!!RACE!!Total population!!One race!!Some other race,Percent!!RACE!!Total population!!Two or more races.1,Percent!!RACE!!Total population!!Two or more races!!White and Black or African American,Percent!!RACE!!Total population!!Two or more races!!White and American Indian and Alaska Native,Percent!!RACE!!Total population!!Two or more races!!White and Asian,Percent!!RACE!!Total population!!Two or more races!!Black or African American and American Indian and Alaska Native,Percent!!Race alone or in combination with one or more other races!!Total population,Percent!!Race alone or in combination with one or more other races!!Total population!!White,Percent!!Race alone or in combination with one or more other races!!Total population!!Black or African American,Percent!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native,Percent!!Race alone or in combination with one or more other races!!Total population!!Asian,Percent!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander,Percent!!Race alone or in combination with one or more other races!!Total population!!Some other race,Percent!!HISPANIC OR LATINO AND RACE!!Total population,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race),Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races,Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race,"Percent!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races",Percent!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","Percent!!CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female"
200,06001450745,4,06001,Alameda County,CA,450745,4507.45,6712,1107,16.5%,41.7,666,6046,1966,26,3899,155,9.9%,90.1%,29.3%,0.4%,58.1%,2.3%,NaN,19,37,0,99,NaN,3899,26,NaN,3052,3660,83.4,229,652,579,404,192,439,1198,1384,339,369,523,267,137,41.7,1809,5158,4903,4796,1107,927,4903,2266,2637,85.9,927,347,580,59.8,6712,6476,236,6476,2255,26,19,0,0,0,0,3899,2015,1346,88,38,351,0,61,37,0,0,37,0,240,236,19,74,61,0,6712,2491,73,175,3960,37,294,6712,666,458,6,0,202,6046,1966,26,19,3899,37,0,99,0,99,2452,4145,1892,2253,6712,45.5,54.5,(X),3.4,9.7,8.6,6,2.9,6.5,17.8,20.6,5.1,5.5,7.8,4,2,(X),27,76.8,73,71.5,16.5,13.8,4903,46.2,53.8,(X),927,37.4,62.6,(X),6712,96.5,3.5,96.5,33.6,0.4,0.3,0,0,0,0,58.1,30,20.1,1.3,0.6,5.2,0,0.9,0.6,0,0,0.6,0,3.6,3.5,0.3,1.1,0.9,0,6712,37.1,1.1,2.6,59,0.6,4.4,6712,9.9,6.8,0.1,0,3,90.1,29.3,0.4,0.3,58.1,0.6,0,1.5,0,1.5,(X),4145,45.6,54.4
118,06001400500,7,06001,Alameda County,CA,400500,4005,4124,411,10.0%,35.1,390,3734,1874,882,446,532,9.5%,90.5%,45.4%,21.4%,10.8%,12.9%,NaN,0,22,6,504,NaN,446,882,NaN,2014,2110,95.5,254,122,168,61,510,928,878,595,169,71,213,122,33,35.1,596,3548,3528,3499,411,368,3528,1633,1895,86.2,368,88,280,31.4,4124,3496,628,3496,2036,882,0,0,0,0,0,446,142,168,16,36,55,19,10,22,0,0,0,22,110,628,44,95,212,0,4124,2471,991,160,851,195,149,4124,390,216,13,30,131,3734,1874,882,0,446,22,6,504,20,484,1709,3116,1451,1665,4124,48.8,51.2,(X),6.2,3,4.1,1.5,12.4,22.5,21.3,14.4,4.1,1.7,5.2,3,0.8,(X),14.5,86,85.5,84.8,10,8.9,3528,46.3,53.7,(X),368,23.9,76.1,(X),4124,84.8,15.2,84.8,49.4,21.4,0,0,0,0,0,10.8,3.4,4.1,0.4,0.9,1.3,0.5,0.2,0.5,0,0,0,0.5,2.7,15.2,1.1,2.3,5.1,0,4124,59.9,24,3.9,20.6,4.7,3.6,4124,9.5,5.2,0.3,0.7,3.2,90.5,45.4,21.4,0,10.8,0.5,0.1,12.2,0.5,11.7,(X),3116,46.6,53.4
184,06001433104,4,06001,Alameda County,CA,433104,4331.04,3724,915,24.6%,41.6,1112,2612,1061,811,451,289,29.9%,70.1%,28.5%,21.8%,12.1%,7.8%,NaN,24,0,5,260,NaN,451,820,NaN,1797,1927,93.3,269,112,34,80,240,922,269,613,173,296,376,266,74,41.6,485,3309,3239,3199,915,716,3239,1512,1727,87.6,716,347,369,94,3724,3305,419,3305,1668,820,24,0,0,16,0,451,54,156,203,0,7,14,17,0,0,0,0,0,342,419,88,13,65,18,3724,1955,1046,140,609,23,448,3724,1112,850,41,0,221,2612,1061,811,24,451,0,5,260,0,260,1935,2764,1345,1419,3724,48.3,51.7,(X),7.2,3,0.9,2.1,6.4,24.8,7.2,16.5,4.6,7.9,10.1,7.1,2,(X),13,88.9,87,85.9,24.6,19.2,3239,46.7,53.3,(X),716,48.5,51.5,(X),3724,88.7,11.3,88.7,44.8,22,0.6,0,0,0.4,0,12.1,1.5,4.2,5.5,0,0.2,0.4,0.5,0,0,0,0,0,9.2,11.3,2.4,0.3,1.7,0.5,3724,52.5,28.1,3.8,16.4,0.6,12,3724,29.9,22.8,1.1,0,5.9,70.1,28.5,21.8,0.6,12.1,0,0.1,7,0,7,(X),2764,48.7,51.3
257,06001441927,2,06001,Alameda County,CA,441927,4419.27,4492,516,11.5%,33,436,4056,613,146,2948,349,9.7%,90.3%,13.6%,3.3%,65.6%,7.8%,NaN,19,62,8,260,NaN,2957,146,NaN,2208,2284,96.7,542,244,67,104,152,1490,803,448,114,90,126,168,144,33,927,3602,3565,3515,516,438,3565,1781,1784,99.8,438,153,285,53.7,4492,4189,303,4189,687,146,19,0,0,0,0,2957,1965,441,78,64,29,197,183,62,28,0,34,0,318,303,62,0,164,0,4492,958,208,27,3153,62,395,4492,436,354,9,0,73,4056,613,146,19,2948,62,8,260,43,217,1916,1783,829,954,4492,49.2,50.8,(X),12.1,5.4,1.5,2.3,3.4,33.2,17.9,10,2.5,2,2.8,3.7,3.2,(X),20.6,80.2,79.4,78.3,11.5,9.8,3565,50,50,(X),438,34.9,65.1,(X),4492,93.3,6.7,93.3,15.3,3.3,0.4,0,0,0,0,65.8,43.7,9.8,1.7,1.4,0.6,4.4,4.1,1.4,0.6,0,0.8,0,7.1,6.7,1.4,0,3.7,0,4492,21.3,4.6,0.6,70.2,1.4,8.8,4492,9.7,7.9,0.2,0,1.6,90.3,13.6,3.3,0.4,65.6,1.4,0.2,5.8,1,4.8,(X),1783,46.5,53.5
215,06001402200,4,06001,Alameda County,CA,402200,4022,2477,336,13.6%,34.4,402,2075,740,787,405,143,16.2%,83.8%,29.9%,31.8%,16.4%,5.8%,NaN,31,0,0,112,NaN,405,798,NaN,1360,1117,121.8,91,194,117,172,139,546,499,214,128,144,129,81,23,34.4,568,2018,1909,1886,336,233,1909,1008,901,111.9,233,106,127,83.5,2477,2284,193,2284,829,798,40,0,3,0,0,405,8,252,37,0,9,37,62,0,0,0,0,0,212,193,91,6,46,0,2477,1017,897,59,451,0,254,2477,402,314,31,6,51,2075,740,787,31,405,0,0,112,9,103,995,1747,930,817,2477,54.9,45.1,(X),3.7,7.8,4.7,6.9,5.6,22,20.1,8.6,5.2,5.8,5.2,3.3,0.9,(X),22.9,81.5,77.1,76.1,13.6,9.4,1909,52.8,47.2,(X),233,45.5,54.5,(X),2477,92.2,7.8,92.2,33.5,32.2,1.6,0,0.1,0,0,16.4,0.3,10.2,1.5,0,0.4,1.5,2.5,0,0,0,0,0,8.6,7.8,3.7,0.2,1.9,0,2477,41.1,36.2,2.4,18.2,0,10.3,2477,16.2,12.7,1.3,0.2,2.1,83.8,29.9,31.8,1.3,16.4,0,0,4.5,0.4,4.2,(X),1747,53.2,46.8
191,06001437300,4,06001,Alameda County,CA,437300,4373,3277,526,16.1%,38.8,1249,2028,453,403,929,243,38.1%,61.9%,13.8%,12.3%,28.3%,7.4%,NaN,1,61,0,181,NaN,929,403,NaN,1497,1780,84.1,151,186,234,184,276,399,636,420,224,159,251,137,20,38.8,687,2650,2590,2450,526,408,2590,1135,1455,78,408,143,265,54,3277,3046,231,3046,898,403,1,0,0,0,0,929,207,84,372,0,0,195,71,61,0,0,0,61,754,231,0,9,11,0,3277,986,403,15,1118,249,797,3277,1249,950,8,0,291,2028,453,403,1,929,61,0,181,13,168,959,2139,920,1219,3277,45.7,54.3,(X),4.6,5.7,7.1,5.6,8.4,12.2,19.4,12.8,6.8,4.9,7.7,4.2,0.6,(X),21,80.9,79,74.8,16.1,12.5,2590,43.8,56.2,(X),408,35,65,(X),3277,93,7,93,27.4,12.3,0,0,0,0,0,28.3,6.3,2.6,11.4,0,0,6,2.2,1.9,0,0,0,1.9,23,7,0,0.3,0.3,0,3277,30.1,12.3,0.5,34.1,7.6,24.3,3277,38.1,29,0.2,0,8.9,61.9,13.8,12.3,0,28.3,1.9,0,5.5,0.4,5.1,(X),2139,43,57

In [78]:
alameda_census_rm.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 0 to 312
Data columns (total 209 columns):
 #    Column                                                                                                                                                            Dtype
---   ------                                                                                                                                                            -----
 0    census_tract                                                                                                                                                      object
 1    rm_no                                                                                                                                                             int64
 2    county_code                                                                                                                                                       object
 3    county                                                                                                                                                            object
 4    state_code                                                                                                                                                        object
 5    census_tract_np                                                                                                                                                   object
 6    census_tract_period                                                                                                                                               object
 7    total_population                                                                                                                                                  int64
 8    62yr_population                                                                                                                                                   int64
 9    62yr_pp_pct                                                                                                                                                       object
 10   median_age                                                                                                                                                        object
 11   hispanic_population                                                                                                                                               int64
 12   non_hispanic_population                                                                                                                                           int64
 13   non_hispanic_white_population                                                                                                                                     int64
 14   non_hispanic_black_population                                                                                                                                     int64
 15   non_hispanic_asian_population                                                                                                                                     int64
 16   other_races_population                                                                                                                                            int64
 17   hispanic_pp_pct                                                                                                                                                   object
 18   non_hispanic_pp_pct                                                                                                                                               object
 19   non_hispanic_white_pp_pct                                                                                                                                         object
 20   non_hispanic_black_pp_pct                                                                                                                                         object
 21   non_hispanic_asian_pp_pct                                                                                                                                         object
 22   other_races_pp_pct                                                                                                                                                object
 23   Unnamed: 22                                                                                                                                                       float64
 24   Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone                                          int64
 25   Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone                                 int64
 26   Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone                                                            int64
 27   Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races                                                                int64
 28   Unnamed: 27                                                                                                                                                       float64
 29   asian_1_population                                                                                                                                                int64
 30   black_1_population                                                                                                                                                int64
 31   Unnamed: 30                                                                                                                                                       float64
 32   Estimate!!SEX AND AGE!!Total population!!Male                                                                                                                     int64
 33   Estimate!!SEX AND AGE!!Total population!!Female                                                                                                                   int64
 34   Estimate!!SEX AND AGE!!Total population!!Sex ratio (males per 100 females)                                                                                        object
 35   Estimate!!SEX AND AGE!!Total population!!Under 5 years                                                                                                            int64
 36   Estimate!!SEX AND AGE!!Total population!!5 to 9 years                                                                                                             int64
 37   Estimate!!SEX AND AGE!!Total population!!10 to 14 years                                                                                                           int64
 38   Estimate!!SEX AND AGE!!Total population!!15 to 19 years                                                                                                           int64
 39   Estimate!!SEX AND AGE!!Total population!!20 to 24 years                                                                                                           int64
 40   Estimate!!SEX AND AGE!!Total population!!25 to 34 years                                                                                                           int64
 41   Estimate!!SEX AND AGE!!Total population!!35 to 44 years                                                                                                           int64
 42   Estimate!!SEX AND AGE!!Total population!!45 to 54 years                                                                                                           int64
 43   Estimate!!SEX AND AGE!!Total population!!55 to 59 years                                                                                                           int64
 44   Estimate!!SEX AND AGE!!Total population!!60 to 64 years                                                                                                           int64
 45   Estimate!!SEX AND AGE!!Total population!!65 to 74 years                                                                                                           int64
 46   Estimate!!SEX AND AGE!!Total population!!75 to 84 years                                                                                                           int64
 47   Estimate!!SEX AND AGE!!Total population!!85 years and over                                                                                                        int64
 48   Estimate!!SEX AND AGE!!Total population!!Median age (years)                                                                                                       object
 49   Estimate!!SEX AND AGE!!Total population!!Under 18 years                                                                                                           int64
 50   Estimate!!SEX AND AGE!!Total population!!16 years and over                                                                                                        int64
 51   Estimate!!SEX AND AGE!!Total population!!18 years and over                                                                                                        int64
 52   Estimate!!SEX AND AGE!!Total population!!21 years and over                                                                                                        int64
 53   Estimate!!SEX AND AGE!!Total population!!62 years and over                                                                                                        int64
 54   Estimate!!SEX AND AGE!!Total population!!65 years and over                                                                                                        int64
 55   Estimate!!SEX AND AGE!!Total population!!18 years and over.1                                                                                                      int64
 56   Estimate!!SEX AND AGE!!Total population!!18 years and over!!Male                                                                                                  int64
 57   Estimate!!SEX AND AGE!!Total population!!18 years and over!!Female                                                                                                int64
 58   Estimate!!SEX AND AGE!!Total population!!18 years and over!!Sex ratio (males per 100 females)                                                                     object
 59   Estimate!!SEX AND AGE!!Total population!!65 years and over.1                                                                                                      int64
 60   Estimate!!SEX AND AGE!!Total population!!65 years and over!!Male                                                                                                  int64
 61   Estimate!!SEX AND AGE!!Total population!!65 years and over!!Female                                                                                                int64
 62   Estimate!!SEX AND AGE!!Total population!!65 years and over!!Sex ratio (males per 100 females)                                                                     object
 63   Estimate!!RACE!!Total population                                                                                                                                  int64
 64   Estimate!!RACE!!Total population!!One race                                                                                                                        int64
 65   Estimate!!RACE!!Total population!!Two or more races                                                                                                               int64
 66   Estimate!!RACE!!Total population!!One race.1                                                                                                                      int64
 67   Estimate!!RACE!!Total population!!One race!!White                                                                                                                 int64
 68   Estimate!!RACE!!Total population!!One race!!Black or African American                                                                                             int64
 69   Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native                                                                                     int64
 70   Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Cherokee tribal grouping                                                           int64
 71   Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Chippewa tribal grouping                                                           int64
 72   Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Navajo tribal grouping                                                             int64
 73   Estimate!!RACE!!Total population!!One race!!American Indian and Alaska Native!!Sioux tribal grouping                                                              int64
 74   Estimate!!RACE!!Total population!!One race!!Asian                                                                                                                 int64
 75   Estimate!!RACE!!Total population!!One race!!Asian!!Asian Indian                                                                                                   int64
 76   Estimate!!RACE!!Total population!!One race!!Asian!!Chinese                                                                                                        int64
 77   Estimate!!RACE!!Total population!!One race!!Asian!!Filipino                                                                                                       int64
 78   Estimate!!RACE!!Total population!!One race!!Asian!!Japanese                                                                                                       int64
 79   Estimate!!RACE!!Total population!!One race!!Asian!!Korean                                                                                                         int64
 80   Estimate!!RACE!!Total population!!One race!!Asian!!Vietnamese                                                                                                     int64
 81   Estimate!!RACE!!Total population!!One race!!Asian!!Other Asian                                                                                                    int64
 82   Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander                                                                            int64
 83   Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Native Hawaiian                                                           int64
 84   Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Guamanian or Chamorro                                                     int64
 85   Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Samoan                                                                    int64
 86   Estimate!!RACE!!Total population!!One race!!Native Hawaiian and Other Pacific Islander!!Other Pacific Islander                                                    int64
 87   Estimate!!RACE!!Total population!!One race!!Some other race                                                                                                       int64
 88   Estimate!!RACE!!Total population!!Two or more races.1                                                                                                             int64
 89   Estimate!!RACE!!Total population!!Two or more races!!White and Black or African American                                                                          int64
 90   Estimate!!RACE!!Total population!!Two or more races!!White and American Indian and Alaska Native                                                                  int64
 91   Estimate!!RACE!!Total population!!Two or more races!!White and Asian                                                                                              int64
 92   Estimate!!RACE!!Total population!!Two or more races!!Black or African American and American Indian and Alaska Native                                              int64
 93   Estimate!!Race alone or in combination with one or more other races!!Total population                                                                             int64
 94   Estimate!!Race alone or in combination with one or more other races!!Total population!!White                                                                      int64
 95   Estimate!!Race alone or in combination with one or more other races!!Total population!!Black or African American                                                  int64
 96   Estimate!!Race alone or in combination with one or more other races!!Total population!!American Indian and Alaska Native                                          int64
 97   Estimate!!Race alone or in combination with one or more other races!!Total population!!Asian                                                                      int64
 98   Estimate!!Race alone or in combination with one or more other races!!Total population!!Native Hawaiian and Other Pacific Islander                                 int64
 99   Estimate!!Race alone or in combination with one or more other races!!Total population!!Some other race                                                            int64
 100  Estimate!!HISPANIC OR LATINO AND RACE!!Total population                                                                                                           int64
 101  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)                                                                         int64
 102  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Mexican                                                                int64
 103  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Puerto Rican                                                           int64
 104  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Cuban                                                                  int64
 105  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Hispanic or Latino (of any race)!!Other Hispanic or Latino                                               int64
 106  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino                                                                                   int64
 107  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!White alone                                                                      int64
 108  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Black or African American alone                                                  int64
 109  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!American Indian and Alaska Native alone.1                                        int64
 110  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Asian alone                                                                      int64
 111  Estimate!!HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone.1                               int64

In [79]:
# subset to the columns that I need

alameda_census_rm = alameda_census_rm[['census_tract', 'rm_no', 'county_code', 'county', 'state_code', 'census_tract_np', 'census_tract_period', 'total_population', '62yr_pp_pct', 'median_age', 'hispanic_pp_pct', 'non_hispanic_black_pp_pct']].copy()

In [80]:
alameda_census_rm

,census_tract,rm_no,county_code,county,state_code,census_tract_np,census_tract_period,total_population,62yr_pp_pct,median_age,hispanic_pp_pct,non_hispanic_black_pp_pct
0,06001450602,25,06001,Alameda County,CA,450602,4506.02,10265,18.9%,43.4,8.2%,2.7%
1,06001433300,24,06001,Alameda County,CA,433300,4333,7761,20.9%,42.8,23.5%,0.3%
2,06001407700,21,06001,Alameda County,CA,407700,4077,4122,19.5%,43.9,16.2%,42.9%
3,06001408100,21,06001,Alameda County,CA,408100,4081,6320,28.7%,45,10.1%,23.8%
4,06001444100,20,06001,Alameda County,CA,444100,4441,7556,24.2%,46.9,28.8%,1.1%
...,...,...,...,...,...,...,...,...,...,...,...,...
308,06001435104,1,06001,Alameda County,CA,435104,4351.04,6117,11.8%,31.6,38.6%,11.0%
309,06001431000,1,06001,Alameda County,CA,431000,4310,2777,13.9%,36.9,19.4%,5.7%
310,06001450743,1,06001,Alameda County,CA,450743,4507.43,6684,5.4%,32.6,5.8%,5.3%
311,06001401300,1,06001,Alameda County,CA,401300,4013,3921,18.2%,37.4,10.1%,28.5%
312,06001435601,1,06001,Alameda County,CA,435601,4356.01,5662,10.3%,31,57.3%,12.7%

In [81]:
# calculate rm per 1000 people

alameda_census_rm['_rm_per_1000'] = (
    alameda_census_rm['rm_no'] / alameda_census_rm['total_population'] * 1000
)

In [83]:
alameda_census_rm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 313 entries, 0 to 312
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   census_tract               313 non-null    object
 1   rm_no                      313 non-null    int64
 2   county_code                313 non-null    object
 3   county                     313 non-null    object
 4   state_code                 313 non-null    object
 5   census_tract_np            313 non-null    object
 6   census_tract_period        313 non-null    object
 7   total_population           313 non-null    int64
 8   62yr_pp_pct                313 non-null    object
 9   median_age                 313 non-null    object
 10  hispanic_pp_pct            313 non-null    object
 11  non_hispanic_black_pp_pct  313 non-null    object
 12  _rm_per_1000               313 non-null    float64
dtypes: float64(1), int64(2), object(10)
memory usage: 34.2+ KB

In [84]:
# get the column names

cols = list(alameda_census_rm.columns.values)
cols

In [86]:
# reorder the columns

alameda_census_rm = alameda_census_rm[[
    'census_tract', 
    '_rm_per_1000',
    'rm_no',
    'county_code',
    'county',
    'state_code',
    'census_tract_np',
    'census_tract_period',
    'total_population',
    '62yr_pp_pct',
    'median_age',
    'hispanic_pp_pct',
    'non_hispanic_black_pp_pct',
 ]]

In [89]:
# sort by reverse mortgages originated per 1000 people

alameda_census_rm.sort_values(by='_rm_per_1000', ascending=False)

,census_tract,_rm_per_1000,rm_no,county_code,county,state_code,census_tract_np,census_tract_period,total_population,62yr_pp_pct,median_age,hispanic_pp_pct,non_hispanic_black_pp_pct
65,06001421400,6.119951,10,06001,Alameda County,CA,421400,4214,1634,37.5%,54.1,6.4%,1.8%
5,06001409900,5.491488,20,06001,Alameda County,CA,409900,4099,3642,25.5%,48.9,8.1%,47.1%
87,06001425101,5.424955,9,06001,Alameda County,CA,425101,4251.01,1659,33.8%,50.5,5.8%,3.5%
2,06001407700,5.094614,21,06001,Alameda County,CA,407700,4077,4122,19.5%,43.9,16.2%,42.9%
10,06001404300,4.647110,16,06001,Alameda County,CA,404300,4043,3443,22.7%,44.9,12.0%,1.7%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,06001435104,0.163479,1,06001,Alameda County,CA,435104,4351.04,6117,11.8%,31.6,38.6%,11.0%
285,06001423602,0.153186,1,06001,Alameda County,CA,423602,4236.02,6528,6.2%,22.2,8.7%,1.3%
310,06001450743,0.149611,1,06001,Alameda County,CA,450743,4507.43,6684,5.4%,32.6,5.8%,5.3%
288,06001441925,0.137155,1,06001,Alameda County,CA,441925,4419.25,7291,5.4%,31,7.5%,6.0%
286,06001433900,0.130124,1,06001,Alameda County,CA,433900,4339,7685,9.0%,31.2,40.6%,22.3%